.container-home {
	width: 100%;
    height: 100vh;
	position: relative;
	background-image: url('/images/background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
}

.hero {
	width: 45%;
	position: absolute;
	top: 10%;
}

.title {
	font-size: 7rem;
	color: $color-white;
	font-weight: bold;
}

.btn-home {
	background-color: $color-white;
	padding: 25px 40px;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 60px;
	margin-top: 40px;
	display: inline-block;
}

.container-movies {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.container-detail {
	margin: 60px 50px;
	display: flex;
}

.description-detail{
	padding-left: 50px;
}

.movie-card {
    margin-left: 2.5%;
    margin-right: 2.5%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    width: 180px;
}

.movie-card img {
	max-width: 100%;
	height: auto;
	display: block;
}

@media screen and (min-width: 768px) {
	.movie-card {
		margin-left: 5%;
		margin-right: 5%;
	}
}

