body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin:0;
}

a {
  color: #00B7FF;
}
#home{
  position:absolute;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background-image: url('../images/cinema.jpg');
  background-size:cover;
  a,h1{
    margin:20px 20%;
  }
  h1{
    width:250px;
    font-size: 80px;
    color:white;
    margin-top:100px;
  }
  a{
    width: 200px;
    color:#6ea2b2;
    background:white;
    border-radius: 30px;
    padding:20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }
}

#movies {
  padding: 20px;
  ul,li{
    display: flex;
  }
  ul {
    flex-wrap: wrap;
    justify-content:space-around;
  }
  li{
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 20px 0;
  }
  h1{
    padding-left: 20px;
  }
}
#movie {
  display: flex;
  padding: 30px;
  align-items: center;
  .left {
    width: 20%;
    margin-left: 30px;
  }
  .right {
    padding-left: 5px;
    width: 50%;
    ul {
      padding-left: 20px;
    }
    .times {
      padding: 0px;
      display: flex;
      li {
        list-style: none;
        margin-left: 3px;
      }
    }
  }
}