*{
  margin:0;
  padding: 0;
}

.movies-index {
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.button-movies {
  position: absolute;
  background-color: white;
  border-radius: 2em/2em;
  width: 286px;
  height: 51px;
  text-align: center;
  padding-top: 25px;
  margin-left: 55%;
  margin-top: 30%;
  font-size: 29px;
  text-decoration: none;
}


.title{
  color: white;
  font-size: 145px;
  position: absolute;
  margin-left: 54%;
  font-weight: bold;
  width: 10%;
}

.movies{
  display: inline-block;
  width: 28%;
  margin-left: 4%;
  margin-top: 5%;
  color: white;
  font-size: 27px;
}

.back-movies{
  background-image: url("/images/why.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}