{{!-- --- iteration 4 --- --}}

<div>
    {{#with details}}
    <article>
        <img src="{{this.image}}" alt="">
    </article>

    <article>
        <p></p>
        <p></p>
        <ul>

        </ul>
        <p></p>
        <p></p>
    </article>
    {{/with}}
</div>