body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#index-image {
  background-image: url("/images/cinema.jpg");
  background-size: 100%;
}

.pelicula {
  display: inline-block;
  padding: 1.5% 5%;
  text-align: center;
}

.cover {
  display: inline-block;
  padding: 1.5% 5%;
}

.details {
  display: inline-block;
  width: 30%;
  height: 300px;
  top: -2%;
}
