<div class="col-3">
      <div class="card h-100" style="width: 18rem;">
          <img src={{this.image}} class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.description}}</p>
                  <a href="#" class="btn btn-primary">See more</a>
               </div>
       </div>
</div>