<div class="col-lg-4">
    <div class="card">
        <img class="card-img-top" src="{{image}}" alt="Movie image">
        <div class="card-body">
            <h3>{{title}}</h3>
        </div>
        <div class="see-more">
            <small><a href="/movies/details/{{_id}}" class="btn btn-secondary btn-sm">See more</a></small>
        </div>
    </div>
</div>