<div class="col-3 m-2">
    <div class="card">
    <img src="{{this.image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="movie/{{this.id}}" class="btn btn-primary">See More</a>
    </div>
    </div>
</div>