<div class="movieList">
    <img src="{{image}}" alt="{{title}}" class="image-list"/>

      <h5 >
        {{title}}
      </h5>

      <p class="card-text">
        <a href="/movie/{{_id}}" class="buttonLink colorBlue" style="">See More Info</a>
      </p>
    
</div>