<div class='movie-card'>
  <img src='{{image}}' alt='movie-img' />
  <div class='title'>{{title}}</div>
  <div class='wrapper-btn'><a class='btn-see-more' href='/movies/{{id}}'>See
      more</a></div>
</div>