<!-- movieCard.hbs -->
<div class="col-12 col-md-6 col-lg-4">
    <img class=" d-block mx-auto" src="{{image}}" alt="{{title}}">
    <p class="text-center" style="margin-bottom: 5px;margin-top:5px">{{title}}</p>
    <a href="movies/{{id}}" class="d-block text-center" style="margin-bottom: 35px;">See more</a>
</div>