<div class="px-2 text-center py-2">
    <img style="height : 450px;" src="{{this.image}}" alt="">
    <h2 class="card-title text-light pt-3 py-2">{{this.title}}</h2>
    <a href="movies/{{id}}" class="btn btn-light text-center mt-2">See more</a>
</div>