<div class="col-md-3">

    <article class="card">
        <img class="card-img-top" src="{{this.image}}">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <hr>
            <p ><small>[<a href="/">ver detalles</a>]</small></p>
        </div>
    </article>

</div>