<div class="movie">
    <a class="movie-link" href="/movie/{{ movie.id }}">
        <img class="image" src="{{ movie.image }}" alt="movieImg"/>
        <p class="title"> {{ movie.title }} </p>
        <p class="director">{{ movie.director }} </p>
    </a>
</div>
