<div class="movie-display">
    <img src="{{image}}" alt="{{title}}" class="thumbnail-image">
    <br>
    <strong>{{title}}</strong>
    <br>
    <a href="/movies/{{_id}}" class="thumbnail-link">See more</a>
</div>