<nav class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="/">
                <img src="../../images/logo-icon.svg" alt="logo">
                <strong>Cinema Ironhack</strong>
            </a>
        </div>
    </div>
</nav>