body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/popcorn.jpg");
}

img {
  height: 100vh;
  width: 100vw;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  font-size: 85px;
  color: white;
  margin-left: 60%;
}

button {
  height: 3rem;
  width: 12rem;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  margin-left: 60%;
}

.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4rem;
}

.movie-body {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
}

.movies {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

a {
  color: black;
}

.movie-body img {
  height: 14rem;
  width: 12rem;
}

.one-image {
  height: 28rem;
  width: 18rem;
  margin-left: 12rem;
  margin-top: 6rem;
}

.movie-info-column {
  display: flex;
  flex-direction: column;
  height: 28rem;
  width: 30rem;
  margin-left: 45%;
  margin-top: -28rem;
}

.one-title {
  font-size: 30px;
  font-weight: bold;
}

.one-director {
  font-size: 20px;
  margin-top: -10px;
  font-weight: bold;
}

#stars {
  font-size: 15px;
  font-weight: bold;
}

.one-stars {
  font-weight: bold;
  font-size: 12px;
}

.one-description {

}




