
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 200 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #1A1A1A;
}
h1{
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}
h2{
  font-size: 1.2rem;
  font-weight: 500;
}
h3{
  font-size: 1rem;
}
h4{
  font-size: .9rem;
}
.banner{
  background: url('../images/popcorn.png') no-repeat center center;
  background-size:100%;
  height: 100vh;
  width: 100%;
  justify-content: center;
  color: #fff;
}
.banner .row{
  height: 100vh;
}
.btn{
  background:#fff;
  border-radius:20px;
  color: lightblue;
}
.movie-list, .single-movie{
  padding: 50px 0;
}
.movie{
  margin-bottom: 30px;
}
.movie h3{
  font-size: .9rem;
  padding: 10px 0 0;
}
ul{
  padding-left:20px;
}
