<div>
    <form action="/addmovies" method="post">
        <input type="text" name="movieName" placeholder="Insert your movie name">
        <input type="text" name="movieImage" placeholder="Link your movie image">
        <button type="submit">Submit</button>
    </form>
</div>