{{#each allMovies}}
<div class="card" style="width: 18rem;">
    <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}'s image">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
    </div>
    <div class="card-body">
        <a href="/movie/{{this._id}}" class="card-link">See more</a>
    </div>
</div>
{{/each}}