<form action="/movies/create" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">

  <label for="director">Director</label>
  <input type="text" name="director" id="director">

  <label for="stars">Stars</label>
  <input type="text" name="stars" id="stars">

  <label for="image">Image</label>
  <input type="text" name="image" id="image">

  <label for="description">Description</label>
  <input type="text" name="description" id="description">

  <label for="showtimes">Showtimes</label>
  <input type="text" name="showtimes" id="showtimes">

  <button>Create Movie</button>
</form>
