<form action="/movies/create" method="POST">
 <input type="file" name="image" id="">
  <label for="">
    <input type="text" name="title" id=""></input>
  </label>
  <label for="">
    <input type="text" name="director" id="">
  </label>
   <label>
  <textarea type="text" name="description" cols="30" rows="5"></textarea>
  </label>

  <button type="submit">submit</button>
</form>
