<form action="/movies/create" method="POST">
    <label for="">
        Title
        <input type="text" name="title">
    </label>
    <label for="">
        Director
        <input type="text" name="director">
    </label>
    <label for="">
        stars
        <input type="text" name="stars">
    </label>
    <label for="">
        Image
        <input type="text" name="image">
    </label>
    <label for="">
        Description
        <input type="text" name="description">
    </label>
    <label for="">
        Showtimes
        <input type="text" name="showtimes">
    </label>
    <button>Create Movie</button>
</form>