<main class='container-fluid'>

    <a href='/'>Go back!</a>
    <a href='/movies'>Go back to movies!</a>

    <img src='{{obj.image}}'>
    <h5>{{obj.title}}</h5>
    <br>
    <h6>Director: {{obj.director}}</h6>
    <br>
 


</main>