<div class="hero-image error">
  <div class="hero-text">
    <h1>Error!</h1>
    <p>There was an error on the server! Check the console!</p>
    <a class="btn btn-light btn-lg" href="/">Go Home</a>
  </div>
</div>
