<div class="text-center">
    <img src="/images/error.png" alt="Server down" height="200px">
    <h1><b>Error!</b></h1>
    <p>Unfortunately the server is not working. <br> Please refresh the page or try again later.</p>
    <button onClick="window.location.reload();" class="btn btn-dark mt-4">Refresh Page</button>
</div>
