<section>
  <form action="/newMovie" method="post">
    <input type="text" name="movieTitle" placeholder="Title">
    <input type="text" name="movieDirector" placeholder="Director">
    <input type="text" name="movieStar" placeholder="Star">
    <input type="text" name="movieImage" placeholder="Image https://">
    <input type="text" name="movieDescription" placeholder="Description">
    <input type="text" name="movieShowTimes" placeholder="00:00">


    <button type="submit">Add new movie</button>
  </form>
</section>