<div class="container-fluid">
    <div class="row">
        <div class="col-12 box">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h1 class="text-light fw-bold w-25 mb-5" id="title">{{title}}</h1>
                    <a href="/movies" class="button btn-lg">Check the movies!</a>
                </div>
            </div>
        </div>
    </div>
</div>