<div class="container">
    <div class="d-flex justify-content-end">
        <div class="mt-5 d-flex flex-column align-items-center">
            <h1 class="text-light title">Cinema Ironhack</h1>
            <p><a href="/movies" class="d-block btn btn-light px-5 py-3 mt-5">Check the movies!</a></p>
        </div>
    </div>
</div>