
<div id="imageCinema">

    <aside>
        <h1>Cinema Ironhack</h1>

        <ul>
            <li>
                <a class="linkCheck" href="/movies"> Check the movies!</a>
            </li>

            <li>
                <a class="linkCreate" href="/movies/create"> Create a movie!</a>
            </li>
        </ul>


    </aside>

</div>






