
<div class="container" id="#homepage">
    <div class="d-flex flex-row-reverse">
        <h1>Cinema <br> Ironhack</h1>
    </div>
    <div class="d-flex flex-row-reverse">
        <a href="/movies" class="btn btn-light rounded-pill p-2 btn-lg" style="width: 250px;height: 52px;color: #00B7FF;">Check the movies!</a>
    </div>
    
</div>


