<div id="body-intro-image">
    <div id="wrapper-intro">
        <div id="intro-screen">
            <h1>Cinema Ironhack</h1>
            <a href="/movies">Check the movies</a>
        </div>
    </div>
</div>





