<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<body class="bgMain"style="background-image: url(images/cinema.jpg); background-repeat: no-repeat;background-size: cover">
    

    <a href="/movies">pincha aqui </a>
</body>