<div class="index-page">
    <h1>Cinema Ironhack</h1>

    <div class="btn">
        <a href="/movies" class="check-btn">Check the movies!</a>
    </div>

    <div id="movies-img">
        <img src="/images/cinema.jpg" alt="popcorn">
    </div>
</div>