<div class="form-container">
    <h1 class="text-left, text-right y text-center"> Cinema</h1>
    <h1 class="text-left, text-right y text-center">IronHack</h1>
    <form class=" d-flex justify-content-around" action="/movies" , method="GET">
        <input type="submit" value="Check the Movies!">
    </form>
</div>