<link rel="stylesheet" href="/stylesheets/style.css" />

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<body id="home-page">

    <div id="home-div">

        <h1> Cinema <br> Ironhack </h1>

        <button> 
            <a href="/movies"> Check the movies! </a> 
        </button>
        
    </div>

</body>