<div id="container">  
    <div class="half"></div>
    <div id="main" class="half">
        <p>Cinema</p>
        <p>Ironhack</p>
        <a href="/movies"><button id="mainButton">Check the movies!</button></a>
    </div>
</div>  

