<main class="mainContainer">
    <div class="titleAndButton">
        <div></div>
        <div>
            <h1>Cinema Ironhack</h1>
            <a class="moviesButton" href="/movies"> Check the movies!</a>
        </div>
    </div>
</main>