<div class="background">
  <div class="cinema">
    <h1>Cinema <br> Ironhack</h1>
    <div>
      <button class="buttons">
        <a class="btn btn-success" href="/movies">Check the movies!</a>
      </button>
    </div>
  </div>
</div>