<body class="index-body"></body>

<div style="text-align: left;">
 
    <h1 style="color: white; font-weight: bold;">{{title}}</h1>
    <a href="./movies" class="btn btn-light">Check the movies!</a>

</div>
