<div class="index vh-100">
    <div class="text-end py-5 mx-5">
        <h1 style="font-size:100px; color:white">Cinema</br>Ironhack</h1>
        <a href="/movies" class="btn btn-primary" role="button">Check the movies!</a>
    </div>
</div>
