<div class="home d-flex flex-column align-items-start">
    <div class="position">
        <h1 class="title">Ironhack<br>Cinema</h1>
        <a href="/movies" class="btn btn-light rounded-pill checkbtn">Check the movies!</a>
    </div>
</div>
