<div class="container">
    <div class="home">
        <h1>Welcome to Cinema Ironhack!!</h1>
        <hr>
        <div>
            <img class="welcomeImg" src="/images/cinema.jpg" alt="welcome">
        </div>
        <div class="button">
            <a href="/movies" class="btn btn-dark">Chek the movies!</a>
        </div>
    </div>
</div>