
<div class="container palomitas">

<div class="row cinema">
    <div class="col">
        </div>
    
    <div class="col">
        <h1>Cinema Ironhack</h1>
        <p><a href="/movies" class="btn btn-light">Check the Movies</a>
</p>
    </div>
</div>
</div>






</div>
