<section class="home-page">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6"></div>
            <div class="col-md-6 index-col align-items-center">
                <h1>Cinema <br>
                    Ironhack</h1>
                <button class="my-button"><a href="/movies" class="home-button2">Check the movies!</a></button>
            </div>
        </div>
    </div>
</section>