<div class="background">
  <div class="sidebar">
    <h1>{{title}}</h1>
    <form action="/movies" method="get">
      <button class="btn" type="submit">Check the movies</button>
    </form>
  </div>
</div>