<div
    style="background-image: url('../images/cinema.jpg');background-repeat: no-repeat;background-size: cover;height: 650px;margin:0;padding: 0;">
    <div style="margin-left: 700px;padding-top:150px;box-sizing: content-box;"> 
        <h1 style="color: white;font-size: 100px;">Cinema <br> Ironhack</h1>
        <a href="/movies" style="background-color: white;padding:10px 15px;border-radius: 10%;">Check the Movies</a>
    </div>
</div>