<html class="htmlLayout">
   <div class="layoutDiv">
        <h1 class="indexH1">Cinema<br>Ironhack</h1>
        <button class="indexBtn"><a href="/movies" class="indexA">Check the movies!</a></button>
   </div>
</html>


