<section id="homeBackground">
  <div id="homeBackground-button-container">
    <h1>Cinema</h1>
    <h1>Ironhack</h1>
    <a href="/movies"><button class="regular-btn">Check the movies!</button></a>
  </div>
</section>