<div class="index d-flex justify-content-center align-items-center">
    <div class="row">   
        <div class="col-12">
        <h1>{{title}}</h1>
        <p>Welcome to the {{title}}</p>

        <a href="/movies" type="button" class="btn btn-dark btn-lg">Check the movies!</a>
        </div>
    </div>
</div>

