
<img class="bg-image" src="images/cinema.jpg">

<div class="text-button">
<h1 class="title-cinema">Cinema<br>Ironhack</h1>
<div class="button-div">
<a href="/movies">Check the movies!</a>
</div>
</div>
