<div class="containter">
    <div id="index-home">


        <h1>IRONHACK PARADISO</h1>
        <h2> </h2>
        <div id="button-index">
            <div class="button">
                <a href="/movies" class="btn btn-success btn-lg">SEE ALL THE MOVIES!</a>
            </div>
        </div>
    </div>
</div>