<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main-style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="/images/cinema.jpg" alt="cinema-background" id="cinema-background">
        <h1 id="main-title">Cinema<br>Ironhack</h1>
        <a href="/movies" id="main-button"><button>Check the movies!</button></a>
    </div>
</body>
</html>