

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <style>
    body {
      background-image: url('./images/cinema.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>
<body>

<container class="container"> 
  <h1 id="title">Cinema Ironhack</h1>
    <form action="/movies" method="GET">
        <button id="button" type="submit" href="/movies">Check the movies!</button>
    </form>
</container>

</body>
</html>



