<div class="home-container">

  <div class="form">

    <div class="row text-black">
      <div class="col col-lg-8 offset-lg-2 mb-3">
        <h1 class="col">{{title}}</h1>
        <p>Welcome to {{title}}</p>

        <button class="btn btn-light text-info fw-bolder p-3 rounded-pill"><a href="/movies">Check the
            movies!</a></button>
      </div>
    </div>

  </div>

</div>