<div class="main container">
    <div class="row">
        <div class="col-48">
        </div>
        <div class="col-6" id="chk-movies">
            <h1 class="pt-40">{{title}}</h1>
            <a class="px-7 srch-btn btn btn-dark " href="/movies">Check the movies!</a>
            {{!-- <button id="chk-movies-btn" class="px-7 srch-btn btn btn-dark " type="submit">Check the movies!</button> --}}
        </div>

    </div>
</div>