<div id="global-container">
    <div id="title-and-button-container">
        <h1>{{title}}</h1>
        <a href="/movies">
        <button id="check-the-movies">Check the movies!</button>
        </a>
    </div>
</div>

