<div id="background">
    <div id="main-page-container">
        <h1 id="main-page-title">Cinema <br> Ironhack</h1>
        <a id="main-page-link" href="/movies">Check the movies!</a>
    </div>
</div>

