<div class="container">

    <div>
        <img class="bg-image" src="/images/cinema.jpg" alt="popcorn-image">
    </div>

    <div class="center-info">
        <h1>{{title}}</h1>
        <a href="/movies" class="btn btn-light btn-lg  moviesbtn">Check the movies!</a>
    </div>

</div>





