<div class="img-back">

{{!--   <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p> --}}

  <h1>Cinema Ironhack</h1>

  <form action="/movies/movies" method="GET">

    <button class="btn btn-danger" type="submit">Check the movies!</button>

  </form>
  
</div>