<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <h1>{{title}}</h1>
            <button  href="/movies" type="button" class="btn btn-primary btn-lg btn btn-light">Large button</button>
            <a href="/movies">Check Movies!</a>
        </div>
    </div>
</div>