{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div>
    <h1>Cinema <br>Ironhack</h1>
    <img src="../public/images/cinema.jpg" alt="cinema image" />
    <p><a href="./movies">Check the movies!</a></p>
</div>
