<div class="index-container">
	<h1 class="title">{{title}}</h1>
	<p class="welcome">Welcome to {{title}}</p>

	<div class="button">
		<a class="button" href="/movies"> movies here !</a>
	</div>
</div>