
<div class="card bg-dark text-white">
  <img src="/images/cinema.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h3 class="card-title">Cinema Ironhack</h3>
    <p class="card-text"><button type="button"><a href="/movies">Check the movies!</a></button></p>
  </div>
</div>
