<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/stylebackground.css">
</head>

<body>

</body>

</html>

<div class="row justify-content-end">
    <div class="col-4">
        <h1>Cinema Ironhack</h1>
        <a href="/movies" class="btn btn-primary mt-3">Check the movies!</a>
    </div>
</div>