<section>
    <div id="homepage">
    <h1>Cinema Ironhack</h1>
<div class="button">
  {{!-- <i></i> --}}
  <div class="inner-border-btn">
  <a href="/movies">Check the movies</a>
  </div>
</div>
</div>
</section>

