
<div class="container">
    
    <h1>{{title}}</h1>

    <img src="/images/cinema.jpg" alt="saladecine">
    <br>

    <a class= "btn btn-dark" href="/movies">Check the Movies </a>


{{!-- <p>Welcome to {{title}}</p> --}}

</div>

