<div class="inicio">
    <img src="images/cinema.jpg" alt="">
    <div class="text1"><h1>Cinema <br>Ironhack</h1></div>
    <div class="text2"><a href="/movies" class="btn btn-light " >Check the Movies!</a></div>
    
</div>