<div id="container">
    <img id="home-img" src="/images/cinema.jpg" />

    <div id="home-div">
        <h1>Cinema Ironhack</h1>

        <div id="btn-wraper">
            <button type="submit" >
                <a id="first-link" href="movies">Check the movies!</a>
            </button>

            <button type="submit">
                <a href="new-movie">Log a new movie!</a>
            </button>
        </div>
    </div>
</div>