
<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4 index__container">
            <h1>Cinema</h1>
            <h1>Ironhack</h1>
            <a href="/movies" class="button">Check movies!</a>
        </div>
    </div>
</div>


