<div class="main">
    <div class ="principal-text">
<h1 class="title">{{title}}</h1>
<p class="parrafo-title">Welcome to {{title}}</p>

<a href="/movies" class="btn btn-success">Consulta las películas</a>
</div>


</div>
