<div class="container">

    <h1 class="fw-bold d-flex justify-content-end">{{title}}</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/movies" class="btn btn-dark">See Movies</a>
    </div>
</div>