<div id="background">
    <div id="container-title-link">
        <div id="title">Cinema Ironhack</div>
        <button id="button-movies"><a href="/movies">Check the movies!</a></button>
    </div>
</div>