<div class="hero">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-3">
            <section class="d-flex flex-column side">
                <h1>Cinema Ironhack</h1>
                <a class="btn btn-lg btn-primary" href="/movies">Check the movies</a>
            </section>
        </div>
    </div>

</div>