<!-- 
<h1>{{title}}</h1>
<p>Welcome to blah {{title}}</p> 
-->

<div class="container">
  <img src="/images/cinema.jpg" style="width:100%;">
  <div class="topcenter"> <h1> CINEMA IRONHACK </h1> </div>
  <button class="button centered" onclick="window.location.href='/movies';" >Check the movies!</button>

</div>