<div class="container h100">
    <div class="row p-5">
        <div class="col-8"></div>
        <div class="col-4">
            <h1 class="title">{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <button class="btn btn-primary btn-home"><a href="/movies">Check the movies!</a></button>
        </div>
    </div>
</div>


