
<div id="index" class="container row">
    <div class="w50"></div>
    <div id="titulo" class="container column content-end w50">
        <h1>Cinema Ironhack</h1>
        <a href="/movies">Check the movies!</a>
    </div>
</div>


