<div class="container">

    <div class="row mx-auto">
        <h1 class="titulo">Cinema <br> Ironhack</p>
            <p><a href="/movies-gallery/{{id}}" class="btn btn-primary align-center"> Check the Movies!</a>
    </div>
</div>