<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="top-page">
<a href="">
    
    
    <p class="home-title"><br>Cinema</br>
 <br>Ironhack</br>
 </p>
<img alt="homeimage" src="images/cinema.jpg"
width="1920" height="1080"> 
</a>
</section>

  
 
  <button class="movie-button"><a href="/movies"> Check the movies! </a> </button>
</form>

</body>
</html>


