<div class="heroContainer">
    <div class="container col-md-8">
        <div class="heroTextContainer card-body">
            <h1 class="heroText">Cinema</h1>
            <h1 class="heroText">Ironhack</h1>
            <a class="btn btn-light" href="/movies">Check the movies!</a>
        </div>
    </div>
</div>



