<div id="main-page">
    <h1>Cinema Ironhack</h1>
    <a href="/movies">
        <button>Check the movies!</button>
    </a>
</div>
<img src="images/cinema.jpg" alt="cinema-image" id="cinema-image"/>

