<div class="home">
    <div class="home-content">
        <h1>Cinema Ironhack</h1>
        <a href='../movies'><button type="submit">Check the movies!</button></a>
    </div>
</div>
{{!-- <p>Welcome to {{title}}</p> --}}

