<div class="hero-image">
    <div class="hero-description">
        <div class="hero-title">
            <h1 class="title">Cinema Ironhack</h1>
        </div>
        <a class="btn-movies" href="/movies">Check the movies!</a>
    </div>
</div>