<div class="d-flex align-items-end flex-column">
    <div class="textCenter">
        <h1 class="title">Cinema <br> Ironhack</h1>
        <a href="/movies" class="btn btn-dark">Check the movies!</a>
    </div>
</div>