
<div class="banner">
<img src="/images/cinema.jpg" alt="">
</div>
<div class="titulos">
<div class="row">
<div class="col-12">
<h1 class="mb-4">CINEMA IRONHACK</h1>
<a class="mt-4" href="movies">Ver peliculas</a>
</div>
</div>
</div>

<style>
    img{
  width: 100%;
}

.banner{
  overflow: hidden;
  max-height: 700px;
}

.titulos{
   position: absolute;
    top: 55%;
    left: 60%;
}
h1{
    color : white
    
}

a{
    background-color :rgb(250, 192, 3);
    height: 20px;
    border-radius: 3px;
    padding: 20px;
    text-decoration: none;
    color : white;
    font-size: 20px;
    font-weight: bold;
}
</style>