<div class="container" >

    <div class="container">
        <div class="row text-light">
            <div class="col">
                      </div>
            <div class="col header">
               <h1 class="mt-5 pt-5">Cinema</h1>
               <h1 >Ironhack</h1>
               <a href="/movies" class="btn btn-light text-muted mt-4 headerButton">Check the movies</a>
            </div>
        </div>
    </div>

       