<div class="cinema-container">
    <img src="images/cinema.jpg" alt="Cinema">
    <div class="cinema-text">
        <h1>Cinema</h1>
        <h1>Ironhack</h1>
        <a href="/movies" class="cinema-check">Check the movies!</a>
    </div>
</div>