<div class="home-page-container">
    <div class="home-page-content">
        <div class="home-page-text">
            <h1>Cinema Ironhack</h1>
        </div>
        <div class="home-page-button">
            <a href="/movies"><button class="check-button">Check the movies!</button></a>
        </div>
    </div>
</div>
