<div class="home-page">
    <div class="row">
        <div class="col-6"></div>

        <div class="col-6 checkMovies">
            <h1 class="movieTitle">Cinema Ironhack</h1>
            <a href="/movies"><button type="button" class="btn btn-primary btn-lg">Check the Movies!</button></a>
        </div>
    </div>
</div>