<main class="homepage">
    <div class="home-heading"><h1> {{title}}</h1></div>
    <div class='button-container'><a href="/movies"><button class="button-home" type="submit">Check the movies!</button></a></div>
</main>