<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container" style="position: relative;">
    <img src="images/cinema.jpg" class="img-fluid" style="width:100%" alt="Responsive image">
</div>
<div style="position:absolute; top:120px; right:40px; font-size:150px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:whitesmoke">CINEMA <br>IRONHACK</div>
<button type="button" class="btn btn-primary btn-lg" style="position: absolute; bottom:250px; right:520px;">Check the Movies</button>