<div class="home">
    <div class="container">
        <h1>Cinema <br> Ironhack</h1>
        <div class="button">
            <a href="/movies">Check the movies!</a>
        </div>

    </div>
</div>
