<div class="index row fluid">
    <div class="left col-3">
        <h1 class="indexTitle">Cinema Ironhack</h1>
        <form action="/movies">
            {{!-- <input type="submit" value="Go to Google" /> --}}
            <button type="submit" class="btn btn-outline-primary indexButton" >Check the movies!</button>
        </form>
        
    </div>
    
</div>