{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- STYLING TO BE ADDED --}}
<div>
    <img class="background-image" src="images/cinema.jpg" alt="Movie Image">
</div>
<h1 class="index-title">Cinema Ironhack</h1>
<div>
    <a href="/movies"><button>Check the movies!</button></a>
</div>
