<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <img src="images/cinema.jpg" alt="Popcorn">
    <form action="/movies" method="GET">
        <input type="search" name="artistName" id="" placeholder="Insert for movie name here...">
        <button type="submit">Check the movies!</button>
    </form>
</div>