<header class="header-home">
    <div class="container">
    
        <div class="heading-content">
            <div class="flex-col">
                <h1 class="home-title">{{title}}</h1>
                <div class="content-btn">
                    <a href="/movies" class="btn btn-link">{{labelbtn}}</a>
                </div>
            </div>
            
        </div>

    </div>
</header>
