<link rel="stylesheet" href="./stylesheets/style.scss">

<h1 class="title">{{title}}</h1>

<img class="cover-img" src="./images/cinema.jpg" alt="">
<a href="/movies">Check the movies!</a>

{{{ body }}}