<div>
  <div style="position: absolute; z-index: 1; width:100%; height:100%">
    <div id="left">
    </div>
    <div id="right" style="padding-top:10%">
      <div class="title">Cinema</div>
      <div class="title">Ironhack</div>
      <div>
        <a href="/movies" class="btn btn-outline-success">Check the movies!</a>
      </div>
    </div>
  </div>
  <div>
    <img src="/images/cinefondo1.jpg" height="600px" width="100%">
  </div>
</div>

