<div class="title-container">
    <h1>Welcome</h1>
    <h44>to</h44>
    <h45>chroma</h45>
    <h46>flix</h46>
</div>

<div class="main-p-container">
    <p class="main-p">No TAs allowed/</p>
    <a class="main-p2-link" href="https://fakeupdate.net/win10ue/"><p class="main-p2">/ Are you a TA?</p></a>
</div>

<div class="main-btn-container">
    <a class="main-btn" href="/movies">Make PopCorn</a>
</div>
