<div>
    <div>
        <h1>Cinema Ironhack</h1>
    </div>

    <div>
        <img src="./images/cinema.jpg" alt="bg cinema">
    </div>

    <div><a href="/movies">Check the movies!</a></div>
    </div>
</div>
