<div class="home">
    <div class="home-items">
        <h1 class="title">{{title}}</h1>
        <form action="/movies">
            <button type="submit" class="btn">Check the movies!</button>
        </form> 
    </div>
    
</div>


