    <div class="main">
        <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Cinema</h1>
            <p class="lead"></p>
            <a class="btn btn-primary btn-lg border-0" href="/movies" id="main-button" role="button">Check the movies!</a>
        </div>
        </div>
    </div>
