<h1>{{Movies}}</h1>
<p>Welcome to {{title}}</p>

<div class="block">
    <div class="innerBlock">
        <h2 class="title">Iron<br>Cinema</h2>
        <button class="button" type="button" class="btn btn-light"><a href="/Movies">Check movie!</a></button>
    </div>
</div>