<body class="img">
    <div class="mTitle">
    <h1 style="font-size:70px;">{{title}}</h1>
   <a href="/movies"> <button>Check out the movies</button></a>
    <p>Welcome to {{title}}</p>
    </div>
</body>