
<div class="imageTwo">
    <div class="last">
    <h1 class="white">Cinema <br> Ironhack</h1>
    <a href="/movies-page" class="btn btn-secondary btn-lg buttonclass">Check the movies!</a>
    </div>
</div>