<section class="hero align-center">

  <div class="container flex-column">
    <h1 class="white pb-l">Cinema<br>Ironhack</h1>
    <a href="/movies" class="button self-left">Check the movies</a>
  </div>

</section>
