<div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <img id="img-background" src="images/cinema.jpg" alt="background img" width="100%">

    <a id="check-movies" href="/movies">Check the movies!</a>
</div>