<div>CINEMA IRONHACK</div>
{{!-- <img src="../images/cinema.jpg" alt="cine"> --}}
<div class="button-container">
    <img src="../images/cinema.jpg" width="1024px" height="350px" alt="cinema">
    <a href="/movies" alt="movies">Check the movies</a>
</div>


{{!-- <a href="/movies" class="btn btn-dark">Check the movies</a> --}}