




<div class ="position-btn-title"> 
<h1 class="hometitle">Cinema</h1>
<h1 class="hometitle">Ironhack</h1>
<a class ="button" href="./movies">Check the Movies!</a>
</div>
<img class="home-img" src="images/cinema.jpg" alt="popcorn movie">