<div class="mainHeader">
    <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


    <h1>Ironhack<br>Cinema</h1>
  
  <div class="buttonContainer">
    <a class="mainButton" href="/movies">Check the movies!</a>
  </div>
  </div>
  