<div class="main-cont">
    <div class="thumb">
        <img src="./images/cinema.jpg" alt="pop corn image">
    </div>
    <div class="text-home">
        <h1>Cinema Ironhack</h1>
        <a href="/movies">Check the movies!</a>
    </div>
</div>
            
