
<div class="btn-box">
    <p>Cinema <br>
        Ironhack</p>
    <div class="link-box">
        <a href="/movies">Check the movies!</a>
    </div>
</div>
<div>
    <img class="body-img" src="/images/cinema.jpg" alt="">
</div>