
<div class="containerHome"> 
    </div>
    <img  src="/images/cinema.jpg" alt:"cinema background" style="width:100%">
    <div class="mainPageWelcome" >
        <div> Cinema </br>Ironhack
        <button class="homeButton">Check the movies!
            <a href="/movies"></a>
        </button>
        </div> 
    </div>
    
</div>

