
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <a href="/movies"><button type="button" class="btn btn-secondary">Check the movies</button>
  </a>
</nav>
<img class="image-index" src="/images/adult-bar-cafe-business-cinema-375885.jpg" alt="Cine Image">