<h1>Cinema IronHack</h1>

<img src="/images/moviebackground.jpg" height="80%" width="80%" background-position="center" background-size="cover" background-repeat="no-repeat"
    alt="cinema">
<form action="/movies" method="GET">
    <button type="submit">Check the movies!</button>
</form>