<div class="home-view">
  <div class="home-container">
    <h1 class="home-title">{{title}}</h1>
    <p class="home-p">Welcome to {{title}}, the movie specialist!</p>
    <a href="/movies">
      <button class="btn btn-light" id="check-btn">Check the movies!</button>
    </a>
  </div>
</div>