<h1>{{title}}</h1>
<p>Welcome to Iron Cinema!</p>
<img src="/images/cinema.jpg" alt="Cinema img">
<br>
<a href="/movies/allMovies"> See more movies </a>
<br>
<a href="/movies/create"> Create a movie!</a>
