<div id="hero">
    <div class="container py-5 text-center">
        <h1 class="display-2 mt-4">{{title}}</h1>
        <h4>Welcome to {{title}}</h4>
        <a href="/movies" class="btn btn-light mt-4">Check the movies</a>
    </div>
</div>