<header class="hero">
    <div class="container h-100">
        <div class="row text-center h-50 align-items-center">
            <div class="col-12">
                <h1>{{webTitle}}</h1>
                <a class="btn btn-danger btn-lg" href="/movies" role="button">Check the movies!</a>
            </div>
        </div>
    </div>
</header>