<div class="container">

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <h1>Cinema<br /> Ironhack</h1>
      <div>
        <a href="/movies">Check the movies</a>
      </div>
    </div>
  </div>
</div>