<h1>{{title}}</h1>


<div>
    <article class="leftSpace"></article>
    <article class="rightSpace">
    <p>Cinema Ironhack</p>
        <button>
            <a href="/movies">Check the movies!</a>
        </button>
    </article>
</div>