<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
             <h1>Cinema Ironhack</h1>
              <a href="/movies">Check the movies!</a>
             </div>

        </div>
    </div>
</section>



