<body class="index-body">
    <div>
        <div class="container-main">    
            <div>
                <h1 class="title-main">Cinema Ironhack</h1>
                <a href="/movies">
                    <button class="btn-check">
                        Check the movies!
                    </button>
                </a>
            </div>
        </div>
    </div>    
</body>






