<style>
  body { background-image: url("/images/cinema.jpg"); background-size: cover;
  background-repeat: no-repeat; }
</style>

<div id="written-part">
  <h1 id="title">Cinema Ironhack</h1>
  <a id="button-movies" href="/movies">Check the movies!</a>
</div>