<body class="img-back">

<div id="div-back">
<div class="info-back">


<h2 class="H2">Cinema <br> Ironhack</h2>

<a href="/movies/list"> <button  class="buttom">Check the movies!</button></a> 

</div>



</div>
</body>