<div class="uk-background-cover uk-flex-column uk-flex-start uk-flex-middle" uk-grid>
    <h1 class="">Cinema <br> Ironhack</h1>
    <a class="uk-button uk-button-default" href="/movies">Check the movies!</a>
</div>
