{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="home-display">

    <div id="show-link">
        <h1>Cinema</h1>
        <h1 id="ironhack">Ironhack</h1>


        <a href="/movies" id="check-movies">Check the Movies</a>

    </div>
</div>