<div class="container home">
    <img class="p-0 m-0 bg-img" src="./../../images/listbg.jpg" alt="fondo">
    <div class="row d-flex flex-column align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <h1>{{appTitle}}</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>Welcome to {{appTitle}}</p>
        </div>
        <div class="col-12 d-flex justify-content-center"><a class="btn btn-lg btn-light" href="/peliculas/listado"
                role="button">Check the movies!</a>
        </div>
    </div>
</div>