<div class="body-index">
    <div class="container-index">
        <h1 class="h1-index">Cinema<br>Ironhack</h1>
        <a href="/movies" ><button class="bt-index">Check the movies!</button></a>
    </div>
</div>
