<div class="home-bkg">
    <div class="row">
        <div class="column"></div>
        <div>
            <h1>{{title}}</h1>
            <a href="/movies" class="btn">Check movies!</a>
        </div>
    </div>

</div>


<p>Welcome to {{title}}</p>
