
<div id="index">
    <h1 class="text-light">{{title}}</h1>
    {{!-- <img src="/images/cinema.jpg" alt=""> --}}
    <p class="text-light">Welcome to {{title}}</p>
    <a href="/movies" class="btn btn-danger">MOVIES</a>
</div>
