
<div id="index" class="p-3 mb-2 bg-transparent text-white">
    <div class="sec"> 
<p class="fs-1" id="cinema-title">Cinema</p>
<p class="fs-1" id="cinema-title2"> IronHack</p>
<a href="/movie"> <button type="button" class="btn-group btn-group-lg" id="cinema-btn">Check the movies</button></a>
</div>

</div>