{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<main class="flex-grow">
    <section class="px-6 border-b-2 border-gray-200">
        <div class="container mx-auto min-h-screen flex justify-center items-center">
            <div class="w-full sm:w-11/12">
                <h1 class="text-5xl text-gray-900 leading-tight font-medium">{{title}}</h1>
                <h2 class="text-xl text-gray-700 mb-6">Welcome to {{title}}</h2>
                <div class="mb-20">
                   <a class="inline-block bg-white text-gray-800 py-2 px-4 border border-gray-400 rounded hover:bg-gray-100" href="/movies">Check the movies!</a> 
                </div>
            </div>
        </div>
    </section>
</main>
