{{!-- <h1>Cinema Ironhack</h1> --}}

{{!-- <img class ="bg-img" src="/images/cinema.jpg"  alt="animal image">   --}}



<div class="index">
	<div class="heading-div">
		<h1 class="heading">Cinema Ironhack</h1>
        </div>
        <div class="bg">
  <img src="/images/cinema.jpg" alt="">
</div>
<div class="btn-class">
    <form action="/movies"  method="GET">
<button  class="btn"type="submit">Check the Movies!</button>
    </form>
</div>
	</div>
</div>
