<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="top-page">
<a href="">
    
    
    <p class="home-title"><br>Cinema</br>
 <br>Ironhack</br>
 </p>
<img alt="homeimage" src="images/cinema.jpg"
width="1920" height="1080"> 
</a>
</section>
<h2>Create a Movie</h2>
 
<form action="/books/create" method="post">
  <label> Title:
    <input type="text" name="title" />
  </label>
 
 
 
  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>
 
  
 
  <button class="movie-button" type="submit"> Check the movies! </button>
</form>

</body>
</html>


