<div class="container main row">
    <section class="col-sm-6 col-md-7 col-lg-7 col-xl-8">
    </section>
    <section class="float-right col-sm-6 col-md-5 col-lg-5 col-xl-4">
        <h1 class="  pt-40">{{title}}</h1>
        <a id="chk-movies-btn" class="px-7 srch-btn btn btn-dark " href="/movies">Check the movies!</a>
        {{!-- <button id="chk-movies-btn" class="px-7 srch-btn btn btn-dark " type="submit">Check the movies!</button> --}}
    </section>

</div>