<main class="home">
  <div class="home__content">
    <h1 class="home__title">Cinema Iron Hack</h1>
    <a href="/movies" class="home__link">
      <button class="home__button">
        Check the movies!
      </button>
    </a>
  </div>
</main>