<body>
<html class="htmlLayout">
<div class="layoutDiv">
    <h1> Cinema <br> Ironhack</h1>
    <form action="/movies" method="get">
    <button class="button">Check the movies!</button>
</form>
</div>
</html>
</body>