{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="container-home">
  <div class="title-btn">
    <h1>Cinema<br>Ironhack</h1>
    <a class="btn" href="/movies">Check the movies!</a>
  </div>

</div>