



<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<div class="bg-container">

<img src="images/cinema.jpg">

</div>

<div>

    
<button class="button-73" role="button"><a href="./movies">Check Movies!</a></button>

   
</div>




