{{!-- <h1>{{title}}</h1> --}}

<div class="background">
  <div class="container">
    <div class="col align-self-end">
      <form action="/movies" method="GET">
        <h1>CINEMA IRONHACK</h1>
        <button type="submit">Check the movies!</button>
      </form>
    </div>
  </div>
</div>