
  <div class="bg-1">
  <div class="container d-flex justify-content-end">
  <div class="row mt">
      <div class="col-md-12">
          <h1 class="title">Cinema <br>  Ironhack</h1> 
          <button class="mt-10"><a href="/movies">Check the films </a></button>
      </div> 
  </div>
  </div>
  </div> 
 

