<div class="row photo">
  <div class="col">
    <div>
      <h1 class="display-1">
        Cinema <br>Ironhack
      </h1>
      <a href="/movies" class="btn btn-info">
        Check the movies!
      </a>
    </div>
  </div>
</div>