
<div id="rightAlign">
    <div>

    </div>
    <div>
        <h1>Cinema<br> Ironhack</h1>
        <form action="movies/show/">
        <button>Check the movies!</button>
        </form>
    </div>
</div>