<main class="hero_image">
<div class="content__wrapper">
    <h1>Cinéma <br> Vérité</h1>
    <button type="button" class="btn btn-light btn-lg"><a href="/movies">See what's on!</a></button>
</div>
</main>

