<div>
  <h1 style="font-size:120px; color:white; margin-left:60%">Cinema
    <br />
    Ironhack</h1>
  <div>
    <a
      style="font-size:20px; text-decoration:none; height:150px; background-color:white; color:black; padding:20px 50px; border-radius:30px; margin-left:60%"
      href="/movies"
    >Check the movies!</a>
  </div>
</div>