<div class="container-fluid">

    <div class="row">

        <div class="col-6"></div>

        <div class="col-6">

            <h1 class="title">Cinema</h1>
            <h1 class="title">Ironhack</h1>
            <a class="btn btn-primary bt " href="/movies">Check the movies!</a>

        </div>
    </div>

</div>