<div class="container">
    <div class="row justify-content-end mt-5">
        <div class="col-6">
            <h1>Cinema Ironhack</h1>
            <a href="/movies" class="btn btn-secondary mb-3 mt-4 homebutton">Check the movies!</a>
        </div>
    </div>
</div>