
<div class="index">
  <h1> Welcome to Cinema Ironhack</h1>
  <ul>
    <li>
      <a href="/movies">Movies List</a>
    </li>

    <li>
      <a href="/movies/create">Create New Movie Entry</a>
    </li>
  </ul>
</div>
