<style>
  main { margin: 0; padding: 0; height: 100vh; display: flex; justify-content:
  center; align-items: center; background-image: url('/images/cinema.jpg');
  background-size: cover; background-repeat: no-repeat; background-position:
  center; }
</style>
<div class="d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-white fw-bold" style="font-size: 5.5rem;">Cinema Ironhack</h1>
  <a type="button" class="btn btn-light" href="/movies" >Check the
    movies!</a>
</div>