<div class="row">
  <header class="col header">
    <h1>IronCinema</h1>
  </header>
</div>
<div class="row index-content">
  <div class="col align-items-center pass-col">
    <h3>Get the 6-month pass!</h3>
    <h6>Special offer! Only 7.500€!</h6>
    <button class="btn btn-pass">SOLD OUT</button>
  </div>
  <div class="col d-flex justify-content-center align-items-center showtime-col">
    <a href="movies/"><button class="btn btn-showtimes">SEE SHOWTIMES</button></a>
  </div>
</div>
