<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
  <img src="../images/cinema.jpg" alt="..." style="width:100%;">
  <div class="bottom-left">Movies</div>
  <div class="top-left">Movies</div>
  <div class="top-right">Movies</div>
  <div class="bottom-right">Movies</div>
  <div class="centered">
      <a href="/movies" class="btn btn-primary">Check Movies</a>
  </div>
</div>
