<div class="start">
    <div class="title1">
        <h1>Cinema Ironhack</h1>
    </div>

    <div class="btn">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/movies"><button class="btn btn-primary me-md-2" type="button">Check the movies!</button></a>
        </div>
    </div>
</div>