
<html class="bc-index">
    
    <div class= "cinema-text">

    <h1 class="h1-index">Cinema Ironhack</h1>

    
    <a class="btn btn-primary" href="/movies" role="button">Check the movies!</a>

</div>

</html>
