<div class="container index-container">
    <div class="row">
        <div class="col-6"></div>
        <div class="right-colum col-6">
            <h1>
                Cinema
                <br>
                Ironhack
            </h1>
            <a href="/movies">Check the movies!</a>
        </div>
    </div>
</div>