<div id="home-page">
    <img id="home-page-image" src="/images/cinema.jpg" alt="">
    <h1 id="home-page-title">Ironhack Cinema</h1>
    <a id="movies-button" href="/movies">Check The Movies</a>
</div>
