<html>
<head>
  <title>Movie Theater</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Movie Theater</h1>
    <p>Check out our latest movie releases.</p>
    <a href="/movies" class="btn">View Movies</a>
  </div>
</body>
</html>