<div class="container-fluis cinema-back">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="cinema-title">
                        Cinema IronHack
                    </div>
                    <a href="/movies"><button type="button" class="btn btn-primary btn-lg mt-5 cinema-button">Check the
                            movies</button></a </div>
                </div>
            </div>
        </div>
    </div>