{{!-- <h1>{{title}}</h1> --}}
    {{!-- Welcome to {{title}}</p> --}}
<form action="/movies" method="get">
  
  
  <button type="submit">See movies!</button>
</form>
<button><a href="/movies">See movies! </a></button>