<div class="button-container">
    <div class="contenedor">
        <img class="first" src="../images/cinema.jpg" alt="cinema">
        <div class="centrado">CINEMA IRONHACK</div>
        <a href="/movies" alt="movies">Check the movies!</a>
    </div>
</div>


{{!-- <a href="/movies" class="btn btn-dark">Check the movies</a> --}}