<div class="home">
        <div class="text">
            <h3 class="cinema">Cinema</h3>
            <h3 class="ironhack">Ironhack</h3>
            <a class="button" href="/movies">CSee the movies!</a>
        </div>
</div>