<div class="container">
    <div class="title">


        <p>Cinema</p>
        <p>Ironhack</p>



    </div>
    <div class="button">
        <a class="btn btn-light" href="/movies" role="button">Check the movies!</a>

    </div>

</div>


</div>