<!-- <h1>{{title}}</h1> -->
<!-- <p>Welcome to {{title}}</p> -->
<div class="">
  <h2>Cinema Ironhack</h2>

  <!-- <button type="submit">Chek movies!</button> -->

  <div class="row">
    <div class="col text-center">

      <button class="btn btn-primary btn-lg">Check movies!</button>
    </div>
  </div>
  <img src="/images/cinema.jpg" alt="">
</div>
