<header class="header">
  <div class="h1-cinema ">
    <h1>Cinema   <br>
         Ironhack</h1>
    <a href="/movies" class="btn btn-primary rounded-pill btn-lg button-alignment">Check the movies!</a>
  </div>
</header>
