<div class="container home">
  <h1 class="display-1">IRONHACK </h1>
  <h1 class="display-1">CINEMA</h1>
  
    <a class="btn btn-light btn-lg" href="movies" role="button">Check the Movies!</a>
 
</div>
