<div class="d-flex align-items-end flex-column">
  <div class="indexDiv">
    <h1 class="indexTitle">Cinema<br> Ironhack</h1>
    <a href="/movies" class="btn btn-primary active">Check the
      movies!</a>
  </div>
</div>