<div class="cinema-index">

    <div class="container d-flex justify-content-center align-items-center flex-column h-100">
        <h1>Cinema IronHack</h1>

        <a class="btn btn-outline-light" href="/allmovies">Check the movies</a>

    </div>

</div>