<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> CINEMA </h1>
    <h1> IRONHACK </h1>
        <p>Welcome to {{title}}</p>

        <form action="/movies" method="GET">
            <button input="SUBMIT">Check the movies!</button>
        </form>
    
</body>
</html>
