<div class="home-container">
  <div class="form-wrapper">
    <img src="../images/cinema.jpg" class="img-fluid" alt="Responsive image">
    <a class="btn btn-primary" href="/movies" role="button">Check this movie!</a>
  </div>
</div>