
<main class="vh-100 bgImageCinema d-flex justify-content-end">
  <section class="indexContainer d-flex flex-column align-items-end">
    <h1 class="text-white customH1 fw-bold">Cinema <br>Ironhack</h1>
    <a href="/movies" class="indexButton btn btn-light me-auto rounded-5">Check the movies!</a>
  </section>
</main>