<div class="bg__cinema d-flex align-items-center">
  <div class="container text-center align-middle">
    <h1 class="display-1 text-white">Cinema</h1>
    <h1 class="display-1 text-white">Ironhack</h1>
    <a href="/movies" class="text-info btn btn-light">Check the movies!</a>
  </div>
</div>