<!-- <h1>{{title}}</h1> -->
<!-- <p>Welcome to {{title}}</p> -->
<div class="">
  <h2>Cinema Ironhack</h2>

  <!-- <button type="submit">Chek movies!</button> -->

  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-light btn-lg"><a href="/movies" >Check the movies!</a></button>
        <!-- <button type="button" class="btn btn-link btn-lg"><a href="/movies" >Check the movies!</a></button> -->

    </div>
  </div>
  <img src="/images/cinema.jpg" alt="">
</div>
