<div class="container-fluid p-3 m-0 d-flex align-items-center" id="home-bg">
    <div class="col d-flex flex-column align-items-center align-self-center">
        <h1 class="text-light col-3">Cinema Ironhack</h1>
        <a href="/movies" class="btn btn-info col-3">Check the movies!</a>
    </div>
</div>