<div id="home">
    <img src="/images/cinema.jpg" alt="">
    </div>
    <div class="center-search">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <a href="/movies">Check the movies</a>
    </div>
