<div>
    <img src="./images/cinema.jpg" class="img-fluid" alt="cinema image">
</div>

<dir class="">
    <h1>Cinema Ironhack</h1>
    <a href="/movies" class="btn btn-primary" role="button" data-bs-toggle="button">Check the movies</a>
</dir>