<h1>BIENVENIDA YANI A NUESTRO REPOSITORIO DE PELICULAS</h1>
<h2>Espero que este lab este a tu agrado.</h2>
<h2>Ya se que este feito pero no es el exterior sino el interior de cada pagina </h2>
<a href="/movies"><button>Ver PELICULAS</button></a>