<div id="MainContainer" class="container-fluid">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">
        <p class="index__title">Cinema</p>
        <p class="index__title">Ironhack</p>
        <div class="d-grid col-5">
            <a href="/movies"><button type="button" class="btn btn-light btn-lg mt-4 text-info">Check the movies!</button></a>
        </div>
        
    </div>
  </div>
</div>