


<div class="home-background">
 <div class="welcome">
 <div class="title">
 </div>
<div><h1 class="letters">CINEMA</h1></div>
<div><h1 class="letters">IRONHACK</h1></div>


    <form action="/movies" method="GET">
            <div class="btn">
                <button type="submit" class="btn-primary btn-lg btn-rounded">Search for a film</button>
            </div>
    </form>
    </div>
    </div>