<head><title>Cinema Ironhack</title></head>

<body id="index">
  <div class="container">
    <div class="column2">2</div>
    <div class="column2">
      <h1 class="homeTitle">Cinema Ironhack</h1>
      <a href="/movies/list"><button
          class="uk-button uk-button-danger uk-button-large"
        >Check the movies!</button></a>
    </div>
  </div>
</body>