
    <h1 class = "title-cinema">Cinema Ironhack</h1>

        <img  class = "img-cine" src="/images/cinema.jpg" />

    
    <button  class ="btn-check" type="submit" >

     
        <a  class = "button-check-movies" href="/movies">Check the movies</a>
            
 

    </button>


