<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="home" class="d-flex flex-column align-items-center">
    <div class="container-sm box ">
        <h2 class="text-white">Cinema Ironhack</h2>
        <a href="/movies" class="btn btn-light rounded-pill">Check the movies!</a>
    </div>
</div>  

{{!-- d-flex flex-column align-items-center --}}