<div class="container-index">
    <div>
        <div class="container-title">
            <h1 class="title">Cinema Ironhack</h1>
        </div>
        <div class="link">
            <a class="button-movies" href="/movies">Check the movies!</a>
        </div>
    </div>
</div>