<div class="container">
    <div class="hero">

        <h1 class="heroText">Movie<strong>Tube</strong></h1>
        <p class="title"><strong>Welcome to the best film port</strong></p>

    </div>

    <a class="buttonBack" href="/movies">Go to Movies</a>
</div>