<div class="d-flex align-items-end flex-column">
    <div class="centerText">
        <h1>Cinema <br> Ironhack</h1>
        <a href="/movies" class="btn btn-dark">Check the movies!</a>
    </div>
</div>