<div id="cinema-ironhack">
    <h1>Cinema Ironhack</h1>
    <div class="form">
        <form method="GET" action="/movies">
            <button class="btn btn-info" type="submit">Check the movies!</button>
        </form>
    </div>
</div>