<div class="col-12 pt-5">
    <div class="row-12 d-flex flex-row-reverse text-left">
        <h1>Cinema <br>Ironhack</h1>
    </div>
    <div class="moviesbutton row-12 d-flex flex-row-reverse text-left mr-5">
        <button>
            <a class="text-danger" href="/movies">Check the movies!</a>
            </button>
    </div> 
</div>


