<main class="container">
    <div class="row justify-content-end align-items-center">
        <div class="col-5">
            <h1 id="cinema-ironhack">Cinema Ironhack</h1>

            <a class="btn btn-light" href="/movies" role="button">Check the movies!</a>
        </div>
    </div>
</main>