<div>
    <div id="main-banner">
        <div>
            <h1>{{title}}</h1>
        </div>
        <div id="main-btn">
            <a class="btn btn-light cinema-btn" href='/movies' role="button">Check the movies!</a>
        </div>
    </div>
</div>
