<div class="row background">

    <div class="col-12 home-card">
        <h1>Cinema IronHack</h1>

        <div class="index-btn">
            <a href="/movies" class="btn btn-light button">Check the movies</a>
        </div>
    </div>




</div>