<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <div id="title-button">
        <h1>Cinema
            <br>Ironhack</h1>
        <a href="/movies">Check</a>
        {{!-- <button>Check the movies !</button> --}}
    </div>
    <img id="img-home" src="images/cinema.jpg" alt="Cinema">


</body>

</html>