<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsRAljFNfmGg-eGps_kTDLXCN6Vi90ip2R56IKSbHYd300yKaeRw" alt="copied" width="900" height="500">
<a href="/movies"><button>Check the movies!</button></a>