<style>
    body {
        background-image: url('../images/cinema.jpg');
        background-position: center top;
        background-size: 100% auto;
    }
</style>

<div class="homeTitle">
    <h1 class="appTitle">{{appTitle}}</h1>
    <a class="btn btn-primary btn-lg" href="/movies" role="button">Cartelera</a>
</div>