<div class="bg"></div>

<header class="hero">
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <h1>Cinema Ironhack</h1>
                <a class="btn btn-light rounded-pill movie-button" href="/movies">Check the Movies!</a>
            </div>
        </div>
    </div>


</header>