{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
{{!-- <div class="welcome-image-wrapper"> --}}
<div>
<img class="welcome-image" src="/images/cinema.jpg" alt="welcome-image">
</div>

<div class="welcome-wrapper">
    <div class="inner-wrapper">
    <h1 class="welcome-title">Cinema <br> Ironhack<h1>
    {{!-- <div class="button-wrapper"> --}}
        {{!-- <a href="#"> --}}
    <button class="button"> <a class="abutton" href="http://localhost:4000/movies"> Check the movies!</a></button>
        {{!-- </a> --}}
    {{!-- </div> --}}
    </div>
</div>

{{!-- <div class="welcome-button">
<p>Hello</p>
</div>
</div> --}}