<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/cinema.jpg" class="d-block w-100" alt="IronHack-Cinema">
      <div class="carousel-caption  text-center d-md-block">
        <h1>Cinema Ironhack</h1>
        <a href="/movies">
            <button class="btn btn-light">Check the movies!</button>
        </a>
      </div>
    </div>
  </div>
</div>
