

<body style="background-image: url(https://images.pexels.com/photos/7234393/pexels-photo-7234393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=740);">
  <p class="text-end">IRONHACK CINEMA</p>
</body>
  

<div id="home-button" class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary" href="/movies" role="button">Go to Movies!</a>
</div>


