<div class="index-container container-fluid">
    <div class="row h-100">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
            <h1>Cinema Ironhack</h1>
            <a href="/movies">Check the movies!</a>
        </div>
    </div>

</div>