<div class="container">
    <div class=" row justify-content-center mt-5">
        <div class="d-flex align-items-end flex-column ">
            <h1>Cinema Ironhack</h1>
            <div class=""></div>


            <a href="/movies" type="button" class="btn btn-secondary btn-lg">Check the movies!</a>
        </div>
    </div>
</div>