<div class="img-wrapper">
    <img class="img-responsive" img src="/images/cinema.jpg" alt="cinema-popcorn">
    <div class="img-overlay">
        <h1 class="title">{{title}}</h1>
        <a href="/movies" class="btn-primary">Check the movies!</a>
    </div>