<div class="homepage">
  <div>

    <div id="homepage-title">
      <h1>Cinema</h1>
      <h1>Ironhack</h1>
    </div>

    <div id="button-div">
      <a href="/movies">Check the movies!</a>
    </div>

  </div>

</div>