<div class="container" id="index">
  <div class="row">
    <div class="col-md-4 offset-md-8 align-self-end">
      <h1>Cinema Ironhack</h1>
      
      <a href="/movies" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Check the movies!</a>
    </div>
  </div>
</div>