<div class="mainBlock">
    <div class="innerBlock">
        <h2 class="mainTitle">Cinema<br> Ironhack</h2>
        <button class="button" type="button" class="btn btn-light"><a href="/movies">Check the movies!</a></button>
    </div>

</div>