
  <div class="mainHeader">
    <h1>Ironhack<br>Cinema</h1>
  </div>
  <div class="buttonContainer">
    <a class="mainButton" href="/movies">Check the movies!</a>
  </div>
  <img class="homepageImage" src="/images/cinema.jpg" alt="popcorn" />
