{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="background-home">
    <div class="content-home">
        <h1>Cinema<br> Ironhack</h1>
        <a href="/movies" class="btn-home">Check the Moovies</a>
    </div>
</div>