<div class="image">
    <form class="form" method="GET" action="/movies">
        <h1 class="title">Cinema Ironhack</h1>
        <button href="/movies" class="btn btn-dark">Check the Movies</button>
    </form>
</div>
