

<h1>Cinema Ironhack</h1>

<button>
<a href="/movies"> Check the movies! </a>
</button>

<style>
    body {
      background-image: url('/images/cinema.jpg');
      background-repeat: no-repeat;
      background-size: cover; 
    }
  </style>