<div id="index">
    <div class="container">
        <div id="cinema-title">
            <h1>Cinema <br>
                Ironhack</h1>
        </div>
        <div class="check-movie">
            <a href="/movies">Check the movies!</a>
        </div>
    </div>

</div>