{{!-- //Iteration 2 | The Home Page --}}
<div class="checkMoviesLink">
    <h1 class="firstpageH"> Cinema <br> Ironhack</h1>
    <form action="/movies" method="post"></form>
    <button class="checkButton" ><a href ="./movies" class="checka" >Check the movies!</a></button>
</div>
