<div id="background">
    <div id="box">
        <h1 id="title">{{title}}</h1>
        <button id="roundedButton" type="submit"><a id="check" href="/movies"> Check the Movies!</a></button>
    </div>
</div>
