
<body class="home-index">
    <div class="container index-format">
        <div class="row">
            <div class="mb-3">
                <h1>CINEMA</h1>
                <h1>IRONHACK</h1>
                <a class="btn btn-primary" href="/movies" role="button">Check the movies!</a>
            </div>
        </div>
    </div>
</body>
