<div class="container">
    <h1>Cinema Ironhack</h1>
    <img class="backgroundImg" src="/images/cinema.jpg" alt="Cinema Background">
    <a class="moviesLink" href="/movies"> Check the movies!</a>
</div>