<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="/images/cinema.jpg" alt="Cinema Ironhack">
<div>
    <h1><span>Cinema Ironhack</span></h1>
</div>
<div>
<p><a href="/movies">Check the movies !</a></p>
    </div>