<style>
    body {
        background-image: url('/images/cinema.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


<h1>Cinema Ironhack</h1>

<a href="/movies">Check the movies!</a>