<div class="home-page">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-12 d-md-flex col-md-4 text-end home-page-content align-items-start">
                <h1 class="text-white lh-1 text-start display-1"><strong>Cinema Ironhack</strong></h1>
                    <button class="btn btn-light my-2"><a href="/movies">Check the movies!</a></button>
            </div>
        </div>
    </div>
</div>