<main class="home-container">
    <h1>Cinema Ironhack</h1>

    <a href="/movies">
    <button>
    Check the movies
    </button>
    </a>

    <a href="addmovies">
        <button>
            Add Movies
        </button>
    </a>
</main>
