<main id="home">
    <div id="home-container"
        class="text-light w-50 h-100 d-flex ml-auto flex-column justify-content-start align-items-center">
        <h1 class="">Cinema <br>Ironhack</h1>
        <button class="btn btn-light rounded-pill px-5 py-2">
            <a href="/movies" class="font-weight-bold">Check the movies!</a>
        </button>
    </div>
</main>