{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


{{!-- <img src="../images/cinema.jpg" alt="pic"> --}}
<div class="indexDiv">
    <h1>Cinema Ironhack</h1>
    <button class="btn btn-primary"><a href="/movies">Check the moviess!</a></button>
</div>

