
<div class="home">
    <div class="container-home">
    <h1>Cinema Ironhack</h1>
    <form id="checkMovies"method="get" action="/movies">
   <center> <button type="submit">Check the movies!</button></center>
    </form>
    </div>
</div> 