<div id="background" class="d-flex flex-column align-items-end">
    <div class=" position-relative">
        <h1 >Cinema</h1>
        <h1>Ironhack</h1>
        <a href="/movies"><button class="btn btn-light">Check the movies!</button></a>
    </div>
</div>