    <div class="container-fluid home">
        <div class="row d-flex justify-content-end">
            <h1 class="text-white">Cinema <br> Ironhack</h1>
        </div>
        <div class="row d-flex justify-content-end ">
            <a class="btn btn-light rounded-pill" href="/movies">Check the Movies!</a>
        </div>
    </div>




