<div>
    <div>
        <img class="imgIndex" src="/images/cinema.jpg" alt="cinema image">
    </div>
    <div>
        <h1 id="title">Cinema Ironhack</h1>
        <a href="/movies" class="checkBtn">Check the movies!</a>
    </div>
</div>