
<main class='index'>
    <div class='container-fluid'>
    <div class='row'>

        <div class='col-6'></div>

        <div class='col-6'>
            <h1 class='title'>Cinema Ironhack</h1>
            <a href='/movies'><button class='button-movies'>Check the movies!</button></a>
        </div>

    </div>
    </div>

</main>

