<h1>Cinema Ironhack</h1>

<img src="/images/cinema.jpg" alt="">

{{!-- <a href="/peliculas/listado">Check the movies</a> --}}

<a class="btn btn-primary" href="/peliculas/listado" role="button">Check the movies</a>
