<div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="display-1 mb-5">Ironhack Cinema</h1>
            <a href="/movies" class="btn btn-outline-dark">Check the movies!</a>
        </div>
    </div>
</div>
