<body id="index-body">
  <div id="title-container">
    <h1 id="index-title">Cinema Ironhack</h1>
    <form action="/movies">
      <button type="submit">Check the movies!</button>
    </form>
  </div>
</body>