<main class='index-body'>
  <div class="title">
    <h1>Cinema Ironhack</h1>
  </div>
  
  <form action="/movies" method="GET">
    <button class="title-button">Check the Movies!</button>
  </form>

</main>