<h1>{{title}}</h1>
<p>Welcome To {{title}}</p>
<div class="bg-image">
  <div class="text text-white">
    <h1>Cinena<br />Ironhack</h1>
    <a href="/movies" class="btn btn-lg btn-round mt-5">Check the Movies!</a>
  </div>
</div>