


<div class="home-background">



 <div class="welcome">


 <div class="title">

 </div>



    <form action="/movies" method="GET">
            <div class="form-btn">
               
                <button type="submit" class="btn-danger">Search for a film</button>
                 
            </div>


    </form>
    </div>

    </div>