<div id="index">
<h1>Cinema<br>Ironhack</h1>

<button id="btn-primary"><a href="/movies">Check the movies!</a></button>
<button id="btn-secondary"><a href="/movies/create">Add new movie</a></button>

</div>