
   <main class="portada">
     <div class="container">
         <div></div>
         <div>
             <h1>Cinema Ironhack</h1>
             <a class="indexButton" href="/allMovies">Check the Movies</a>
         </div>
     </div>   
    
   </main>
    