<div class="container-fluid p-5 bg">
<div class="container h-100 p-5 d-flex flex-column align-items-end">
    <div>
<h1 class="text-white fw-bold fs-xl">Cinema <br>Ironhack</h1>
<a class="btn btn-light rounded-5 px-3 fs-4" href="/movies">Check the movies!</a>
</div>
<img src="" alt="">
</div>
</div>