
<div class="container index__leftcol">
    <div class="row ">
        
        <div class="col-6 index__container">
            <h1>Ironhack</h1>
            <h1>Cinema</h1>
            <button class='index__btn'>
            <a href="/movies" class="button a__btn " role="button">Check the movies!</a>
            </button>
        </div>
    </div>
</div>

