<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{!-- Iteration 2 | The Home Page --}}
<div class="background">
    <h1>Cinema Ironhack</h1>
    <br>
    <a class="btn" href="/movies">Check the movies!</a>
</div>