<div> 
    <h1 class = "title-cinema">Cinema Ironhack</h1>

    <div>
        <img  class = "img-cine" src="/images/cinema.jpg" />
    </div>
    <div >
    <button  clas ="btn-check" type="submit" >

     
        <a  class = "button-check-movies" href="/movies">Check the movies</a>
            
      </div>

    </button>

</div>