    {{!-- <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p> --}}
<div class = 'welcome-title'>
    <div class = "titles">
        <h1>Cinema Ironhack</h1>
        <div class = "buttom">
            <a href="/movies">Check the movies!</a>
        </div>
    </div>
</div>



