<div class='main-page'>
    <div>
        <h1>Cinema</h1>
        <h1>Ironhack</h1>
    </div>
    <div>
        <a href='/movies'>Check the movies!</a>
    </div>
</div>

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
