<img class='main-image' src="/images/cinema.jpg" alt="background image of popcorn">
<div class="main">
  <div class="title">
    <h1>Cinema</h1>
    <h1>Ironhack</h1>
    <a href="/movies">Check the movies!</a>
  </div>
</div>