<div class="container-fluid fondo">
  <div class="row">
    <div class="col">
      <h1 class="text-white">Cinema Ironhack</h1>
      <a href="/movies" class="btn btn-light">check the movies!</a>
    </div>
  </div>
</div>