<div class="container text-end mt-5 ">

    <h1 class="text-light text-uppercase fw-bold fs-1">Cinema Ironhack</h1>
    <a href="/movies/list" class="btn btn-dark text-light">Check the movies!</a>

</div>