<div class="welcome">

    <h1 class="display-1">{{titleApp}}</h1>


    <a class="btn btn-light btn-lg active view-all" role="button" aria-pressed="true" href="/movies">Check the
        movies!</a>


</div>