
<div class='home'>
    <div class="home-title">
        <div class='row d-flex justify-content-center'>
            <h1 class='text-white display-1 font-weight-bold h1'>Cinema <br> Ironhack</h1>
        </div>
        <div class='row d-flex justify-content-start '>
            <a class='btn-lg btn-light rounded-pill p-3 px-5 home-btn mt-3' href='/movies'>Check the Movies!</a>
        </div>
    </div>
</div>
