<div class="card">
  <div class="card-body ">
      <div class="stack">
          <h1 class="titulo">Cinema Ironhack</h1>
            <a class="btn btn-secondary boton" href="/movies"> Check all the movies </a> 
            
      </div>
    <img src="./images/cinema.jpg" alt="" class="img">
  </div>
</div>

