<div id="landing" class="d-flex justify-content-end">
  <div class="call-to-action d-flex flex-column align-items-start">
    <h1 class="title">{{title}}</h1>
    <a href="/movies-list" class="button"><span>Check the movies!</span></a>
  </div>

</div>