<body>
<html class="htmlLayout">
<div class="layoutDiv">
    <h1> Cinema <br> Ironhack</h1>
    <form action="/movies" method="get"></form>
    <button type="button">Check the movies!</button>
</div>
</html>
</body>