<div>
    <h1>Cinena</h1>
    <H2>Ironhack</H2>
</div>
<div class="d-flex justify-content-center align-items-center h-100">
  <a href="/movies" class="btn btn-primary btn-lg">Check the movies</a>
</div>