<img style="width: 100%; position: absolute;" src="../images/cinema.jpg" />

<div id="container">
    <h1 id="title-index">Cinema Ironhack</h1>
    <button id="check-the-movies" type="button"><a href="/movies">Check the
            movies!</a></button>
</div>