<div class="container-index">
    <div class="wrapper-title">
        <h1>Cinema Ironhack</h1>
        <button onclick="location.href='/movies'" type="button">Check the movies!
        </button>
    </div>
</div>