<header class="header">
    <div class="contenedor hero">
        <div class="contenedor-textos">
            <p>Cinema</p>
            <p>Ironhack</p>
            <a href="movies">Check the movies!</a>
        </div>
    </div>
</header>
