<div class="home_main">
    <div class="home_main_right">
        <h1>Iron Cinema</h1>
        <button class="home_main_right--button">
        <a href="/movies">Check the movies</a>
        </button>
    </div>
</div>

