<body>

    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6 home">
            <h1 class=" home justify-content-start">Cinema Ironhack</h1>
            <p>Welcome to {{title}}</p>
            <hr>
            <a href="/movies" class="btn btn-outline-primary btn btn-light rounded-pill">Check the movies</a>

        </div>


</body>