{{!-- <h1>{{title}}</h1> --}}
    {{!-- Welcome to {{title}}</p> --}}


{{!-- <form action="/movies" method="get"> 
  <button type="submit">See movies!</button>
</form>



<form action='/movies' method='GET'>
   <button>Check the movies!</button>
  </form> --}}

<button><a href="/movies">See movies! </a></button>