<head>
    <link rel="stylesheet" href="/stylesheets/background.css">
</head>

<div class="index">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
            <h1 class="main-title">
                Cinema <br> Ironhack
            </h1>
            <a href="/movies"> <button class="index-button"> Check the movies!</button></a>
        </div>
    </div>
    
</div>
