{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<section>
        <img src="/images/cinema.jpg" alt="cinema">
        <h1>
            Cinema <br>
            Ironhack
        </h1>

        <button class = "movies-button">
            <a href="/movies">Check the movies!</a>
        </button>

</section>