<div class="home">
    <div class="container-home">
    <h1>Cinema Ironhack</h1>
    <form id="checkMovies"method="get" action="/movies">
    <button type="submit">Check the movies!</button>
    </form>
    </div>
</div>