<div class="mx-5 p-2 background-img d-flex justify-content-center">
    <div class="p-5 d-flex flex-column justify-content-start align-items-end">
        <div class="col-6">
            <h1 style="color: white" class="display-3">Cinema Ironhack</h1>
            <a class="btn btn-primary rounded-pill px-5 py-4" href="/movies" role="button">Check the movies!</a>
        </div>
    </div>
</div>