

<img src="/images/cinema.jpg" alt="Cinema picture" id="home-picture">


<div class="flex">

    <h1 id="home-title">{{title}}</h1>

    <a href="/movies" id="check-button">Check the movies!</a>   

</div>
