<!-- <h1>{{title}}</h1>
<h2>Welcome to {{title}}</h2> -->

 <p>Cinema Ironhack</p>

  <form action="/movies.hbs" method="get">
    <input class="button1" type="submit" value="Check the movies!">
  </form>