<main>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-white fw-bold">Cinema Ironhack</h1>
    <a type="button" class="btn btn-light" href="/movies">Check the movies!</a>
  </div>
</main>