<div>
    <div class="contenedor">
        <div class="texto">
            <h1>Cinema<br>Ironhack</h1>
        </div>
        <div class="btn-container">
            <a class="btn btn-light text-info" href="/movies">Check the movies!</a>
        </div>

        <img id="cover-img" src="/public/images/cinema.jpg" class="img-fluid" alt="...">
    </div>
</div>