{{!-- <h1>{{title}}</h1> --}}
  {{!-- <p>Welcome to {{title}}</p>  --}} 
<div class="home-page">
<h1 class="first-title">Cinema  <br> Ironhack</h1>
<a href="/movies"><button class="home-btn">Check the Movies!</button></a>
</div>