<div class="background">
    <div class="container center">
        
        <h1 class="title">NICE MOVIES</h1>

        <button type="button" class="btn btn-outline-dark">
            <a href="/movies">check the movies!</a>
        </button>

    </div>

</div>