<div id="cinema" class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Cinema Ironhack</h1>
        <a class="btn btn-light" href="/movies">Check the movies</a>
    </main>
</div>