<h1>Cinema<br>Ironhack</h1>
<a href="/movies">
    <button type="button" class="btn btn-primary">Check the movies!</button>
</a>
<img class="fondo" src="../public/images/cinema.jpg" alt="fondo de cine">