
{{!-- jajaj perdon por la forma tontaaaa de br jajajaj --}}

<div id="backgroud">
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>

<h1 class="title">Cinema</h1>
<h1 class="title">Ironhack</h1>
<a href="/movies" class=" title btn btn-light">Check the movies!</a>

   
</div>
