<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

 <div class="welcome">
        <form action="/movies" method="GET">
            <div class="form-btn">
                <button type="submit" class="btn-danger">Search for a film</button>
            </div>
    </form>
    </div>