<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="cinema-background">
 <div class="welcome">
 <div class="title">
 </div>
<h1 >CINEMA</h1>
<h1 >IRONHACK</h1>

        
                <a href="/movies"> Search for a film</a>
        
    
    </div>
    </div> 