<div id="background-home">
  <div class="has-text-white pt-6 has-text-right mr-6" >
    <h1 class="is-size-1 has-text-weight-bold">Cinema</h1>
    <h1 class="is-size-1 has-text-weight-bold">Ironhack</h1>
  </div>
  <div class="pt-5 has-text-right mr-6 ">
    <a class="button has-background-light is-large is-rounded has-text-primary" href="/movies">Check the movies!</a>
  </div>
</div>