<div class="home-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">
                <h1 class="home-title">Cinema Ironhack</h1>
                <a href="/movies" class="btn rounded-pill shadow-sm p-3 home-btn">Check the movies!</a>
            </div>

        </div>
    </div>
</div>