<div class="index">
    <div class="index-link">
        <h1>cinema </br> Ironhack</h1>
        <a href="/movies">Check the movies!</a>
    </div>
</div>



{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

--}}