<main id="startPage">
    <img src="/images/cinema.jpg" alt="Ironhack Cinema">
    <div>
        <h1>Cinema Ironhack</h1>
        <a href="/movies">Check the Movies!</a>   
    </div>     
</main></div>
