<div class="flex-container column index">

    <div class="title">
        <h1>Cinema Ironhack</h1>
        <a href="/movies">
            <button class="rounded-btn white-background">check the movies!</button>
        </a>

    </div>
</div>