<style>
    .background{
        height: 100vh;
        width: 100vw;
        background-image: url(../public/images/cinema.jpg);
        background-size: cover;
    },

</style>

<div class= "background">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>



    <a href="/movies/list">estas son nuestras películas</a>


</div>
