<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body style="background-color: black;">

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
