<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<header>
  <h1 style="color:purple">Iron Cinema</h1>
</header>


    {{{body}}}

<footer>
  <nav>Made with apple matcha juice by Shansunshine </nav>
</footer>

    <script src='/javascripts/script.js'></script>
  </body>
</html>
