<h2>Movies</h2>
<p>Check on the movie to check the showtimes!</p>
 {{#each movies as |movie|}}
<div class="row">
         
    <div class="col-3"></div>

    <div class="col">
  
        <img src="{{movie.image}}" alt="movie {{movie.title}} image" class="beer-image-style" />
        <h3 class="card-title">{{movie.title}}</h3>

        <a href="/movies/{{movie._id}}">See more</a>
    </div>
    <div class="col-3"></div>
  

</div>

  {{/each}}
