<h1><a href="/">Ironhack Cinema</a></h1>
<div class="movie-details-container">
  <div class="details-img">
    <img src="{{movies.image}}" alt="">
  </div>
  <div class="details-text">
    <p>Title: {{movies.title}}</p>
    <p>Director: {{movies.director}}</p>
    <p>Description: {{movies.description}}</p>
    <p><a href="/movies">Back</a></p>
  </div>
</div>