
<div class= "container">
<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check showtimes!</h3>
</div>

<div id ="list-container">
{{#each movies}}

<div class ="movie-list">
    <img src="{{this.image}}" alt="movie image">
    <h4>{{this.title}}</h4>
    <a href = "/movies/{{this._id}}">See more</a>
</div>

{{/each}}
</div>