<div class="movie-header">
  <h2 class="ironhack-cinema">Ironhack Cinema</h2>
  <p>Click on the movie to check the showtimes</p>

</div>

<div class="movie-overview">
  {{#each movieInfos}}
    <section class="display-movies">
      <img src="{{this.image}}" alt="" class="movie-image" />
      <h3 class="title">{{this.title}}</h3>
      <a href="/movies/{{this.id}}" class="btn">See more</a>
    </section>
  {{/each}}
</div>