<div class="container">
    <div class="titulo">
            <h2>Ironhack cinema</h2>
            <p>Click on the movie to check the showtimes!</p>
    </div>
    <div class="row">

        
            {{#each allMovies}}
               
                    <article class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{image}}" class="card-img-top" alt="{{title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>                    
                                <a href="#" class="btn btn-primary">See more</a>
                            </div>
                        </div>

                    </article>
                
            {{/each}}
        
    </div>
</div>