
IS it working

{{#each movies}}


<section class="movie-summary">
   <img src="{{image}}" alt="not a image">  
<h2>{{this.title}}</h2>
<p>   
    <a href="/movies/{{_id}}">see more</a> |
</p>

</section>
{{/each}}