<h1 class="tit-two">{{title}}</h1>
<p class="phrase">Click on the movie to check the showtimes!</p>
<div class="movies-container">
    {{#each movie}}
    <div class="movies">
        <img src="{{this.image}}" alt="">
        <p>{{this.title}}</p>
        <a href="/movies/{{this.id}}">See more</a>
    </div>
    {{/each}}
</div>
