<ul>
    {{#each movies}}
        <img src="{{this.image}}" alt="{{this.title}}">
        <li>{{this.title}}</li>
        <button id="buttonSeeMore"><a href="/movies/:id">See more</a></button>
    {{/each}}
</ul>