<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
<section class="movies">
{{#each movies}}
<div class="movieInfo">
<img src="{{this.image}}"/><br>
<h3>Title: {{this.title}}</h3>
<a href="/movies/{{this._id}}">See more</a>
</div>
{{/each}}
</section>