<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-4">
            <h4>{{title}}</h4>
            <img class="image" src="{{image}}" alt="">
        </div>
        {{/each}}
    </div>
</div>