<section>
    {{#each movies}}
        <div>
            <img src="{{image}}" alt="">
            <h3>{{title}}</h3>
            <a href="/movie/{{_id}}">See more</a>
        </div>
    {{/each}}
</section>

