<div class="container">
    <h1 class="text-center display-1 text-light">Cartelera Ironhack</h1>
    <div class="row gap-2 justify-content-center mt-5">
        {{#each movie}}
        <div class="card col-3" style="width:20%">
            <img class="card-img-top" src="{{image}}" alt="Card image cap">
            <div class="card-body p-3 d-flex flex-column align-items-center">
                <p class="card-title">{{title}}</p>
                <a href="/movies/{{_id}}">See more</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>