<h1>Ironhack Cinema</h1>
<h2>Click on the movies to check the showtimes!</h2>

<section>
    <ul>
        {{#each moviesDB}}
        <li>
            <img src="{{image}}" alt="{{title}}">
            <h3>{{title}}</h3>
            <a href="/movies/{{_id}}">See more</a>
        </li>
        {{/each}}
    </ul>
</section>