<a class="home" href="/">Home</a>

<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="card text-center m-1">
            <img src="{{image}}" class="card-img-top mt-2" alt="card image">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                
            </div>
        </div>
        {{/each}}
    </div>
</div>