<div class="container d-flex flex-row flex-wrap justify-content-center ">
    {{#each movieDb}}

    <div class="row m-3 ">
        <div class="card" style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>

                <a href="/movies/{{_id}}" class="btn btn-primary d-block t">See more</a>
            </div>
        </div>

    </div>



    {{/each}}
</div>