<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<div class="container ">

    <h1>Estas son todas las peliculas</h1>
    <div class="row">

        {{#each movie}}

        <div class="card container mt-5 " style=" width: 18rem; ">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="/movie/{{id}}" class="btn btn-primary">Detalle de Película</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>