<div class="movies-container">
  <div class="movies-text">
    <h1>Ironhack Cinema</h1>
    <h3>Click on See more to check the showtimes!</h3>
  </div>
  <div class="row">
      {{#each movie}}
        <div class="col-sm-4 my-3">
          <div class="card small-card">
          <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
          <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <a href="/movies/{{this.id}}">See more</a>
          </div>
          </div>
        </div>
      {{/each}}  
  </div>
</div>