<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>
<br>
<div class=" cardFront card-postmb-3 row row-cols-1 row-cols-md-2 g-4  ">

{{#each movies}}
<div class=" card border-secondary text-center" style="width: 18rem;">
<div >
    <img src={{image}} alt={{title}} width="100" height="100">

</div>
<div class="card-body" >
<h3 class="card-title">{{title}}</h3>
<a href="list/{{id}}">See more</a>


</div>
</div>
{{/each}}
</div>