<h1 class="uk-text-center">Ironhack Cinema</h1>
<p class="uk-text-center">Click on the movie to check the showtimes!</p>
<div class="uk-child-width-1-3 uk-margin-large-top uk-margin-large-bottom uk-grid-match uk-flex uk-flex-center" uk-grid>
    {{#each movies}}
        <div id="gridE" class="uk-margin-large-left uk-margin-large-right">
            <img src="{{image}}" alt="">
            <h5 class="uk-text-bold">{{title}}</h5>
            <a href="/movies/{{_id}}" class="">See more</a>
        </div>
    {{/each}}
</div>