<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

<div class="movies">
    {{#each movies}}
        <div>
            <img src="{{this.image}}" alt="movie-image"> <br>
            {{this.title}} <br>
            <a href="/movies/{{_id}}">See more</a>
        </div>
    {{/each}}
</div>