<div>
  <h3>
    Movies
  </h3>
  {{#each movies as |movie|}}
    <div>
      <img src="{{movie.image}}" />
    </div>
    <div>
      <h1>{{movie.title}}</h1>
      <a href="/movie/{{movie.id}}">See more</a>
  {{/each}}
</div>