<div class="container list">
    <h1>Ironhack Cinema</h1>
    <h3>Click on the movie to check the showtimes!</h3>
    <div class="row">
        <div class="card">
            {{#each allMoviesCreated}}
            <img src="{{this.image}}" alt="Movie image">
            {{this.title}}
            <a href="http://">See more</a>
            {{/each}}
        </div>
    </div>
</div>