<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

<div>
{{#each movies as |movie|}}
        <div>
            <img src="{{movie.image}}" alt="{{title}}">
        </div>
        <div>
            {{title}}
        </div>
        <div>
            <h2><a href="/movies/{{movie._id}}">Movie details</a></h2>
        </div>
{{/each}}
</div>
