<main class="movies">
    <h1>Ironhack Cinema</h1>

    <h2>Click on the movie to check the showtimes!</h2>

    <div>
    {{#each movies}}
        <div id="each-movie">
            <img src="{{this.image}}" alt="{{this.title}}-image">
            <h4>{{this.title}}</h4>
            <a href="/movieDetails/{{this.id}}">See more</a>

        </div>
    {{/each}}
    </div>



</main>
