<h1>IRONHACK CINEMA</h1>
  <h2>MOVIES</h2>
<div class="container_detail">
  <%movies.forEach((movie, detail) => { %>
    <div class="movies-container">
      <img src="<%= movie.image %>" alt="img" width="100px">
      <p></p>
      <a href="/movies/<%= movie._id %>">See More</a>
      
    </div>
  <% }) %>
  </div>




     

    

