<h1 class="text-light">MOVIES</h1>
<div class="container justify-content-center">
    <div class="row">
        {{#each filteredMovies}}
         {{> moviesPartial this }}
        {{/each}}
    </div>
</div>
