<h1>Movies Page</h1>
<section class= "movies-container">
    {{#each moviesObj }}
    <div class="movie-card">
       
        <div id="movie-image"> 
            <img  src=..bin/Movie="">
        </div>
        
        <div class = "movie-title">
            <p>Movie: {{ this.name }}</p>
        </div>

        <div>
            <a href="/moviedetails">See more</a>
        </div>

    
    </div>
    {{/each }}
</section>