{{#each data}}
    <div class="movie-preview">
        <h1>{{title}} yo</h1>
        <div class="image-preview">
            <img src="{{image}}" alt="">
            <button><a href="/movie/{{_id}}">Check full info</a></button>
        </div>
    </div>
{{/each}} 