<h2>Ironhack Cinema</h2>
<p>Click on the movies to check the showtimes!</p>

<div class='movies-list'>
{{#each movies}}
<div class='movies-details'>
 
 <img src="{{this.image}}" alt="{{this.title}} img">  
 {{this.title}}
<a href="/see-more{{id}}">See more</a>     

</div>
{{/each}}
</div> 
