<h1> Ironhack Cinema </h1>
<h4> Click on the movie to check the showtimes! </h4>

<div class="movies">

    {{#each movies}}
        <div id="movie">
            <img src="{{this.image}}">

            <h3>{{this.title}}</h3>
        
            <a target="_blank" href="/movies/{{_id}}">See More</a>
        </div>
    {{/each}}

</div>