<div class="container">

    <div class="row">

        {{#each allMovies}}
        <div class="col-4" <ul>
            </ul>
            <img src="{{this.image}}" />
            <br>
                <p>{{this.title}}</p>
            <br>
            <a href="#">See more</a>
        </div>
            {{/each}}
            </ul>
    </div>
</div>