<div class="movie-container">
        <div class="movie">

            {{#each movies}}
                <a class="movie-a" href="/movies/{{id}}">
                    <div class="movie-img-container" >
                        <img src={{image}} alt="bla">
                    </div>
                
                    <div class="movie-title-container">
                        <h4>{{title}}</h4>
                    </div>
                    
                </a>

            {{/each}}

        </div>
</div>