<div class="container">
    <div class="row">
        {{#each data}}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{image}}" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/details/{{_id}}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>