
<div class="movies-container">

{{#each movie}} 
<div class="movie-card">

<img class= "list" src="{{image}}" alt=""/>
<p class= "title small"> {{title}}</p>
<a class="small" href="/movies/{{id}}">See More</a>
</div>
{{/each}}



</div>

<a href="/">Go back to the menu</a>