<h2>Update the movie: {{title}}</h2>

<form action="/movies/{{_id}}/edit" method="post">  {{!-- action: where we send the info --}}
  <label> Title:
    <input type="text" name="title" value="{{title}}" />
  </label>

  <label> Director:
    <input type="text" name="director" value="{{director}}" />
  </label>

  <button>Save changes</button>
</form>
