<h1>Ironhack Cinema</h1><br>
<h2>Click on the movie to check the showtimes!</h2>
<div>
    {{#each allMovies}} 
    <img width="150px" src="{{this.image}}"><br>
    <h3>{{this.title}}</h3><br>
    <a href="/movies/{{this._id}}">See more</a><br>
    {{/each}}
</div>