<h2>Ironhack Cinema</h2>
<h3>Click on the movie to check the showtimes</h3>
<div class="movies-container">
        {{#each moviesFromDB}}
            <div class="movie-card">
                <img src="{{this.image}}" alt="{{this.title}}">
                <h2>{{this.title}}</h2>
                <a href="/movie/{{this._id}}">See More</a>
            </div>
        {{/each}}
</div>