<h2>Ironhack Cinema </h2>

<h4>Click on the movie to check</h4>


    <div class="row">
         
    {{#each movies}}
    <article style ="text-align: center"class="col-md-6 col-lg-4">
     <div class="card-body">
     <img src="{{image}}" alt="">
    
    <h5 style="margin-top: 20px;" class="card-title">{{this.title}}</h5>
    <p ><a href="/movies/detalles/{{_id}}">See more</a></p>
    </div>
    </article>
       
         

         
    
   
    
    {{/each}}
