<div>
    <a href="#">Go back</a><br>
    
    <img width="150px" src="{{oneMovie.image}}"><br>
    <h1>{{oneMovie.title}}</h3><br>
    <h2>{{oneMovie.director}}</h2><br>
    {{!-- <h3>Stars</h3><br>
    <ul>
        <li>{{}}</li>
    </ul> --}}
    
</div>