<div>

  <h1>Cinema Ironhack</h1>
  <h2>Click on the movie to check the showtimes!</h2>
  <div id="moviesList">
  {{#each moviesList}}
    <div class="eachMovie">
      <img src="{{image}}" />
      <p>{{title}}</p>
      <a href="/movies/{{this._id}}">See more</a>
    </div>
  {{/each}}
</div>
</div>