<h1>Create a Movie</h1>

<form action="/movies/create"  method="POST">
    <label> Title:
        <input type="text" name="title" required />
    </label>

    <label> Director
        <input type="text" name="director" />
    </label>



    <label> Description:
        <textarea name="description" cols="30" rows="4"></textarea>
    </label>

     <label> Stars:
    <input type="text" name="stars"/>
  </label>

 <label> Showtimes:
    <input type="text" name="showtimes"/>
  </label>

    <button type="submit">Create</button>
</form> 