<h1>Movies</h1>
<h2>Click on the links to see the showtimes</h2>


    {{#each movies}}
    <div>
        <img src="{{this.image}}" alt="image">
        <p>{{this.title}}</p>
        <a href="/movies/{{this._id}}">See More</a>
    </div>
    {{/each}}


</div>