<h1>IronHack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>
    <a href="/movies/create"><button>create movie</button></a>


<div class="movies">
  {{#each movies}}
  <div class="movie">
    <img src="{{image}}" alt="">
    <h3>{{title}}</h3>
    <a href="/movies/{{id}}">See more</a>
    <a href="/movies/delete/{{id}}"><button>Delete movie</button></a>
  </div>
  {{/each}}
</div>
