<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div id="movies-gallery">
    {{#each movies}}
        <img src="{{this.image}}" alt="{{this.title}}">
        <h3>{{this.title}}</h3>
        <a href="/movie/{{this.id}}">See more</a>
    {{/each}}
</div>