<h1>Ironhack cinema</h1>
<h2>Click on the movie to check the showtimes</h2>
<hr class="mb-3">

<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-md-4">
            <article class="card-group">
                <img src="{{image}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <div><a href="/movies-page/{{id}}" class="more">See more</a></div>

            </article>
        </div>
        {{/each}}
    </div>
</div>
<a href="/" class="btn btn-dark">Back</a>