<h1 class="details-header">Edit details of the movie:</h1>
<div class="form">
    <form action="/movies/{{this._id}}/edit" method="POST">
        <label>Title:
            <input type="text" name="title" value="{{this.title}}">
        </label>
        <label>Director:
            <input type="text" name="director" value="{{this.director}}">
        </label>
        <button type="submit"> Save changes </button>
    </form>
</div>

<br><br>