<div class="display-cards">
    {{#each movies as |movie|}}
    <div class="card text-center" style="width: 18rem;">
        <img src="{{movie.image.[0]}}" class="card-img-top" alt="{{movie.title}}">
        <div class="card-body">
            <h4 class="card-text">{{movie.title}}</h4>
            <a href="/movies/{{movie._id}}">See more</a>
        </div>
    </div>
    {{/each}}
</div>