<div class="container">
    <div class='top__bar'>
        <h1>Movies Catalogue</h1>
        <button class='movie__btn'>
                <a href="/" class="button a__movie__btn " role="button">Go back</a>
        </button>
    </div>
    <div class='row indmoviecard'>
        {{#each movies as |movie|}}
            <div class="col my-4 movies__card" >
                <div class="card" style="width: 18rem;">
                    <img src={{movie.image}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <a href="/movies/{{movie._id}}" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>