<h2>Ironhack Cinema</h2>

<main> 
<h3>Click on the movie to check the showtimes!</h3>


{{#each this}}

<img src='{{this.image}}' />

<a href="/display/{{this._id}}"> See more </a>

<p>{{this.title}} </p>


{{/each}}

</main>  
