<h2>Ironhack Cinema</h2>

<main> 
<h3>Click on the movie to check the showtimes!</h3>


{{#each this}}

<img src='{{image}}' />

<a href="/display/{{title}}"> See more </a>

<p>{{title}} </p>


{{/each}}

</main>  
