<h1>{{title}}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{#each movies}}
            <img src="{{movie.image}}">
            {{/each}}
        </div>
    </div>
</div>