<h2>Ironhack Cinema</h2>

<main> 
<h3>Click on the movie to check the showtimes!</h3>

<ul>
{{#each moviesfound}}

<li> <img src='{{this.image}}' /> </li>

<li> <p>{{this.title}} </p> </li>

<li> <a href="/display/{{this._id}}"> See more </a> </li>

{{/each}}

</main>  
</ul>