<div class="container">
    <h1>Movies</h1>
    <div class='row'>
        {{#each movies as |movie|}}
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src={{movie.image}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <a href="/movies/{{movie._id}}" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
 
</div>