<section class="movie-detail">
    <div id="movie-img">{{> movieCard}}</div>

    <div id="movie-info">
        <p> <strong>Director: {{this.director}}</strong> </p>
        <p><strong>Stars</strong></p>
        {{#each this.stars}}
        <ul>
            <li>{{this}}</li>
        </ul>

        {{/each}}
        <p>{{this.description}}</p>
        <ul id="lista-horario">
            {{#each this.showtimes}}
            <li>{{this}}</li>

            {{/each}}
        </ul>

    </div>
</section>