<h1>Ironhack Cinema</h1>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        {{#each movies}}
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src={{image}} alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"><a href="/movies/{{_id}}"">{{title}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>