<div class="container">
	<h2>Ironhack Cinema</h2>
	<a href="/">Go Back</a>
</div>	
<div class="movieLi">
	{{#each allMovies}}
		<div class="movieDet">
			<img class="img-fluid" src="{{this.image}}" alt="">
			<h4>{{this.title}}<h4>
			<a href="/movies/{{this._id}}">See more</a>
		</div>
	{{/each}}				
</div>





