<div class="container-fluid movies">
    <div class="row">
         
            <div class="col-4">
                <button> <a href="/">Go Back</a></button>
                <h3 class="movies-title">{{this.title}}</h3>
                <img src="{{this.image}}" alt="{{this.title}}">
                
            </div>     
       
    </div>
</div>