<div class="movies-text">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
</div>
<div class="movie-container">
    {{#each stuff}}
        {{>movie}}
    {{/each}}
</div>