<h2>Ironhack Cinema</h2>
<p>Clic on the movie to check the showtime!</p>
<div class="container">
    <div class="row">
        {{#each movie}}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/movie-details/{{_id}}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>