<div>
    <div class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{movie.image.[0]}}" class="img-fluid rounded-start" alt="{{movie.title}}" style="width: 400px;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h3 class="card-title">{{movie.title}}</h3>
                    <p class="card-text">{{movie.description.[0]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>