<a class="btn view-home" href="/">Home</a>

<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-4">
            <div class="card-deck">
                <div class="card" style="width: 25rem;">
                    <img class="image-movie" src="{{image}}" alt="{{title}}">
                    <h2>{{title}}</h2>
                    <a class="btn view-home" href="/movies/{{_id}}">See more</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>