<p>hola detalles de pelis</p>
<p>{{title}}</p>

{{!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <article class="card-group">
                <img src="{{image}}" class="card-img-top">
                <div class="card-body">

                    <a href="/">Go Back</a>
                    <h4 class="card-title">{{title}}</h5>
                        <h5>{{director}}</h5>


            </article>
        </div>
        {{/each}}
    </div>
</div>
<a href="/" class="btn btn-dark">Back</a> --}}