<main class='container'>
    

        <div class= 'row'>
            {{#each movies}}

                <article class="col-md-6 col-lg-4 beer">
                 <div >
                <img src="{{this.image}}" alt="{{this.title}}">
                 </div>
            
            <h4>{{this.title}}</h4>
            <a href="/movies/details/{{_id}}">view details</a>
        </article>

            {{/each}}
    </div>


    

</main>