<h1>Ironhack Cinema</h1>
<p>Click on movie to check the showtimes</p>
<div class="movies">
  {{#each movies}}
    <div class="movie">
      <img src="{{image}}" alt="" />
      <p>{{title}}</p>
      <a href="{{_id}}">See more</a>
    </div>
  {{/each}}
</div>