<section class="movieContentWrapper">
  <div class="oneMovieBox">
    <img src={{oneMovie.image}} width="250px" />
    <h1>{{oneMovie.title}}</h1>
    <h2>{{oneMovie.description}}</h2>
  </div>
</section>