<div id="movies-overview">

    <div>
        {{#if priorAction.created}}
            <h2>Movie successfully added!</h2>
        {{/if}}
        {{#if priorAction.deleted}}
            <h2>Movie successfully deleted!</h2>
        {{/if}}
        {{#if priorAction.updated}}
            <h2>Movie successfully updated!</h2>
        {{/if}}
    </div>

    <div class="header">
        <div>
            <h2>Ironhack Cinema</h2>
            <h3>Click on the movie to check the showtimes!</h3>
        </div>
        <a class="button" href="/movies/create">Add a Movie</a>
    </div>

    <div class="grid">
        {{#each movies}}
            <div class="card">
                <img src="{{this.image}}" alt="{{this.title}}">
                <h3>{{this.title}}</h3>
                <a class="button-dark" href="/movies/{{this._id}}">See more</a>
            </div>
        {{/each}}
    </div>

</div>