<div class="container mt-5 text-center ">
    <h1>Peliculas </h1>

    <div class="row ">
        {{#each movies}}

        <div class="col-md-4 mb-4 w-25 text-center ">
            <div class="card">
                <img src="{{image}}" class="card-img-top w-25">
                <div class="card-body text-center">
                    <p>
                        <a href="/movies/details/{{_id}}">{{title}}</a>
                    </p>

                </div>
            </div>
        </div>

        {{/each}}

    </div>

    <a href="/" class="btn btn-dark">Inicio</a>
</div>