<div class="container-fluid bg-dark text-light p-5 pb-0 mb-5">
  <div class="container bg-dark p-5">
    <h1 class="display-4">
      Welcome to my movies
    </h1>
    <hr />
  

  </div>
</div>

<div class="container">
  <button>
  <a href="/seeds/movies.seed.js">See more</a>
  </button>

  <div class="row gy-4 pb-4">
    {{#each movie}}

    {{movie.image}}
    {{movie.title}}
      
    {{/each}}
  </div>
</div>