{{#each movies}}
<div>
{{title}}

</div>
<div>
    <img src="{{image}}" alt="{{title}}">
</div>

<div>
    <button>
        <a href="movies/details/{{id}}">See more</a>
    </button>
</div>
{{/each}}

