<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>


{{#each movies}}
<span>
  <img src="{{this.image}}" alt="Portada">
  <p>{{this.title}}</p>
  <p><a href="movie/{{this._id}}">See More</a></p>
  </span>
{{/each}}
