
<div class="album py-5 bg-light">

    <h1>Ironhack cinema</h1>

<h6>Click on the movie to see the showtimes</h6>

  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-center">

      {{#each movies}}
        <div class="card text-center m-5" style="width: 18rem;">
          
          <img class="card-img-top" src={{image}} alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="/movies/pelis/{{id}}" class="btn btn-danger">See more</a>
          </div>

        </div>
      {{/each}}

    </div>
  </div>
</div>