<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtime!</p>

<div class="movies">
  {{#each moviesFromDB}}
  <div class="eachMovie">
    <img src="{{this.image}}" alt="{{this.title}} movie image">
    <h4>{{this.title}}</h4>
    <a href="/movie/{{this._id}}">See more</a>
  </div>
  {{/each}}
</div>