<h2>IronHack Cinema</h2>
<p>Click on the movie to check the showtimes!</p>

<ul>
    {{#each movieArray}}
    <li>
        <img src="{{this.image}}">
        <p>{{this.title}}</p>
        <a href="/movie/{{this.id}}">See more</a>
    </li>
    {{/each}}
</ul>