<h1>Ironhack cinema</h1>
<p>Click on the movie to check the showtimes!</p>

<div>
    <ul>
        {{#each Movies}}
        <li>
            <p>{{this.title}}</p>
        </li>
        {{/each}}
    </ul>

</div>