<div class="header">
    <h1>Ironhack cinema</h1>
    <h3>Click on the movies to check the showtimes!</h3>
</div>

<div>
<ul class="list grid movies">
    {{#each movies}}
    <li class="item">
        <img src={{this.image}} alt="movie-img">
        <h2>{{this.title}}</h2>
        <a href="/">see more</a>
    </li>
    {{/each }}
</ul>
</div>