<h1>Cinema Ironhack</h1>
<p>Click on the movie to check the showtimes!</p>
{{#each movies}}
  <div>
    <img src='{{this.image}}' alt='{{this.title}}' />
    <h2>{{this.title}}</h2>
    <a href='/movie-details/{{this.id}}'>See more</a>
  </div>
{{/each}}