{{#each movies}}

<div class="each-movie">
    <a href="/movies"><img src="{{image}}" alt="{{title}}"></a>
    <p>{{title}}</p>
    <a href="/movies>See more</a>
</div>
{{/each}}
    </div>
        <a id="back-home" href="/">Return Home</a>
    </div> 