<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each movies as |movie|}}
    <div class="col">
      {{> card movie = movie}}
    </div>
  {{/each}}
</div>