<div class="container">

    <div class="row">
        {{#each movie}}

        <div class="col-md-4">
            <div class="card mb-4 player-card">
                <img src="{{image}}" class="card-img-top object-fit-scale" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title"> <span>{{title}}</span></h5>
                    <a href="/movies/{{_id}}" class="btn btn-dark button-home button-see-more">SEE
                        MORE</a>

                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>