<div id="grid-container">
    {{#each allMovies}}
    <div class="grid-item">
        <img src="{{this.image}}" alt="{{this.title}}" />
        <h4>{{this.title}}</h4>
        <a href="/movies/{{this.id}}">See more</a>
    </div>
    {{/each}}
</div>