<div class="container">
    
     <h1>Listado de movies</h1>
    <hr>

    {{#each movies}}
    <p>{{title}} <small>- {{image}} - [<a href="/movies">ver detalles</a>]</small></p>
   
    {{/each}}
</div>