
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="cine">
    
<h1>MOVIES</h1>
<section class="peliculas">
    <div class="pelis">
{{#each movies}}
    <img src="{{this.image}}">
    <p>{{this.title}}</p><br>
    <a href="movie/{{this.id}}">Ver más</a>
   
{{/each}}
</div>
</section>
</body>
</html>

