<div class="check-on-films">
    <h3>Ironhack Cinema</h3>
    <p>Check on the movie to check the showtimes!</p>
</div>

<div class="container">
    <div class="row">

        {{#each this}}
                    <div class="col-sm-6 col-md-4 films">
                        
                        <img src={{image}}>
                        <h5 class="card-title">{{title}}</h5>
                        <a href="movie/{{id}}">See moore</a>
                    
                    </div>
        {{/each}}

    </div>
</div>