<section class="every-movie">
    <h3>Ironhack Cinema</h3>
    <p>Click on the movie to check the showtimes!</p>
    <div class="movie-card">
        <img src="{{image}}" class="card-img-top" alt="{{title}}">
    </div>
</section>