<h3>Movie List</h3>

{{#each this}}

<div class="" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <img class="card-img-top" src={{image}}>
    <a href="movie/{{id}}" class="btn btn-primary">See moore</a>
  </div>
</div>

{{/each}}