<h1>Ironhack Cinema</h1>

<span>Click on the movie to check the showtimes!</span>

<ul>
  {{#each movies}}
    <li>
      <img src="{{this.image}}" alt="{{this.title}} image" />
      <p>{{this.title}}</p>
      <a href="/movies/{{this._id}}">See more</a>
    </li>
  {{/each}}
</ul>