<div class="movies-page">

<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>


<ul class="movies-column">
    
    {{#each movies}}
    
    <li class="movie">
        <img class="image" src="{{image}}" alt="">
        <p class="title">{{title}}</p>
        <a href="/{{_id}}/detail">See more</a>
    </li>
    {{/each}}

</ul>

</div>