<div class="title-div">
    <h1>Ironhack Cinema</h1>
    <h2>Click on the movie to check the showtimes!</h2>
</div>
<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col-md-4 justify-content-center text-center">
            <img src="{{image}}" alt="movie picture">
            <p class="movie-title">{{title}}</p>
            <p><a href="/details/{{id}}">See more</a></p>
        </div>
        {{/each}}
    </div>
</div>
<div class="text-center">
    <button type="button" class="btn btn-primary"><a href="/" class="home-button">Home Page</a></button>
</div>