<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>
<div class="film">
    {{#each movies}}<img src="{{this.image}}">
<p> {{this.title}}</p> 
<button type="submit"><a href="../movie-details">See more</a></button>
{{/each}}
 </div>