
<div> 
{{#each movies}}
<div class="card" style="width: 18rem;">
  <img src="{{this.image}} " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <a href="/movies/{{this.id}}">See more</a>
  </div>
</div>
{{/each }}

</div>