<h1 class="titulo">Peliculas</h1>


<div class="posterContainer">
{{#each moviesList}}
<div class="posters">
    <img src="{{image}}" alt="Portada">
    <h2>{{title}}</h2>
    <a href="{{id}}">See more</a>
</div>


{{/each}}

</div>