<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>

{{if movies}}
{{#each movies}}
<img src="{{image}}">
<h3>{{title}}</h3>
<a href="/showtimes/{{_id}}">See more</a>

{{/each}}
{{/if}}