<div class="header">
    <h1>Ironhack cinema</h1>
    <h3>Click on the movies to check the showtimes!</h3>
</div>

<div>
<ul class="list grid movies">
    {{#each movies}}
    <li class="item">
        <img src={{this.image}} alt="movie-img">
        <h3>{{this.title}}</h3>
        <a class="rounded-btn blue-background"href="/movies/{{this._id}}">see more</a>
    </li>
    {{/each }}
</ul>
</div>