<h1>Ironhack Cinema</h1>
<p>Click on a movie for additional info</p>

<div class="movies">
  {{#each movies}}
  <div class="movie">
    <img src="{{image}}" alt="{{title}}">
    <h2>{{title}}</h2>
    <a href="/movie/{{_id}}"></a>
  </div>
  {{/each}}
</div>