<h1>Ve nuestra seleccion de Peliculas extraordinarias</h1>

{{#each movies}}
  <img src={{image}} alt="" />
  <h2>{{title}}</h2>
  <a href="/movies/{{id}}"><button>See More</button></a>
  <br />
{{/each}}