<div class="container">

    {{#each data}}


    <div class="card" style="width: 18rem;">
        <img src="{{image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="/esaPeliculitaBonita/{{_id}}" class="btn btn-primary">See more</a>
        </div>
    </div>


    {{/each}}

</div>
