
<div>
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
    
    <div class="container">
        <div class="row ">
            {{#each allMovies}}
                <div class="col-4">
                    <img src="{{image}}" alt="movie picture">
                    <h4>{{title}}</h4>
                    <a href="/movie/{{_id}}">See more</a>
                </div>
            {{/each}}
        </div>
    </div>
   
</div>