<div>
    Teste
    {{#each movies}}
    <div>
        <img src="{{this.image}}" alt="image-movies">
        <h1>{{this.title}}</h1> Teste
        <a href="/movies/{{this.id}}">+++</a>
    </div>
    {{/each}}
</div>
