<div id="movies-h">
    <h2>Ironhack Cinema</h2>
    <h5>Click on the movie to check the showtimes!</h5>
</div>

<div class="container">

    <div class="row">

        {{#each allMovies}}

            <div class="col-lg-4 movies-container">
                <img src="{{this.image}}" class="movie-image" alt="{{this.name}} image">
                <div class="movie-info-container">
                    <h5 class="card-title">{{this.title}}</h5>
                    <a href="/movies/{{this._id}}" class="btn btn-primary">See more</a>
                </div>
            </div>

        {{/each}}

    </div>

</div>


