<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

{{#each movie}}
    <h2>{{title}}</h2>
    <img src="{{image}}" alt="{{title}}">
    <div><a href="/movies/details/{{id}}">See more</a></div>


  

{{/each}}