<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
<ul>
  {{#each movies}}
    <li>
      <img src="{{image}}" alt="{{title}}">
      {{title}}
      <a href="/movies/{{this.id}}">See more</a>
    </li>
  {{/each}}
</ul>