<div class="container">
    <h1>Ironhack cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
    <a href="/" type="button" class="btn btn-dark"> Home </a>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center g-4">
        {{#each movies}}
        <div class="col-sm-1 m-5">
            <div class="card text-center">
                <img class="card-img-top" src="{{image}}" alt="Artist results card">
                <div class="card-body ">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/details/{{_id}}">See more</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

</div>