<section class="movies-page">
        <h1>{{title}}</h1>
        <p>Click on the movie to check the showtimes!</p>

        <div>
                {{#each moviesList}}
                <div class="movie-item">
                        <img src="{{this.image}}" alt="">
                        <p>{{this.title}}</p>
                        <a href="/movies/movie/{{this._id}}">See more</a>
                </div>

                {{/each}}
        </div>

</section>