<div>
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
    <div>
        {{#each movies}}
        <img src={{image}} alt="">
        <p>{{title}}</p>
        <a href="/movie/{{id}}"> see more </a>
        {{/each}}

    </div>
</div>