<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtimes!</p>
  {{#each movies}}
<div class="card">
    <img src="{{image}}" alt="artist images">
    <div class="container">
    <h3>{{title}}</h3>
     <a class="anchor" href="/see-movies">See more</a>
     </div>
</div> 
 {{/each}}