<div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
  <div class="col">
    <img class="img-fluid" src="{{movie.image}}" alt="">
  </div>
  <div class="col">
    <h2>{{movie.title}}</h2>
    <h3>Stars</h3>
    {{> detailItem name="Stars" value=movie.stars}}
    {{> detailItem name="Description" value=movie.description}}
    {{> detailItem name="ShowTimes" value=movie.showtimes}}
  </div>
</div>

<a class="btn btn-primary mt-4" href="/movies">Go back to Movies</a>