<div class="container row">
    <div cla>


    </div>


    {{#each movies}}
    <div class="col-md-4 col-gd-4">
        <h2>{{title}}</h2>
        <img src="{{image}}" alt="{{title}}" class="mx-auto d-block rounded float-start">
        <a href="/movieDetails/{{id}}">See more</a>

    </div>
    {{/each}}

</div>