<header class="header">
    <h2>Add a new Movie to the DB</h2>
    <a class="button" href="/movies">Go Back</a>
</header>

<form id="create-movie" action="/movies/create" method="post">
    <label>
        Title:
        <input type="text" name="title">
    </label>
    <label>
        Director:
        <input type="text" name="director">
    </label>
    <label>
        Image URL:
        <input type="url" name="image">
    </label>
    <label >
        Stars:
        <input type="text" name="stars">
    </label>
    <label>
        Show Times:
        <input type="time" name="showtimes">
    </label>
    <button class="button-dark" type="send">Create</button>
</form>