<section class="container">

    <h3>Click on the movie to check the showtimes!</h3>

    <div class="row">

        {{#each allMovies}}

        <div class="col-dm-3">

            <div class="card" style="width: 18rem;">

                <img src={{this.image}} class="card-img-top">

                <div class="card-body">

                    <h4 class="card-title">{{this.title}}</h4>

                    <a href="/movies/details/{{_id}}" class="btn btn-primary"> See more details </a>

                </div>
            </div>
        </div>
        {{/each}}

        </ul>

    </div>

</section>