<h1>Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
{{#each movies}}
<img src="{{this.image}}" alt="{{this.title}}">
<h2>{{this.title}}</h2>
<a href="/movies/{{this._id}}">See more</a>
{{/each}}