<div class="container">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>

    {{#each allMovies}}
        <img src="{{this.image}}" alt="">
        <h2>{{this.title}}</h2>
        <a href="">See more</a>
    {{/each}}          
   
</div>