<div>
    {{#each movies}}
        <div>
            <img src="{{this.image}}" alt="movie">
            <h1>{{this.title}}</h1>
            <a href="/movies/{{this.id}}">See more</a>
        </div>
    {{/each}}
</div>