<h1>Ironhack Cinema</h1>
<h2 class="showtimes">Click on the movie to check the showtimes</h2>
<div class="allMovies">
  {{#each movies}}
  <div class="card-movie">

  <img src={{image}} alt={{title}}>
  <h2>{{title}}</h2>
  <a href="/movie/{{id}}">See more</a>
  </div>
  {{/each}}
</div>