<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

<div class="movies-list">
    {{#each movies}}
        <div class="movie">
            <img src={{image}}>
            <h3>{{title}}</h3>
            <a href='/movies/{{_id}}'>See more</a>
        </div>
    {{/each}}
</div> 

{{!-- <section class= "movies-container">
    {{#each movies }}
    <div class="movie-card">
       
        <div id="movie-image"> 
            <img  src=..bin/Movie="">
        </div>
        
        <div class = "movie-title">
            <p>Movie: {{ this.name }}</p>
        </div>

        <div>
            <a href="/moviedetails">See more</a>
        </div>

    
    </div>
    {{/each }}
</section> --}}