<h1 class="details-header">Add new movie:</h1>
<div class="form">
    <form action="/movies/add" method="POST">
        <label>Title:
            <input type="text" name="title">
        </label>
        <label>Director:
            <input type="text" name="director">
        </label>
        <label>Description:
            <input type="text" name="description">
        </label>
        <label>Image:
            <input type="text" name="image">
        </label>
        <button type="submit"> Add movie </button>
    </form>
</div>

<br><br>

<a class="back-btn" href="/movies">Back</a>