<h1>Ironhack Cinema</h1>
<span>Click on the movie to check the showtimes!</span>
<div class="movie-container">
    {{#each movies}}
        <div class="info-container">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.title}}"/>
            <h5 class="card-title">
                {{this.title}}
            </h5>
            <a href="/movie/{{this.id}}">
                See more
            </a>
        </div>
    {{/each}}
</div>