<h1>Ironhack Cinema</h1>
<p>Click on the movie to check showtimes</p>

<ul>
    {{#each movies}}
    <li>
        <img src="{{this.image}}" alt="{{this.title}}">
        <h4>{{this.title}}</h4>
        <a href="movies/{{_id}}/detail">
        See More
        </a>
    </li>
    {{/each}}
</ul>