<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      {{#each movies}}
        <img src="{{this.image}}" alt="" srcset="" />
        <h3>{{this.title}}</h3>
        <a href="/movies/{{this.id}}">See more</a>
      {{/each}}

    </div>
  </div>
</div>