<div class="container">
  <h2>Ironhack Cinema</h2>
  <div class="row">

    {{#each allTheMovies}}
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{{image}}" alt="{{title}}.img" />
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <a href="/movie/{{id}}">See more</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>