<div class="selection">
    <h2>Your selection</h2>
    <div class="card">
        <div class="row">
            <img src="{{image}}" alt="images">
            <h3>{{title}}</h3>
            <hr>
            <p>{{description}}</p>
            <p>{{showtimes}}</p>
            <br>
        </div>
    </div>
</div>