<div class="container">
    <h1>IronCinema movies</h1>

    <div class="row">
        {{#each movies}}
        <div class="col-3 m-2">
            <div class="card" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top" alt="{{tittle}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="movie/{{_id}}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>