<div class="container">
<h1 class="mt-5">All movies</h1>
<p class="mb-5">Click on the movie to check the showtimes!</p>

<div class="row row-cols-4 g-5">
  {{#each movies }}
  <div class="col">
    <div class="card h-100">
      <img src="{{this.image}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="/movies/{{this.id}}" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

</div>

