<h1> Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<hr>
{{#each movies}}
<img src = "{{this.image}}"/>
<p>{{this.title}}</p>
<a href="/movies/{{this.id}}">See more</a>
{{/each}}