<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtime!</p>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-1">
  {{#each movies as |movie|}}
     <div class="movie card m-2">
        <img src="{{movie.image}}" class="card-img-top" alt="{{movie.title}}" />
        <div class="card-body">
          <h5 class="card-title text-center">{{movie.title}}</h5>
          <div class="text-center">
          <a href="/movies/{{movie.id}}">See details
          </a>
          </div>
        </div>
      </div>
  {{/each}}
</ul>