<div>
        <h1>Ironhack Cinema</h1>
        <p>Click on the movie to check the showtimes!</p>
        <div>
            {{#each Movies}}
            <img src="{{image}}" alt="">
            <p>{{title}}</p>
            <a href="movies/{{id}}">"See more"</a>
            {{/each}}
        </div>
    </div>