<h2>Ironhack Cinema</h2>
<h3>Click on the movie to see the showtimes</h3>
<div class="container">
    {{#each allMovies}}
    <div class="grid-item">
        <img src="{{this.image}}" alt="{{this.title}}" />
        <h4>{{this.title}}</h4>
        <a href="/movies/{{this.id}}">See more</a>
    </div>
    {{/each}}
</div>