
<body class="movies-body">
  

<h1 class="movies-heading">Ironhack Cinema</h1>
<p>Click on the movies to check the showtimes!</p>

<div>
  {{#each movies}}

  <div>
  <img src="{{this.image}}" alt="" style="width: 300px">
  <h4>{{this.title}}</h4>
  <a href="/movies/{{this._id}}">See more</a>

</div>
  {{/each}}



</div>
</body>