<div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
  <div class="col">
    <img class="img-fluid" src="{{movie.image}}" alt="">
  </div>
  <div class="col">
    <h1>{{movie.title}}</h1>
    <h2> {{movie.director}}</h2>
    <p> {{movie.description}}</p>

  </div>
</div>

<a class="btn btn-primary mt-4" href="/movies">Go back to movies</a>