
<div>
    <h1>IronHack Cinema</h2>
    <h2>Click on the movie to check the showtimes!</h3>
</div>

{{#each movies}}

<div >
    <img src="{{this.image}}" alt="Movie image">
    <h3>{{this.title}}</h3>
    <a href="...">See more</a>
  </div>


{{/each}}