<div class="movies-page">
    <h1>Ironhack Cinema</h1>
    <h4>Click on the movies to check the showtimes!</h4>

    {{#each moviesFromDB}}
        <div class="movie-container">
            <img src = "{{movie.img}}" alt="image of {{movie.title}}">
            <p>{{title}}</p>
            <a href="/movie/{{id}}">See more</a>

         </div>
    {{/each}}
</div>  