<div id="global-container-movies">
    <div id="header-container-movies">
        <h1>Ironhack Cinema</h1>
        <h3>Click on the movie to check the showtimes!</h3>
    </div>
    <div id="images-container-movies">
        {{#each movies}}
        <div class="subcontainer-movies">
            <img src="{{this.image}}" alt="move image">
            <h4>{{this.title}}</h4>
            <a href="/movies/{{this._id}}">See more</a>
        </div>
        {{/each}}
    </div>
</div>