<h1 class="headline">Movies List:</h1>

<div class="page-layout">
  {{#each movies}}
    <div class="items-line-up">
      <img src="{{this.image}}" alt="" />
      <h3>Title: {{this.title}}</h3>
      <a href="/movies/{{this._id}}">See more</a>
    </div>
  {{/each}}
</div>