<div class="title">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>

</div>

<ul class="container">

    {{#each movieResult}}
    <div class="column">
        <img src="{{this.image}}" alt="{{this.title}}">
        <li>{{this.title}}</li>
        <a href="see-more/{{this._id}}">See more</a>
    </div>
    {{/each}}

</ul>

</div>