{{#each movie}}
<div class="card" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="{{title}}">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href="/movieInfo/{{_id}}" class="btn btn-primary">See more</a>
  </div>
</div>
{{/each}}