<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtimes</p>
<div class="movies">
    {{#each movies}}
    <div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="{{title}}">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        <a href="/movies/{{_id}}" type="submit" class="btn btn-primary">See more</a>
    </div>
    </div>
    {{/each}}
</div>