    <a href="../../movies/show/">go back</a>
<div id="movieCreate">
    <form action="/movies/create" method="post">
        <label class"label">Title:</label><input type="text" name="title"><br>
        <label class"label">Director:</label><input type="text" name="director"><br>
        <label class"label">Stars:</label><input type="text" name="stars"><br>
        <label class"label">Image URL:</label><input type="text" name="image"><br>
        <label class"label">Description:<input type="text" name="description"><br>
        <label class"label">Date:</label><input type="date" name="showtimes"><br>
        <button>add Movie</button>
    </form>
 </div>
