<main>
  <h1>Ironhack Cinema</h1>
  <h3>Click on the movie to check the showtimes!</h3>
  <hr>
  <div class="cards">
    {{#each pelis}}
    <div class="card">
      <img src="{{image}}">
      <h4>{{this.title}}</h4>
      <a href="/moviedetails/{{this._id}}">See more</a>
    </div>
    {{/each}}
  </div>
  <hr>
</main>