
<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

{{#each movies}}
<div class="card p-3 mb-2 bg-dark text-white" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="{{title}} image">
  <div class="card-body p-3 mb-2 bg-dark text-white">
    <h5 class="card-title p-3 mb-2 bg-dark text-white">{{this.title}}</h5>
    <a href="/movie/{{_id}}" class="btn btn-primary">See more</a>
  </div>
</div>
{{/each}}


