<a href="/">Home</a>

<h2>Iron Movies:</h2>
<h4>Click on the movie to ckeck the showtimes!</h4>

<div class="row row-cols-1 row-cols-md-4 g-4" >
 {{#each moviesFromDB}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="{{this.image}}" class="card-img-top" alt="album image">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="/movies/{{this.id}}" class="btn btn-info">See more</a>
    </div>
  </div>
</div>
 {{/each}}
</div>

