<div class="movies">
    {{#each movie}}
    <div class="movieseach">
        <img src={{image}} alt="Movie Image">
        <h2>{{title}}</h2>
        <a href="/seeMore/{{id}}">See more</a>
    </div>
    {{/each}}
</div>