<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes</p>

<ul>
    {{#each movies}}
   
    <li> {{title}} </li>
    <li><img src="{{image}}" alt=""></li>
    <a href="/movie/{{id}}">See more</a>
    <br> <br>

    {{/each}}
</ul>