<section>
    <div>
        <h1>Ironhack Cinema</h1>
        <h2>Click on the movie to check the showtimes!</h2>
        <a href="/" class="btn btn-secondary">Volver</a>
    </div>
    <br>
    <div class="row" style="padding-left: 80px; padding-top: 40px;" id="no-border">
    {{#each movies as |movie|}}
        <div class="col-sm-4">
            <div class="card mb-5" style="width: 14rem;" id="no-border">
                <img src="{{movie.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">{{movie.title}}</p>
                    <a href="/movie/{{movie.id}}" class="card-link">See more</a>
                </div>
            </div>
        </div>
    {{/each}} 
    </div>
</section>

