<div class="container">
    <h1>mejores peliculas</h1>

    <div class=" row">
        {{#each movies}}
        <div class="card mountain" style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>



            </div>
        </div>
        {{/each}}
    </div>

</div>