<div id="movies-div">
    {{#each movies}}
        <div class="movie">
            
            <img class="movie-img" src="" alt="">
            
            <p class="card-title"></p>
            <a href="/tracks/">View Tracks</a>
        </div>
    {{/each}}
</div>