<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

<div id="movies">
  {{#each movies}}
    <div id="movie-container">
      <img src="{{image}}" />
      <h3>{{title}}</h3>
      <a href="/movies/{{_id}}">See more</a>
    </div>
  {{/each}}
</div>