<div class="container">

    <h1>Ironhack Cinema</h1>
    <hr>
    <p>Click on the movie to check the showtimes!</p>

    <div class="row">

        {{#each movies}}

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <a href="/details/{{_id}}" class="btn btn-primary">See more</a>
                </div>
            </div>

        </div>

        {{/each}}

    </div>

</div>