<div>
    <h2>Ironhack Cinema</h2>
    <h3>Clic on the movie to check the showtimes!</h3>
</div>

<div>
    {{#each movies}}
    <img src="#" alt="Movie cover">
    <h2>Movie Name</h2>
    <a href="#">See more</a>
    {{/each}}



</div>