<h1>Ironhack Cinema</h1>
 <h3>Click on the movie to check the showtimes!</h3>

<div class="drone-container">
{{#each movies}}
<div class="movie-holder">
    <img src='{{image}}' alt='image' />
    <h3>{{title}}</h3>
    <a href="/movies/{{id}}">See more</a>

</div>
{{/each}}

</div>