<div class='container'>
  <h1>Ironhack Cinema</h1>
  <p>Click on the movie to check the showtimes!</p>
  <div class='row'>
    {{#each movies}}
      <div class='col-md-4 p-3'>
        <div class='card text-center' style='width: 18rem;'>
          <img src='{{image}}' class='card-img-top' alt='imagen-artista' />
          <div class='card-body'>
            <h5 class='card-title'>{{title}}</h5>
            <a href='/movie/{{id}}'>See more</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>