<div class="movies-title">
  <h1>Ironhack Cinema</h1>
  <h2>Click on the movie to check the showtimes!</h2>
</div>

<div class="all-cards">
  {{#each movies}}
  <div class="movie-card">
    <img src="{{image}}" alt="movie poster">
    <h2>{{title}}</h2>
    <a href="/movie/{{id}}">See more</a>
  </div>
  {{/each}}
</div>