<section id="movies-list">
    {{#each movies as | movie |}}
        <div>
            <img src="{{movie.image}}">
            <h3>{{movie.title}}</h3>
            <button><a href="/movies/{{movie._id}}">See More</a></button>
        </div>
    {{/each}}
</section>