<div class="container-fluid movies">
    <div class="row">
        <button> <a href="/">HOME</a></button>
        {{#each movie}}
            <div class="col-4">
                <h3 class="movies-title">{{title}}</h3>
                <img src="{{this.image}}" alt="{{this.title}}">
                <p class="movies-p"><a href="/movies/{{_id}}">See details</a></p>
            </div>     
        {{/each}}
    </div>
</div>
