<div id="page-title">
    <h2>Ironhack Cinema</h2>
    <h3>Click on the movie to check the showtimes!</h3>
</div>
<ul id="movies-list">
    {{#each data}}
    <li>
    <img src="{{image}}" alt="" height="200"><br>
    <h5>{{ title }}</h5>
    <a href="/movie/{{id}}">See More</a>
    </li>
    {{/each}}
</ul> 

