<main class="movies">
    <section>
        <div id="ironhack-cinema">
            <h1>Ironhack Cinema</h1>

            <h2>Click on the movie to check the showtimes!</h2>
        </div>

        <div >
            <a href="/new"><button id="new-movie">Add new movie</button></a>
        </div>

    </section>

    <div>
    {{#each movies}}
        <div id="each-movie">
            <img src="{{this.image}}" alt="{{this.title}}-image">
            <h4>{{this.title}}</h4>
            <a href="/movieDetails/{{this.id}}">See more</a>

        </div>
    {{/each}}
    </div>



</main>
