<h1>Movies</h1>
<section id="films">
    {{#each movie}}
    <div class="oneMovie">
        <img src={{this.image}}>
        <h3>{{this.title}}</h3>
        <button class="see-more"><a href="../movies/:id">See more</a></button>
    </div>
    {{/each}}

</section>