<div>
    {{!-- <ul>
        {{#each movies}}
        <li><img src="{{images}}" alt=""><p>{{title}}</p><a href="">See more</a> </li>
        {{/each}}
    </ul> --}}

    {{#each movies}}
    {{title}}
    {{/each}}

    <h1>Movies</h1>

    <a href="/">Return to index</a>
</div>