<h1>Ironhack cinema</h1>
<p>Click on the movies to check the showtimes</p>
<div>
    {{#each infoMovies}}
    <p>{{title}}</p>
    <img src="{{image}}">
    <a href="/movies/{{this.id}}">See more</a>
    {{/each}}
</div>