<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtimes !</p>

<div id="movies">
    {{#each movies}}
    <div>
        <img src="{{this.image}}" alt="image movie">
        <h3>{{this.title}}</h3>
        <a href="/movie/{{this._id}}">See more</a>
    </div>
    {{/each}}
</div>