<h1>Ironhack cinema</h1>
<h2>Click on the movie to check the shpw times</h2>

<div class="conatiner">
    <div class="image">
        <img src="{{image}}" alt="">
    </div>
    <div class="title">
        <p>{{title}}</p>
    </div>
    <div class="see">
        <p>See More</p>
    </div>
</div>