<div class="ctn-cards">

{{#each movies}}
  <div class="card-movie">
    <img src="{{image}}" alt="cover of the Movie {{title}}" />
    <p=class='card-title'>
      {{title}}
    </p>
  <a href='/movies/more{{id}}'>See more</a>

{{/each}}
</div>