<h1>movies</h1>

<div id="movies-container">
    {{#each movies}}
        <div class="movie">
            <img src="{{image}}" alt="">
            <p>{{title}}</p>
            <a href="/movies/{{_id}}">See more</a>
        </div>
    {{/each}}
</div>