
<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes</p>
{{#each movies}}
   <div>
    <img src="{{image}}" alt="{{title}}">
    <h2>{{title}}</h2>
    <a href="movies/{{_id}}">See more</a>
   </div>
{{/each}}