<div>
  <h1>IronHack Cinema </h1>
  <p>Click on the movie to check the details!</p>
  <hr />

  {{#each movies}}

    <p>{{title}}</p>
    <img src="{{image}}" alt=" {{title}}" />

    {{! // este es el nombre(movieDetails) de la ruta a la que lleva y asi se debe llamar en la router.get }}
    <a href="/movieDetails/{{_id}}">See More</a>
  {{/each}}
</div>