<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div class="container">
    {{#each movies}}
    <div class="item">
        <img src="{{this.image}}" alt="">
        <h4>{{this.title}}</h4>
        <a href="/movie/{{this._id}}">See more</a>
    </div>
    {{/each}}
</div>