<div class="container">

    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                {{#each Movies}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{image}}" alt="imagen"></td>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                        </div>
                    </div>
                    <a href="/movie/{{_id}}">View details</a>
                </div>

                {{/each}}

            </div>
        </div>
    </div>
</div>