<h2>Log a new movie!</h2>

<form action="/new-movie" method="post">
    <label> Title:
        <input type="text" name="title" />
    </label>

    <label> Director:
        <input type="text" name="director" />
    </label>

    <label> Star:
        <input type="text" name="stars" />
    </label>

    <label>Image:
        <input type="image" />
    </label>

    <label> Description:
    <textarea name="description" cols="30" rows="4"></textarea>
    </label>

    <label> Showtime:
        <input type="number" name="showtimes" min="00" max="24" />
    </label>

    <button type="submit"> Create </button>
</form>