<div>
  <form action="/movies/form" method="post">
    <input type="text" name="title" placeholder="Nome do filme">
    <input type="text" name="director" placeholder="Nome do diretor">
    <input type="text" name="imageUrl" placeholder="Link da imagem">
    <input type="text" name="description" placeholder="Descrição do filme">
    
    <button type="submit">Criar filme!</button>
  </form>
</div>