<h2>Add new movie</h2>

<form action="/movies/create" method="POST">

<label>Title of the Movie:</label>
<input type="text" name="theTitle" id="">

<label>Director:</label>
<input type="text" name="theDirector" id="">

<label>Stars:</label>
<input type="text" name="theStars" id="">

<label>Image URL:</label>
<input type="text" name="theImage" id="">

<label>Description:</label>
<input type="text" name="theDescription" id="">

<label>Showtimes:</label>
<input type="text" name="theShowtime" id="">

<button type="submit" >Save</button>

</form>