<div id="movie-form">
    
    <form action="/movies/new" method="post">
        <h2>Insert movie information: </h2>
        <input type="text" name="movieTitle" placeholder="Movie title" >
        <input type="text" name="movieDirector" placeholder="Movie director" >
        <input type="text" name="movieImage" placeholder="Cover link" >
        <input type="text" name="movieDescription" placeholder="Description" class="desc">
        <button type="submit">Insert movie</button>
    </form>
</div>