<div>

    <form action="/new" method="post">
        
        <input type="text" name="movieTitle" placeholder="Insirar o titulo do filme">
        <input type="text" name="movieDirector" placeholder="Insira o nome do diretor do filme">
        <input type="text" name="movieStars" placeholder="Insira o nome do elenco">
        <input type="text" name="movieImg" placeholder="Link da capa do filme">
        <input type="text" name="movieDescription" placeholder="Insira a sinopse do filme">
        <input type="text" name="movieTime" placeholder="Insira os horários do filme">

        <button type="submit">Cadastrar filme</button>
    </form>

</div>