<div>
    <form action="/new" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="director" placeholder="Director">
        <input type="text" name="image" placeholder="Image's link">
        <input type="text" name="description" placeholder="Description" id="description">
        <input type="text" name="showtimes" placeholder="Showtimes"> 
             
        <button type="submit" id="register">Register</button>
    </form>

</div>