<div class="text-center">
    <img src="/images/404-star.png" alt="404" height="200px">
    <h1><b>404: Movie not found</b></h1>
    <p>Unfortunately this route does not exist</p>
    <h1><a class="btn btn-sm btn-light" href="/movies"> ← Back to all movies</a></h1>
</div>