<div class="header">
    <div class="nav-container">
        <a href="/">Home</a>
    </div>
</div>
<section class="main-page">
   
    <div class="full-info">
    <div class="one-text">
         <a href="/movies">Go back</a>
        <h1>{{title}}</h1>
        <h3>{{director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each stars}}
            <li>{{[]}}</li>
            {{/each}}
        </ul>
        <p>{{description}}</p>
        {{#each showtimes}}
            <p class='line'>{{[]}} | </p>
        {{/each}}

        
    </div>

    <div class="one-image">
        <img src="{{image}}" alt="">
    </div>
</div>
</section>
