<div class="card mb-3 p-5" style="max-width: 740px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{this.image}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{this.title}}</h1>
                <p class="card-text">{{this.description}}</p>
            </div>
        </div>
    </div>
</div>