{{#each data}}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{{image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <a href="/peli/{{_id}}"> See more</a>
      </div>
    </div>
  </div>
 
{{/each}}
      