<div class='container'>
    <h1>Lista de super pelis</h1>
    <ul>
        {{#each theMovie}}
        <img src="{{image}}" alt="fotillas">
        <li>{{title}}</li>
        <li>{{description}}</li>
        {{/each}}
        </ul>
        </div>