/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container {
        width: 540px;
    }

    .list.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .list.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}