img {
  width: 100%;
}

body {
  margin-top: 3em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem;
  background-image: url('./../img/cinema.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.title1 {
  color: white;
  text-align: left;
}

a {
  color: #00B7FF;
}

.without-borders {
  text-align: center;
  border: none;
}