<div class="landing">

    <div class="cajaTexto ">

        <h1>Cinema</h1>
        <h1>Ironhack</h1>

        <a href="/movies">
            <button class="myButton">Check the movies!</button>
        </a>
    </div>




</div>