<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index">
    <div>
        <h1>CINEMA IRONHACK</h1>

        <button><a href="movies/">Show Movies</a></button>
        <button><a href="movies/add/">Add Movie</a></button>
        <button><a href="movies/delete/">Delete Movie</a></button>

    </div>
 </body>
</html>
