<!DOCTYPE html>
<html>
  <head>
    <title>Delete a movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Película eliminada correctamente</h1>
    <button><a href="/">Go Back Home</a></button>

    <div class="add-movie-container">
    
    
    </div>
  </body>
</html>
