<!DOCTYPE html>
<html>
  <head>
    <title>Add/Update new MovieMovies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Película añadida/modificada correctamente</h1>

    <button><a href="/">Go Back Home</a></button>
   
    
  </body>
</html>
