<form action="/create-movie" method="POST">

  <label for="newMovieTitle">Title</label>
  <input type="text" name="newMovieTitle" id="newMovieTitle" placeholder="Enter a Movie Title">
  <hr>

  <label for="newMovieImage">Image URL</label>
  <input type="text" name="newMovieImage" id="newMovieImage" placeholder="Paste an image URL">

  <hr>
  <label for="newMovieDirector">Director</label>
  <input type="text" name="newMovieDirector" id="newMovieDirector" placeholder="Ex. Steven Spielberg">

  <hr>
  <label for="newMovieDescription">Description</label>
  <textarea name="newMovieDescription" id="newMovieDescription" placeholder="Description of the movie....."></textarea>

  <hr>

  <button>Save</button>



</form>