<div class="card col-4 align-items-center" style="width: 33.333%;">
  <img class="card-img-top " src="{{image}}" alt="Beer image">
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <a href="/movies-info/{{_id}}" class="card-text">See more</a>
  </div>
</div>