<!DOCTYPE html>
<html>
  <head>
    <title>pelis</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <h1>Cinema Ironhack</h1>
      <a href="movies/">Check the movies!</a>
    </div>
    

  </body>
</html>
