body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.movieList {
display: flex;
padding: 20px;
flex-wrap: wrap; 
flex-direction: row;
} 

.oneMovie {
  display: flex;
  flex-direction: row;

}
.oneMovie img {
  padding-right: 40px;
}

.pad {
  padding: 50px;
  text-align: center;
}
.homePage {
  align-content: center;
  background-image: url(/images/background_homepage.jpg);
  background-repeat:no-repeat; 
  background-size: contain;
  margin: 0% auto;
  height: 600px;

}

.homePage h1 { 
  color: white;
  font-size: 80px;

}

.align {
  float: right;
  padding-right:50px;
}

.checkMovies{
  background-color: white;
  padding:16px;
  border-radius: 30px;
  color: #00B7FF;
  font-size: 20px;
}

.checkMovie{
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  color: #00B7FF;
  font-size: 12px;
}


.homePage a {
  text-decoration: none;
}
