body {
    background-image: url('./../images/cinema.jpg');
    background-size: cover;
    color:white 
}

h1 {
    font-size: 3rem
}

#home {
    display: flex ;
    align-items: flex-end;
    flex-direction: column;
}