body {
  background-image: url("./../images//cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#home-container {
  position: absolute;
  top: 100px;
  margin-right: 300px;
  z-index: -1;
}
#home-container .title {
  font-family: sans-serif;
  color: white;
  width: 10px;
  font-size: 80px;
}
#home-container .button-home {
  display: block;
  border-radius: 40px;
  text-decoration: none;
  width: 200px;
  height: 60px;
  background-color: white;
  color: rgb(124, 192, 214);
  font-size: 18px;
}
#home-container .button-home div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
