/* hard reset */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  /* micro clear fix (clears floats) */
  .contain:before,
  .contain:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  .contain:after {
    clear: both;
  }
  .contain {
    *zoom: 1;
  }
  
  html {
    height: 100%; /* 01 */
  }
  
  body {
    min-height: 100%; /* 02 */
    /* expands to push html to the limit */
  }

  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .headings{
    display: inline-block;
      width: 100%;
      margin: 50px;
      font-size: 2em;
  }

  .movies-container{
    display: inline-block;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .movie-card img {
      height:300px;
      width: auto;
  }
  .movie-card{
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin: 2%;
  }

.movie-card h4{
      padding: 5%;
  }

  .see-more{
      background-color: transparent;
      border: 0px;
      padding-bottom: 3%;
      color: blue;
      font-size: 1em;
      font-weight: 300;
  }