.all-movies-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}