body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-page {
  background-image: url(/images/cinema.jpg);
}

.movies-button{
  border: 20px black;
  border-radius: 10px;
}