body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
 color: #00B7FF;
}

a:hover{
 color: #007cad;
 text-decoration: none;
}

/* INDEX */
#index{
 background-image: url("../images/cinema.jpg");
 min-width: 100vw;
 min-height: 100vh;
 background-size: cover;
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
}

.index-content{
 margin-top:10% ;
 margin-right: 15%;
 color: #fff;
}

.btn-light {
 border-radius: 25px;
 height: 50px;
}

.btn-light a{
 color:#679dad ;
 padding: 55px;
}
.btn-light a:hover{
 text-decoration: none;
}

#index h1{
 font-size: 8em;
 font-weight: 600;
}

/* MOVIES */
#movies-header{
  margin: 2% 0 0 15%;
}

#movies .card.col-sm-4 {
    border: none;
    display: flex;
    align-items: center;
    margin: 3% 0 0;
}

#movies img{
  margin-bottom: 5%;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 0.3);
}

#movies h5{
  font-size: 1em;
  font-weight: 600;
}

/* MOVIE DETAIL */
#detail {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.detail-img{
  margin-right: 5%;
}

.detail-content{
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  flex-direction: column;
}

.detail-content a{
margin-bottom: 1%;
}
.detail-content li:first-child {
  margin-top: 1%;
}
