body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: url('/images/cinema.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;
}

a {
  color: #00B7FF;
}


.index__container > h1{
  font-size: 8em;
  color: aliceblue;
}

.index__container > a{
  font-size: 3em;
  border-radius: 20px;

  padding: 5px;

  color: black;
  background-color: aliceblue;
  text-decoration: none;
}

.style__card {
  background-color: rgba(180, 180, 180, 0.8) !important;
}

footer{
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}