body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

a {
  width: 250px;
}

.home-view {
  background-image: url("/images/cinema.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-left: 900px;
}

.home-title {
  color: white;
  font-size: 100px;
}

.home-p {
  color: white;
  font-size: 20px;
  width: 500px;
}

#check-btn {
  margin-top: 10px;
  color: #00B7FF;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  font-size: 20px;
}