body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

  .horario {
  display: inline;
    list-style-type:none;
  }

  .col-sm-4 {
    margin-top: 40px;
    text-align: center;
  }

  .row {
    margin-left: 8%;
  }