body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.mainHeader{
background-image: url('/images/cinema.jpg');
background-size: cover;
width: 100vw;
height: 100vh;


}
