body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background {
  background-image: url('/public/images/cinema.jpg');
  width: 100%;
  height: 700px;
}