body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/cinema.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}


a {
  color: #00B7FF;
}