body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.indexPage {
  width: 1200px;
  height: 800px;
  background-image: url("/images/cinema.jpg");
  background-size: cover;
}

.ghostBox {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  padding-top: 120px;
  padding-left: 300px;
}

.ghostBox h1 {
  width: 30%;
  height: 100%;
  color: white;
  font-size: 80px;
  line-height: 80px;
  padding: 10px 0;
  font-weight: bolder;
}

.ghostBox a {
  padding-top: 40px;
  padding-left: 220px;
}

.ghostBox button {

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}

.ghostBox button:hover {
  background-color: black;
  color: white;
}

.container {
  display: flex;
}

.poster {
  padding-right: 20px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.navbar li {
  padding: 1%;
  font-size: 14px;
  border: 1px;
  text-shadow: 0 0 1rem grey;
  margin: 2%;
}

.navbar a {
  text-decoration: none;
  color: blueviolet;
}

.navbar a:hover {
  color: grey;
}

.moviescontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 10%;
  color: gray;
}

.card-img-top {
  box-shadow: 5 5 5 black;
}

.card {
  padding: 20px;
  box-shadow: 2 2 5 black;
  display: flex;
  justify-content: center;
}
