* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  background-image: url("/images/cinema.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.main-container {
  margin-right: 100px;
  margin-top: 100px;
  max-width: 500px;
}

.main-container > h1 {
  color: white;
  font-size: 100px;
  margin-bottom: 50px;
}

.main-container > a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 30px;
  background-color: white;
  border-radius: 25px;
}

a {
  color: #00b7ff;
}

/* Movies page */

.movies-header {
  padding: 15px 0 0 35px;
  margin-bottom: 50px;
}

.movies-header > h1 {
  margin-bottom: 20px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.movies-container img {
  width: 250;
  height: auto;
}

.movies-container a {
  margin-bottom: 25px;
}

/* movie-detail page */

.movie-info {
  display: flex;
  margin-top: 25px;
  gap: 50px;
}

.movie-info img {
  width: 250px;
  height: auto;
  object-fit: contain;
  align-self: start;
}

.movie-info-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.movie-info-container ul {
  padding: 15px;
  font-size: 16px;
}

.movie-info-container p {
  width: 650px;
  font-size: 16px;
}
