.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  border: none;
  margin: 5em;
}
.card-body {
  display: flex;
  justify-content: center;
  padding: 2em 0em 1em;
}
.card-body > a {
  padding: 0em;
}
