body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;

}

.details {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

img {
  margin-right: 20px;
  width: 11vw;
}

.title {
  font-weight: bold;
}

.movie-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.movies-container {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
}

.small {
  font-size: 1.3vh;
}

.list {
  margin-right: 0;
}

.background {
  background: url(/images/cinema.jpg) no-repeat ;
  width: 100%;
  height: 800px;
  position: relative;
}

h1 {
  color: white;
  position: absolute;
  right: 30px;
  left: 60%;
  top: 5%;
  font-size: 8vh;
}

.button {
  left: 40%;
  top: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 12px 20px;
  position: relative;
}

.intro {
  left: 51%;
  top: 30%;
  color: white;
  position: relative;
  font-size: 24px;
}