body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hero-image {
  min-height: 100vh;
  background-image: url('../images/cinema.jpg')
}

.container {
  padding: 50px;
}