body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#home{
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vw;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.home-title h1 {
  color: aliceblue;
  font-size: 80px;
  padding-left: 0%;
}

.home-title a {
  background-color: #ffffff;
  color:  #00B7FF;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}