body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  position: absolute;
  top:100px;
  left: 600px;
  color: white;
  font-size: 500%;
}

button {
  position: absolute;
  top: 345px;
  left: 650px;
  font-size: 25px;
}