body {
  font: 14px “Lucida Grande”, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  position: relative;
}
a {
  color: #00B7FF;
}
.home-page {
  background-image: url(/images/cinema.jpg);
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home-page h1{
  color: white;
  font-size: 100px;
  max-width: 500px;
  margin: 0;
  padding-right: 60px;
  padding-top: 100px;
}
.home-page a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 300px;
  color: #699DAD;
  background-color: white;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 50px;
}