body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}
  
a {
  color: #00B7FF; 
}
  
#home {
  background-image: url(../images/cinema.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover; 
}
  
#start h1 {
  color: white;
  font-size: 100px; 
}
  
#start {
  width: 600px;
  margin-top: 120px; 
}
  
#start .button {
  width: 200px;
  padding: 13px 20px;
  margin-top: 20px;
  display: block;
  border: 0;
  border-radius: 22px;
  font-size: 22px;
  font-weight: 400;
  background-color: white;
  color: darkcyan;
  text-decoration: none;
  text-align: center; 
}

