body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/images/cinema.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;}
  
  a {
    color: #00B7FF;
    background-color: white;
  }
