body {
  padding: 50px;
  font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/cinema.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a {
  color: #00B7FF;
}
