<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="{{this.image}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text"><a href="/movies/{{this._id}}">see more</a></p>
      </div>
</div>