<div class="movie">
    <img src={{this.image}} alt="Movie" class="movie-img">
    <h2 class="movie-header">{{this.title}}</h2>
    <a class="movie-link" href="/movie/{{this._id}}">See more</a>
</div>