<div class="container  flex-column  movie-container">
  <img src="<%= item.image %>" alt="movie poster" height="200px" width="150px">
  <p> <%= item.title %></p>
  <a href="/movies/<%= item._id%>">See more</a>
</div>