<div class="col-md-4 artist-container d-flex flex-column align-items-center justify-content-center my-3">
    <img src={{this.image}} class="pic">
    <div class="artist-info-container d-flex flex-column align-items-center justify-content-center">
        <p>{{this.title}}</p>
        <a href="/tracks/{{this.id}}" class="btn btn-dark">See More</a>
    </div>
</div>