<div class="col-md-4 d-flex flex-column align-items-center justify-content-center my-3">
    <img src={{this.image}} class="pic">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <p>{{this.title}}</p>
        <a href="/movies/{{this.id}}" class="btn btn-light">See More</a>
    </div>
</div>