<article class = "movie-container">
  <img src="<%= movie.image %>" class = "movie-poster" alt="<%= movie.title %> Movie Poster">
  <h2 class = "movie-title"><%= movie.title %></h2>
  <a href="/movies/<%= movie._id %>" class = "movie-link">See More</a>
</article>