<div>

  
{{#each moviesArray}}

  {{> _singleMovie this}}


{{/each}}

</div>


{{!-- {{#each carsArray}}
<div>

<span>{{this.make}}</span>
<span>{{this.model}}</span>
<span>{{this.color}}</span>
<a href="/cars/{{this.id}}">See details in seperate page
</a>
</div>

{{/each}} --}}