<div class="d-flex h-100 text-center">


    <div class="z-n1 position-absolute w-100">
        <img src="/images/cinema.jpg" class="w-100" >
    </div>

    <div class="position-relative d-flex flex-column justify-content-center align-items-center w-100 h-100" style="z-index: 1;">
        <div class="px-3">
            <h1 class="text-light mt-3">Cinema Ironhack</h1>
            <a class="btn btn-danger" href="/movies" style="position: relative; z-index: 2;">Check the movies!</a>
        </div>
    </div>

</div>