{{> navbar}}
<div class="z-n1 position-absolute vw-100">
    <img src="/images/cinema.jpg" class="w-100"/>
</div>
<div>
    <h1 class="position-absolute" style="color: white; font-size: 5.5em; margin-left:60%; margin-top:10%">Cinema <br> Ironhack</h1>
</div>
<div class="container position-absolute" style="margin-left:60%; margin-top:30%">
    <a class="btn btn-primary" href="/list">Check the movies!</a> 
</div>




