<!--layout.hbs-->
<div class="index">
    <div class= "void"></div>
    <h1> Cinema Ironhack</h1>
</div>
<div class= "button-div">
  <form method="GET" action="/movies">
    <button class="btn" type="submit">Check the movies!</button>
  </form>
</div>