<div class="uk-flex-first uk-text-center" uk-grid>
    {{#each movies}}
        <div class="uk-card uk-card-small uk-card-default uk-width-1-3@m">
            <div class="uk-card-media-top">
                <img src="{{image}}" alt="{{title}}">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{title}}</h3>
                <a href="/movies/{{_id}}">See more</a>
            </div>
        </div>
    {{/each}}
</div>