<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
    <form action="/registerData" method="POST">
        <table class="table">
            <td>
                <tr><h3>Register new User</h3></tr>
            </td>
            <td>
                <tr>
                    <input type="text" name="userRealName" value="Name" class="input">
                </tr>
                <tr>
                    <input type="text" name="userRealSurname" value="Surname" class="input">
                </tr>
            </td>
            <td>
                <tr>
                    <input type="text" name="username" value="Userame" class="input usernameBox">
                </tr> 
                <tr>
                    <input type="text" name="password" value="Password" class="input passwordBox">
                </tr>
            </td> 
            <td>
                <tr style="column-span: all;"><input type="submit" value="Submit" class="submitButton"></tr>
            </td>
        </table>
    </form>
    </div>
    <script src="js/"></script>
</body>
</html>