<h2>Add a movie</h2>
<form action="/movies/new" method="POST"\>
  <label for="title">Title</label> 
  <input id="title" type="text" name="title">
  
  <label for="genre">Genre</label> 
  <input id="genre" type="text" name="genre">
  
  <label for="plot">Plot</label> 
  <input id="plot" type="text" name="plot">

  <label for="cast">Cast</label> 
  <input id="cast" type="text" name="cast">
  
  <button type="submit">Add</button>
</form>