<h1>Rellena el formulario</h1>

<form action="/movies" method="post">
  <label for="title">Título</label>
  <input type="text" name="title">
  <label for="director">Director</label>
  <input type="text" name="director">
  <label for="image">Imagen</label>
  <input type="text" name="image">
  <label for="description">Descripción</label>
  <input type="text" name="description">
  <input type="submit" value="send">
</form>