<main class="container">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>

<section class="row">

    {{#each movies as |m|}}
        <article class="col-4 text-center mb-4 mt-4">
            <img src="{{m.image}}" class="cover" alt=<"{{m.title}}">
            <p class="pt-3">{{m.title}}</p>
            <a href="movies/{{m.id}}">See more</a>
        </article>
    {{/each}}

</section>
</main>
