<h1>Lista de películas</h1>
<div class="list">
    <ul>
        {{#each movies}}
        <img src="{{image}}" alt="{{title}}">
        <h1>{{title}}</h1>
        <p>
            <a href="/movies/details/{{_id}}">See more
            </a>
        </p>
        {{/each}}
    </ul>
</div>