<ul>
    {{#each movies}}
    <h3>{{title}}</h3>
    <div>
        <img src="{{image}}" alt="">
    </div>
    <a href="/starter_code/lab-express-cinema/views/detail.hbs">See more</a>
    {{/each}}
</ul>