
<div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{image}}" alt="{{title}}">
    <div class="card-body">
      <p class="card-text">{{title}}</p>
      <p><a href="movie/{{_id}}">see more</a></p>
    </div>
  </div>
</div>