<div class="container-movie">
  <div class="col-md-4">
    <div class="card-movie">
      <img class="card-img-top" src="{{image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <a href="/movies/{{id}}" class="btn btn-dark">See more</a>
      </div>
    </div>
  </div>
</div>