<article class="card">
  <img src="{{image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href="/movies/{{this._id}}">See More</a>
  </div>
</article>