<div class="perro">
    <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
            <img src="{{this.image}}" alt="">
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{this.title}}</h3>
            <a href="/movies/{{this._id}}" class="uk-button uk-button-link">View details</a>
        </div>
    </div>
</div>