

<div class="col-md-4">

    <article class="card card-images cards-general ">
        <img class="card-img-top" src="{{image}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            
            <a href="/movies/{{id}}" class= "btn btn-dark">See more</a>
        </div>
    </article>

</div>



