<div class="">
 <div>
    <img src="{{this.image}}" alt="foto movie">
  </div>
  <div class="information-movie">
    {{this.title}}
    <a class="button-index separacion-arriba" href="/movies/{{this.id}}">Ver mas</a>
  </div>
</div>