<div class="card text-center " style="width: 18rem;">
  
  <img src={{this.images}} class="card-img-top" alt="...">

  <div class="card-body">
    <p class="card-text">{{this.title}}</p>
     <button  class="btn btn-danger "  type="submit"><a href=>View Tracks</a></button>
 
  </div>
</div>