<div class="">

    <article class="card">
        <img  src="{{image}}" alt="Card image cap">
        <div class="card-body">
            <h5>{{title}} </h5>
            <p><a href="/details/{{id}}">See more</a></p>
        </div>
    </article>

</div>