<article class="movie">
    <img src="{{this.image}}" alt="{{this.title}} Mini">
    <h3>{{this.title}}</h3>
    <a href="/movies/movie/{{this.id}}" class="link">Do you want to <span>know more ?</span></a>
</article>