<div class="movie__card">
  <img class="movie__card__image" src="{{this.image}}" alt="Movie picture">
  <div class="movie__card__body">
    <h3 class="movie__card__body__header">{{this.title}}</h3>
    <a href="/movies/{{this._id}}" class="movie__card__body__description">See more</a>
  </div>
</div>
