<div>

    <article class="card">
        <img src="{{image}}" alt="Card image cap">
        <div class="card-body">      
        <h2>{{title}}</h2>
        <h3>{{id}}</h3>
        <a href="/movies/{{id}}">See more</a>

        </div>
    </article>

</div>