  <div class="col-sm-4"  class="movie-table">
    <div class="card">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <a href="/specificMovie/{{this.id}}">See more</a>
      </div>
    </div>
  </div>