<div class="movie-card">
  <img src={{ this.image }} alt="" class="image">
  <h4 class="title-text-card">{{this.title}}</h4>
  <a href="movie/{{this._id}}" class="button button-albums">See more</a>
</div>