<div class="col-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{this.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <a href="/movies/{{this._id}}" class="btn btn-primary">See More</a>
    </div>
  </div>
</div>