<div class="card">
  <a href="/movies/{{this._id}}">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
  </a>
  <div class="card-body">
    <h3 class="card-title">{{this.title}}</h3>
    <a href="/movies/{{this._id}}">See more</a>
  </div>
</div>