<h1>Here we have all the movies</h1>
{{#each movies}}
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <a href=""> Movie details</a>
{{/each}}

<a href="/movies/create"> Create a movie!</a>