<h1> Create a movie </h1>
<form action="/movies/create" method="POST">
    <label for="title"> Title
        <input type="text" id="title" name="title">
    </label> 
    <label for="title"> Description
        <input type="text" id="description" name="description">
    </label> 
    <button type="submit">Create movie</button>
</form>