<form action="/movies/create" method="POST">
    <label>Título</label>
    <input type="text" name="title" />

    <br />

    <label>Director</label>
    <input type="text" name="directorr" />

    <br />

    <label>Stars</label>
    <input type="text" name="stars" />

    <br />

    <label>Description</label>
    <input type="number" name="description" />

    <br />

    <label>image</label>
    <input type="text" name="image" />

    <br />

    <button type="submit">Crear Película</button>

</form>