 <a href="/movies/Home">Go back</a>
{{#each movieList}}

    <div>
    <img src="{{image}}" width="{{image}}" heigth="{{image}}" alt="">
    <h5>{{title}}</h5>
    <a href="/movies/details">See more</a>
    </div>
    <br><br>

{{/each}}
