<div  method="GET" action="/movies">
    <h1 class="display-4">
      Welcome to my movies
    </h1>
    <hr />




    <div>
      {{#each movies}}
        
          <div style="background-image:url({{image}})">
            
            
              <h2>{{title}}</h2>
          
          </div>
              <form action="/movies/{{movie.id}}/detail" method="POST"> 
                        <button><a href="/detail">See more</a></button>
        
                    </form>

        
      {{/each}}
  

    

  </div>
</div>