<h1>Movies List</h1>
<div>
 {{#each movies as |movie|}}
  <div>
    <img src="{{ movie.image }}">
    <li>{{ movie.title }}</li>
    <a href="/movies/{{movie.id}}">See more</a>
  </div>
 {{/each}}
</div>