<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check showtimes!</h3>
<a href="/movies/add">Add a movie</a>
<ul>
    {{#each movies}}
    <li>
        <img src="{{image}}" alt="movie-image" />
        <p>{{title}}</p>
        <a href="/movies/{{id}}">See more</a>
    </li>
    {{/each}}
</ul>