<h1>Create a new film:</h1>

<form action="/movies/create" method="post" >

    <label> Title:
        <input type="text" name="title" />
    </label>
    
    <label> Director:
        <input type="text" name="director" />
    </label>
    
    <label> Description:
        <textarea name="description" cols="30" rows="4"> </textarea>
    </label>
    
    <label> Stars:
        <textarea name="stars" cols="30" rows="4"> </textarea>
    </label>
    
    <button type="submit"> Create </button>


</form>