<h1>Ironhack Cinema</h1>


<ul>
    {{#each data}}

    <li>
        <img src="{{this.image}}" alt="{{this.title}} cover photo">
        <h1>{{this.title}}</h1>
        <a href="/movies/{{this._id}}">See more</a>
    </li>


    {{/each}}
</ul>