<div class="container">
    <h1>Detalles</h1>

    <hr>
{{!-- 
    {{#each theMovie}}
    <img src="{{image}}">
    <li>{{this.title}} <small><a href="/movies/detalle/{{_id}}">Details</a></small></li>
    {{/each}} --}}


    <hr>
    <a href="/" class="btn btn-dark">Go back</a>

    
</div>