<h1>Ironhack Cinema</h1>
<p>Click on the movies to check the showtimes!</p>

{{#each moviesArr}}
    <div class="container-listmovies">
        <img src= "{{this.image}}">

    

        <div class="title-btn">

            <p><strong>
            {{this.title}} 
            </strong></p>

            <a class="seeDetails" href="/movies/{{_id}}">See more</a>
            
        </div>

    </div>

{{/each}}