<div class="movie-list-container">
  {{#each movies}}
    <div>
      <img src="{{this.image}}" alt="film poster" />
      <h5>{{this.title}}</h5>
      <a href="/movies/{{this.id}}">See more</a>
    </div>
  {{/each}}
  <a href="/movies/create">Create a new movie</a>
</div>