<div class="titulo">
  <h1>Ironhack Cinema</h1>
  <p>Click on the movie to check the showtimes!</p>
</div>

<div class="container-movies">
  {{#each movieList}}
  <div class="movie-list">
    <img src="{{image}}" alt="{{image}}">
    <h4>{{title}}</h4>
    <a href="/movie/{{id}}">See more</a>
  </div>
  {{/each}}
</div>