<header>
<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
</header>
<br><br>

<a href="/movies/create" class="button">Add a new movie to our database</a>
<section id="movies-list">
  {{#each movies}}
    <div class="movie-card">
      <img src="{{this.image}}" alt="{{this.title}} Poster" />
      <h3>{{this.title}}</h3>
      <a class="button" href="movie/{{this._id}}">Show More</a>
    </div>
  {{/each}}
</section>