<div>
    {{#each Movies}}

        <img src="{{image}}" alt="img">
        <br>
        <div>
            <li>{{title}}</li>
            <a href="/movies/{{this._id}}">See more!</a>
        </div>

    {{/each}}
</div>