
<h1>Display your favorite movie</h1>

<hr/>
<form action="/movies/movie-create" method="POST"> 

 <label> Title:
    <input type="text" name="title" />
  </label>

  <label> Director:
    <input type="text" name="director" />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

  <label> Stars:
    <textarea type="description" cols="10" rows="4"></textarea>
  </label>

  <button type="submit"> Create </button>                        

</form>