<h2>Ironhack Cinema</h2>
<h3>Click on the movie to check showtimes!</h3>

{{#each movies}}
    <div>
        <img src="{{image}}" alt="">
        <h4>{{title}}</h4>
        <a href="/movies/{{id}}">See more</a>
    </div>
{{/each}}