

<form action="/movie/create"  method="POST" id="movie-create-form">
<h1>Create a Movie</h1>

    <label> Title:
        <input class="input" type="text" name="title" required>
    </label>
    <br><br>
    <label> Director:
        <input class="input" type="text" name="director" >
    </label>
    <br><br>
    {{!-- <label> Stars:
        <input type="text" name="title" required>
    </label> --}}
    <label> Image Link:
        <input class="input" type="text" name="image" >
    </label>
    <br><br>
    <label> Description:
        <textarea name="description" cols="30" rows="4"></textarea>
    </label>
    {{!-- <label> Showtimes:
        <input type="text" name="title" required>
    </label> --}}
    <br><br>
    <button class="button" type="submit">Create</button>
</form>