<section class="movieListHeader">
    <h1>Ironhack Cinema</h1>
    <h3>Click on the movie to check the showtimes</h3>


{{#each result}}
<div class="orderContainer">
    <div class="moviesContainer">
        <img src="{{image}}" alt="">
        <h2>{{title}}</h2>
        <a href="/movies/{{_id}}">See More</a>
    </div>
</div>
{{/each}}

</section>

