<h2>Find all our movies here:</h2>
{{#each movies}}
<div class="container">
    <div class="card" style="width:350px">
        <div class="card-body">
            <p class="card-text"> {{this.title}}
            </p>
            <img class="card-img-top" src="{{this.image}}" style="width:150px" />
            <a href="/movies/{{id}}" class="btn btn-primary">See more</a>
        </div>


    </div>

</div>
{{/each}}