<h2>Ironhack Cinema</h2>
<h3>Click on the movie to check showtimes!</h3>

{{#each movies}}
    <div class="card">
        <img src="{{image}}" alt="">
        <h4>{{title}}</h4>
        <a href="/movies/{{id}}">See more</a>
        <a href="/movies/{{id}}/edit">Edit</a>
    </div>
{{/each}}