<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes</h3>

<div class="row">
    {{#each movies}}
        <div class="col-3">
        <img src={{image}} alt="" width="200px">
        <br>
        {{title}}
        <br>
        <a href="" type="button" class="btn btn-dark">See More</a>
        </div>
    {{/each}}
</div>