<h1>Movies in our DB:</h1>

{{#each movies}}
  <section class="movie-summary">
    <h2>{{this.title}}</h2>
    <img src={{this.image}} alt="movie image" />
    <a href="/movies/{{this._id}}">See more</a>

  </section>
{{/each}}