<div class="container">
    <div class="row">
        <div class="col-12">
         <h1>Ironhack Cinema</h1>
            <p>Click on the movie to check the showtimes!</p>
        </div>
    {{#each movies}}
       <div class="col-12 col-md-4 text-center mb-4"> 
           <img class="mb-2" src="{{image}}">
           <p><strong>{{title}}</strong></p>
           <a href="movie/{{_id}}">See More</a>
       </div>
    {{/each}}
    </div>
</div>