<div class="homeText">
<h1 class= "title">  Cinema Ironhack</h1>
<a class = "homeAnchor" href="/movies">Check the movies!</a>
 </div>
<div class="home">
  <img class="home-image" src="images/cinema.jpg"  alt="Home Page Image"/>
  </div>