<div class="main-container">
  <img src="/images/cinema.jpg" alt="" />
  <h1 class="title">Cinema Ironhack</h1>
  <a href="/movies" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Check the movies!</a>
</div>