{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="index-page">
  <div class="right-div">
    <h1 class="title-div">Cinema Ironhack!</h1>
    <button class="title-btn"><a href="/movies/list">
        Check the movies!</a></button>
  </div>
</div>