img {
  width: 60%;
  height: 20%;
  display:block;
  margin: 2% auto 5% auto;
}

.title {
  width: 25%;
  height: 10%;
  display:block;
  margin:0 2% 0 5%;
  float: left;
}

.title p {
  margin: 0 0 5% 3%;
  text-align: center;
}

.title a {
  margin: 0 0 0 46%;
  text-align: center;
}