body {
    max-width: 1000px;
    margin: 0 auto;
}
.movies {
    display: flex;
    flex-flow: row wrap;
    margin-top:40px;
}
.movie {
    width: 33%;
    text-align: center;
    margin-bottom: 50px;
}
.movie img {
    width: 50%;
    -webkit-box-shadow: -1px 3px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 22px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 22px -4px rgba(0,0,0,0.75);
}