body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#cinema {
  background-image: url("/starter_code/public/images/cinema.jpg");
  background-size: cover;
  height: 100vh;
}
