body {
  background-image: url("/images/36986664-acd6af14-209a-11e8-816d-b62417239c53.png");
  background-size: cover;
}

button {
  font-size: 200%;
  margin: 26.8% 0 0 58.1%;
  padding: 1.5% 3.5% 1.5% 3.5%;
  border-radius: 40px;
  color: darkslateblue;
  background-color: white;
}

.btn {
  text-decoration: none;
  color: darkslateblue;
}