body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url(/public/images/cinema.jpg);
  // background-color: red
  background-image: url("../images/cinema.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

.card{
  margin:30px
}


