*{
  padding:0;
  margin:0;
}
body {
  padding: 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=style.css.map */

#portada{
  width: 100%;
  padding:0;
  height: 100vh;
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;

}
#portada div{
  width: 50%;
  text-align:center;
  color:white;
  float: right;
  position: relative;
  

}
#portada div h1{
  position:absolute;
  top:300px;
  font-size: 3em;
  font-weight: 600;
}
#portada div a{
  position:absolute;
  top:400px;
  font-size: 1.5em;
  font-weight: 600;
}
#peliculas{
  width:100%;
  height: 100vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.peli{
  width:28%;
  height:200px;


}
#imagenpeli{
  width: 25%;
  height:300px;
  float:left;
  margin-top: 50px;
  margin-left:50px;
}
#informacion{
  width:65%;
  float:right;
  margin-top: 50px;
  padding-right:30px;
}
