body {
  margin: 0;
  padding: 0;
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  

}
.index{

  background-image: url("../images/cinema.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

a {
  color: #00B7FF;
}
