
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.index-container {
font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
color: white;
text-align: right;
background-repeat: no-repeat;
background-size: cover;
}

#check-movies {
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px 45px 20px 45px;
  background-color: white;
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
  color: #87CEEB;
}

a {
  color: #00b7ff;
}


#movie-title {
  list-style: none;
}

.stars {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
}

.all-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  flex-wrap: wrap;
}

.poster {
  display: flex;
  justify-content: space-around;
 
}


