body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{

  background-image: url("/images/cinema.jpg");
}


#movie-box{

  margin-top: 20px;

}

#movie-list{

  margin-top: 50px;


}