@import mixins

$white: #F7F9F9
$blue: #00B7FF
$light-blue: #2081C3
$dark-blue: #0A2C42
$grey: rgba(145, 145, 145, 0.481)

*
  box-sizing: border-box
  outline: none

html, body
  margin: 0
  height: 100%
  min-height: 100vh
  height: max-content
  font-size: calc(.9em)
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

ul
  margin: 0
  padding: 0
  li
    list-style: none

p
  margin: 0
  padding: 0

a
  display: inline-block
  text-decoration: none

a.underline
  color: $blue
  font-weight: bold
  opacity: .6
  +transition_default
  &:hover
    opacity: .4
  &.active
    opacity: 1
    &::after
      width: 100%
  &::after
    content: ''
    display: block
    background: $blue
    width: 0px
    height: .15em
    margin-top: .03em
    +transition-default
  &:hover::after
    width: 100%

a.btn
	text-align: center
	font-size: 1.2em
	font-weight: 800
	padding: .5em
	min-width: 10em
	border-radius: 5em
	color: $blue
	background-color: $white
	border: .2em solid $blue
	+transition_default
	&:hover
		color: $white
		border: .2em solid transparent
		background-color: $blue
		+hover_scale_opacity


.main_container
  min-height: 100vh
  height: max-content
  +flex_center
  .container
    +flex_cColumn
    &.home_container
      +basic_flex
      align-items: flex-start
      width: 100%
      min-height: 100vh
      height: max-content
      background-image: url("../images/cinema.jpg")
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      div
        width: 50%
        &.content
          h1
            color: $white
            font-size: calc(3vh + 3vw + 3em)
            margin: 10% 0 2%
          a.btn
            padding: 1em 2em

    &.movies_container
      width: 100%
      padding-top: 4em
      .titleMovies
        width: 80%
        margin: 0 auto 2em auto
        text-align: center
        h1
          font-size: 3em
        h2
          font-weight: normal
      .movieBox
        width: 70%
        +flex_row_fs
        text-align: center
        .moviePreview
          width: 33%
          margin-bottom: 6em
          img
            &.imgMovie
              width: 80%
          .title
            font-size: 1.5em

    &.movieInfo_container
      width: 80%
      align-items: flex-start
      a.btn.goBack
        position: absolute
        top: 2em
        left: 2em
      .movie
        +flex_row
        .imgMovie
          width: 100%
          text-align: center
          img.moviePoster
            width: 80%
        .infoMovie
          h1.title
            margin: 1em 0 0
          h2.director
            font-size: 1.5em
            opacity: .2
            margin: .2em 0 0
          h3.stars
            margin: 1em 0 .5em
          ul.starsList
            margin-bottom: 1.5em
            padding-inline-start: 2em
            li.star
              list-style-type: disc
          p
            &.description
              font-size: 1.2em
              margin: 1em 0 0
            .bold
              font-weight: bold
          .showTimes
            margin-top: 1em
            .showTime
              &::after
                content: ' |'
              &:last-child::after
                  content: ''



@media (max-width: 976px)

  .main_container
    .container
      &.home_container
        div
          &.blank
            width: 45%
          &.content
            width: 55%
            h1
              margin: 20% 0 4%
      &.movies_container
        .movieBox
          width: 85%
          .moviePreview
            width: 50%
      &.movieInfo_container
        width: 60%
        .movie
          +flex_cColumn
          margin: 10em 0 4em



@media (max-width: 887px)

  .main_container
    .container
      &.home_container
        div
          &.blank
            width: 40%
          &.content
            width: 60%



@media (max-width: 768px)

  .main_container
    .container
      &.home_container
        div
          &.blank
            width: 35%
          &.content
            width: 65%



@media (max-width: 597px)

  .main_container
    .container
      &.home_container
        div
          &.blank
            width: 25%
          &.content
            h1
              font-size: calc(2.5vh + 2.5vw + 2em)
              margin: 40% 0 4%
      &.movies_container
        .movieBox
          width: 80%
          .moviePreview
            width: 100%
            border-bottom: 2px solid $grey
            padding-bottom: 4em
            margin-bottom: 4em
            &:last-child
              border-bottom: none
              padding-bottom: 0
      &.movieInfo_container
        width: 80%
