* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

header {
  background: url('/images/cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 10%;
  h1 {
    font-size: 5rem;
    color: #fff;
  }
  a {
    background: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 2rem;
  }
}

main {
  padding: 2rem 1rem;
  max-width: 992px;
  margin: 0 auto;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.movies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 3rem;
  text-align: center;
  .movie {
    h2 {
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 4rem;
  div {
    h1 {
      margin-top: 1rem;
    }
    h2 {
      font-size: 1.125rem;
      margin-bottom: 1rem;
    }
    ul,
    p {
      margin-bottom: 1rem;
    }
    ul {
      padding-left: 1rem;
    }
  }
}