body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-img {
  background-image: url(/images/cinema.jpg) no-repeat;
  background-size: cover;
}
