$white-color: rgb(255, 255, 255);

/** Link color set 
* -hov - on hover
*/
$link-color: rgb(105, 194, 250);
$link-color-hov: rgb(17, 105, 155);

/** Btn color set 
* -bg - background
* -hov - on hover
*/
$btn-color: rgb(139, 189, 206);
$btn-color-bg: rgb(255, 255, 255);
$btn-color-hov: rgb(47, 62, 99);
$btn-color-bg-hov: rgb(255, 255, 255);
