<h2>Add a New Movie to the Library</h2>


<form action="/movies/newMovie" method="post">

<label>Title</label>
<input type="text" name="title">
<br>


<label>Director</label>
<input type="text" name="director">
<br>


<label>Description</label>
<textarea name="description" cols="30" rows="10"></textarea>
<br>

<label>Rating</label>
<input type="number" max="10" name="rating">
<br>

<button type="submit">Save Movie</button>


</form>

