
<h2>Add New Movie</h2>

<form action="/create-the-movie" method="POST">




<p>Title</p>
<input type="text" name="newMovieTitle">

<p>Director</p>
<input type="text" name="newMovieDirector">


<p>Image URL</p>
<input type="text" name="img">

<p>Description</p>
<input type="text" name="newMovieDescription">




    <button>Save!</button>
</form>
