
<main>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <img src="images/cinema.png" alt="">

    <div>
        <a class="btn btn-info" href="/movies">VER PELÍCULAS</a>
    </div>
</main>
