<section class="fondo">
        <div class="movies-index">
            <h1>Cinema IronHack</h1>
            <a href="/movies" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check the movies</a>   
        </div>
</section>