{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="body-index">
    <div class="check-elements">
        <h1 class="text-index">
            Cinema
            <br>Ironhack
        </h1>
        <a href="/movies">
            <button class="button-index">
                Check the movies!
            </button>
        </a>
    </div>
</div>
