<div class="movie-container">
  <h2>Ironhack Cinema</h2>
  <p>Click on the movie to check the showtimes!</p>
  {{#each movies as |movie|}}
    <div class="movie-card">
      <img src="{{movie.image}}" alt="{{movie.title}}">
      <p>{{movie.title}}</p>
      <p><a href="/movies/{{movie._id}}">See More</a></p>
    </div>
  {{/each}}
</div>