<div class="container" >

{{#each moviesList}}

<div class="cartel">
  <img src="{{this.image}}" alt="">
  <div class="name">
    <h2>{{this.title}}</h2>
    <a href="">"See more"</a>
  </div>
</div>

{{/each}}
</div>