<!--layout.hbs-->
<div class="movie-list-div">
  <ul>
    <li class="movie-list"> 
    {{#each movies}}
     <div  class= "movie-item">
       <div>
          <img src="{{image}}" alt="movie-image" />
        </div>
        <div>
          {{ title }} <br>
          <a href='movies/{{id}}'>See more</a>
        </div>
      </div>
    {{/each}}
     </li>
  </ul> 
</div>