{{#each movie}}
<div class='page-wrapper'>
  <div class='row'>
    <div class='column'>
      <div class='image-column'>
        <h1>Image</h1>
        </div>
    </div>
    <div class='column'>
      <div class='detail-column'>
        Details
      </div>
    </div>
  </div>
</div>
{{/each}}
