<link rel="stylesheet" href="/stylesheets/style.css">


{{#each listOfMovies}}
<div class="each-movie">

<img src="{{this.image}}" alt="">
<br>
<h3>{{this.title}}</h3>
<br>
<button><a href="/movies/{{this._id}}"> See more </a></button>

</div>

{{/each}}
