{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<h1 class="check-the-movies">Welcome to the movies info page<br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp click =></h1>
<a class="check-the-movies" href="/movies">check the movies</a>
<img class="cover-image" src="images/cinema.jpg" alt="">