
<div class="movie-background">


<img src='/images/cinema.jpg' class='background-img'>


<div class="container">
  <div class="row">
    <div class="col-md-8">
  </div>
  <div class="col-md-4 cinema-info">
    <h1 class="cinema-title">Cinema Ironhack</h1>
    <a href="/movies"><button class="cinema-button">Check Out the Movies!</button></a>
  </div>
</div>
</div>