<div class="index-container">
  <div class="index-overlay">
    <h1>Irohack Movies</h1>
    <p>Welcome to a world of entertainment</p>

    <a href="/movies">
      <button>Check the movies!</button>
    </a>
  </div>

</div>