<h1 class="home-title">{{title}}</h1>

<section class="home-button-container">
    <div class="white-line margin-right-20"></div>
    <button class="margin-right-20"><a href="/movies">COME WATCH A MOVIE!</a></button>
    <div class="white-line"></div>
</section>