<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="bigImage">
      <img src="/images/cinema.jpg" class="image1" alt="">
      <div class="rightSide">
        <div class="title">
          <h1>Cinema IronHack</h1>

          <a href="/movies"><button type="button" class="btn btn-primary"name="button">CHECK THE MOVIES</button></a>

          <!-- <a href="#">SEARCH FOR MOVIES</a> -->
        </div>
      </div>
    </div>

  </body>
</html>
