<div class="welcome-title">
  <h1 style="font-size: 10vw">CINEMA IRONHACK</h1>
</div>
<div class="movies-button">
  <a href="/movies"><button type="button" class="btn btn-light">Check the movies!</button></a>
</div>