<div class="card bg-dark text-white">
  <img class="card-img" src="/images/cinema.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title text-right">Cinema Ironhack</h1>
    <button type="button" class="btn btn-light btn-lg "><a href="/movies" >Check the movies!</a></button>
  </div>
</div>