<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  -->
    <div class="home-container">
      <h1 class="home-title"><%= title %></h1>
      <!-- <img class="image-cinema" src="/images/cinema.jpg" alt="Cinema IronHack"> -->
      <a href="/movies"><button class="home-btn">Check the movies!</button></a>
    </div>
    <!--
  </body>
</html>
-->