
<div class = "container container-index-imgBackground">  
      <div class = "item-index">
        <h1 class="title is-1" id="h1-id-index">Cinema <br/> Ironhack</h1>  
        <div class="btn-index" >    
          <a href="/movies" >Check the movies!</a>
        </div>   
     </div>
</div>

