<div class="container img-home">
    <div class="row">
        <div class="col-12	col-sm-12	col-md-7	col-lg-7	col-xl-7  ">
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorum incidunt itaque laudantium mollitia nobis obcaecati perferendis placeat quis voluptatibus. Accusamus amet esse harum illum magni, omnis repudiandae similique veritatis.</p>-->
        </div>

        <div class="col-12	col-sm-12	col-md-5	col-lg-5	col-xl-5 ">
            <h1 class="title text-white">Cinema MizGoose</h1>
            <button href="./movies" type="button" class="btn btn-light text-primary button" >Check Movies!
            </button>

        </div>
       
    </div>
</div>