<div class="index-container container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <button class="btn btn-outline-secondary">
        <a href="/movies">Check the movies</a>
    </button>
</div>