<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" ></script> --}}
  </head>
  <body>

    {{{body}}}

    <!-- chargement de jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" ></script>
    {{!-- <script src="/javascripts/scriptMovie.js" ></script> --}}
  </body>
</html>
