<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style-b.css' />
  </head>
  <body>
    <header>
      <h1> Ironhack Cinema</h1>

    </header>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
