<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">     
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
