<h1> Ironhack cinema</h1>
<h2>Click on the movies to check schedules.</h2>

{{#each movies}}
<ul>
    <li>{{this.title}} </li>
    <img src="{{this.image}}" alt="">
</ul>

<a href="/movie/{{this._id}}"> Details</a>

{{/each}}