<section class="container">
  <h1>Ironhack Cinema</h1>
  <h2>Click on the movie to check the showtimes!</h2>
</section>
<section class="movies">
  <% movies.forEach(item => { %>
  <article class="movie">
    <img src= <%= item.image %> alt="image movie">
    <h3><%= item.title %> </h3>
    <a href="/movies/<%= item._id %>">See more</a>
  </article>  
  <% }) %> 
</section>