<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

<div class="row">
    {{#each moviesList}}
      <div class="col-md-4">
        <img src="{{this.image}}" />
        <h4>{{this.title}}</h4>
        <a href="/movies/{{this._id}}">See more</a>
      </div>
    {{/each}}
</div>
