<body class="container">
  <h1>IronHack Cinema</h1>
  <p class="intro-message">Click on the movies to check the showtimes!</p>
  <div class ="collection-container">
    <% movies.forEach((movie) => { %>
      <div class ="movie-container">
        <img src=" <%= movie.image %> " alt="<%= movie.title %> cover">
        <p> <%= movie.title %> </p>
        <a href= /movies/<%= movie._id %> >See More...</a>
      </div>
    <% }) %>
  </div>
</body>