<div class="movies-container">
  <h1>Ironhack Cinema</h1>
  <p>Click on the movie to check the showtimes!</p>
  <div class="cards-wrapper">
    {{#each movies}}
      {{> movieCard}}  
    {{/each}}
  </div>
</div>