
<div class="container-fluid">


  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 poster-container">

<h1>
{{theMovie.title}}

</h1>
<h2>
{{theMovie.director}}

</h2>

<img src={{theMovie.image}}>
<p>

{{theMovie.description}}

</p>


    </div>
  </div>
</div>

