<section class="container-movies">
	{{#each movies}}
	<div class="movie-card">
		<img src="{{this.image}}" alt="">
		<h4>{{this.title}}</h4>
		<a href="/movie/{{this._id}}">See more</a>
	</div>
	{{/each}}
</section>