<h1>Add movie</h1>

<form action="/movies/add/{{ movie.id }}" method="POST">
 
  Title <input type="text" name="title" id="title">
  Director: <input type="text" name="director" id="director">
  Stars: <input type="text" name="stars" id="stars">
  Image: <input type="url" name="image" id="image">
  Description: <input type="text" name="description" id="description">
  Showtimes: <input type="text" name="showtimes" id="showtimes">
  
  <button>Submit</button>
  
</form> 