<div class="add-movie-content">
<form action="/create-the-movie" method="POST">
<div>
<label>Title</label>
<input type="text" name="title" placeholder="Title">
</div>
<div>
<label>Director</label>
<input type="text" name="director" placeholder="Director">
</div>
<div>
<label>Image</label>
<input type="text" name="image" placeholder="Image url">
</div>
<div>
<label>Description</label>
<textarea type="text" name="description" placeholder="Description"></textarea>
</div>
<button>Save!</button>
</form>
</div>
