<div class="contentmovie">
  <div class="movieitemid">



    <form action="/movies/add" method="POST">
      <h1 class="center">Add movie</h1>
      <div class="addform">
        <label class="nameform" for="title">Title </label>
        <input name="title" class="itemform" type="text">
        <label class="nameform" for="director">Director </label>
        <input name="director" class="itemform" type="text">

        <div class="">
          <label class="nameform" for="description">Description </label>
          <input name="description" class="itemform" rows="3" type="text">
        </div>
      </div>
      <div class="addform">
        <label class="center" for="stars1">Stars</label>
        <div>
          <ul class="lista3">

            <input class=" starsadd" name="stars1" class="itemform" type="text">


            <input class="starsadd" name="stars2" class="itemform" type="text">

            <input class="starsadd" name="stars3" class="itemform" type="text">

          </ul>
        </div>



      </div>

      <div class="addform">

        <label for="image">Image</label>
        <input name="image" class="itemformlarge" type="text">
      </div>
      <div class="addform">
        <label class="center" for="times">Show times</label>
        <div>
          <ul class="lista4">

            <input class="starsadd" name="time1" class="itemform" type="text">


            <input class="starsadd" name="time2" class="itemform" type="text">

            <input class="starsadd" name="time3" class="itemform" type="text">
            <input class="starsadd" name="time4" class="itemform" type="text">

            <input class="starsadd" name="time5" class="itemform" type="text">

          </ul>
        </div>
      </div>
      <div class="addform">

        <input type="submit" class="btnsubmit" value="Enviar">

      </div>

    </form>
  </div>
</div>