<section>
  <form action="/add" method="post">

    <label for="title">title</label><br>
    <input type="text" id="title" name="title"><br><br>

    <label for="director">director</label><br>
    <input type="text" id="director" name="director"><br><br>

    <label for="stars">stars</label><br>
    <input type="text" id="stars" name="stars"><br><br>

    <label for="image">image</label><br>
    <input type="text" id="image" name="image"><br><br>

    <label for="description">description</label><br>
    <input type="text" id="description" name="description"><br><br>

     <label for="showtimes">showtimes</label><br>
    <input type="text" id="showtimes" name="showtimes"><br><br>

    <input type="submit" value="Submit">
  </form>
</section>
