<main id="add-movie">

<h1>Add movie</h1>

<form action="/movies" method="post">
  <label for="title">Title:</label><br>
  <input type="text" name="title"><br>

  <label for="director">Director:</label><br>
  <input type="text" name="director"><br>

  <label for="stars">Stars (separate multiple by comma):</label><br>
  <input type="text" name="stars"><br>

  <label for="image">Image:</label><br>
  <input type="text" name="image"><br>

  <label for="description">Description:</label><br>
  <textarea type="text" name="description"></textarea><br>

  <label for="showtimes">Showtimes (separate multiple by comma):</label><br>
  <input type="text" name="showtimes"><br>

  <button class="button" type="submit">Submit</button>
</form>

</main>