<a href="/movies">Go back</a>
<img src="{{pickedMovie.image}}" alt="">
<p>{{pickedMovie.title}}</p>
<p>{{pickedMovie.director}}</p>
<p>stars</p>
{{!-- How to use each to pull elements from Array Stars and put them in the list --}}
<p>{{pickedMovie.description}}</p>
{{!-- horizontal list of elements of Time array --}}