<h2 class="title-create">Create Movie</h2>
<form action="/create" method="post" class="create-section">
  <input type="text" name="title" placeholder="Enter the title here">
  <input type="text" name="director" placeholder="Enter the Director here">
  <input type="text" name="stars" placeholder="Enter the Stars here">
  <input type="text" name="image" placeholder="Enter the image here">
  <input type="text" name="description" placeholder="Enter the description  here">
  <input type="text" name="showtimes" placeholder="Enter the showtimes here">
  <button class="button">Create Film</button>
</form>
<div class="go-back">
  <a href="/movies" class="button">Go back</a>
</div>