<div id='create-container'>
<h1>Create a movie</h1>
<form action="/movies/create" method="post" id='form'>
  <label for="title" class='label'>Title:</label>
  <input type="text" name="title" class='input'>

  <label for="director" class='label'>Director:</label>
  <select name="director" id="directorId">
        {{#each directors}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
  </select>

  <label for="stars" class='label'>Stars:</label>
  <input type="text" name="stars" class='input' placeholder='Star1, star2, star3'>

  <label for="description" class='label'>Description:</label>
  <input type="text" name="description" class='input'>

  <label for="image" class='label'>Image (url):</label>
  <input type="text" name="image" class='input'>

  <div id='btn-box'>
  <button type="submit" id='btn-create'>Create</button>
  </div>

</form>
  <a href='/movies' class='back-link'>Go back</a>
  </div>