<form action="/movies" method="post">
  <label for="title">title</label>
  <input type="text" name="title">
  <label for="director">director</label>
  <input type="text" name="director">
  <label for="description">description</label>
  <input type="text" name="description">
  <input type="submit" value="create">
</form>