<h2>Movie information</h2>
<form class="edit"  action="/movies" method="post">
  <label for="title">title</label>
  <input type="text" name="title" id="movie-title" placeholder="title">
  <label for="director">director</label>
  <input type="text" name="director" id="movie-director">
  <label for="stars">stars</label>
  <input type="text" name="stars" id="movie-stars">
  <label for="image">image</label>
  <input type="text" name="image" id="movie-image" >
  <label for="description">description</label>
  <input type="text" name="description" id="movie-description" >
  <label for="showtimes">showtimes</label>
  <input type="text" name="showtimes" id="movie-showtimes" >
  <button type="submit">submit</button>
</form>