<div class="main-cont list">
	<h3>Detail</h3>
	<a href="/list"> << Back to list</a> <div class="movies">
			<div class="movie-detail">
				<div class="movie-detail-image" style="background-image: url('{{this.image}}')"></div>
				<span class="movie-title">{{this.title}}</span>
				<a href="/list"> << Back to list</a> </div>
			</div>
</div>