<div id="homeBackground">
    <div id="homeTitle">
      <div>
        <h1>Cinema <br> Ironhack</h1>
      </div>
      <a href="/movies"><button id="btn">Check the movies</button></a>
    </div>
</div>