<section class="index-container">
    <div class="index-box">
        <h1 class="index-h1">Cinema</br>Ironhack</h1>
        <a class="check-cinema-button" href="movies">Check the movies!</a>
    </div>
    
</section>

