<body class="main">
  <section class="titleMain">
    <div>
      <h1>Cinema Ironhack</h1>
    </div>
    <div>
      <a href="/movies">
        <button class="btn">Check the movies!</button>
      </a>
    </div>
  </section>
</body>