<style>
body {
  background-image: url("/images/cinema.jpg");
  background-repeat: no-repeat;
  background-attachment: 100%;
  background-size: cover;
}
</style>

<div class="movie-text">
    <h1 class="display">Cinema <br> Ironhack</h1> 
    <a class="btn btn-light text-primary rounded" href="/movies">Check the movies!</a>
</div>
