<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/stylesheets/style.scss">
</head>

<body>
    <div class="header-wrapper">
        <div class="text-wrapper">
            <h1>Cinema<br>Ironhack</h1>
            <a href="/movies">Check the movies!</a>
        </div>
    </div>
</body>

</html>