<div style="background-image: url('/images/cinema.jpg'); width=100vw; height:100vh; background-size: cover">
<div class="container" >
    <img src="/public/images/" alt="">
    <div class="row justify-content-end">
        <div class="col-6 ">
            <h1 class="display-4">{{title}}</h1>
            <a class="btn btn-light" href="/movies">Check the movies!</a>
        </div>
    </div>
</div>
</div>
