<body class="movies">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <img src="starter_code/public/images/cinema.jpg" alt="movies"> --}}

<button><a href="/movies"class="movie-button">Check the movies!</a></button>

</body>