<div class="landing">
  <div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/movies"><button class="btn btn-lg btn-success">See Movies</button></a>
  </div>
</div>



