<div class=" d-flex justify-content-end">
  <div>
<h1 class="text-white " >Cinema Ironhack</h1>
</div>
<br>
<div></div>
<a href="/movies" class="href"><button class="text-secondary "> Check the movies</button></a>

</div>
</div>