<div class="homepage-container">
    <div class="headline-container">
        <h1 class="home-headline">Cinema Ironhack</h1>
        <a href="/movies"><button class="start-button">Check the movies!</button></a>
    </div>
    