<div class="container">
	<div class="h-100 d-flex justify-content-center align-items-center row">
		<div class="col-md-7">
		</div>

		<div class="col-md-5">
			<h1>{{title}}</h1>
			<p> {{description}}</p>
			<a href="/movies" class="btn btn-lg btn-dark p-2 m-4">Check the movies</a>
		</div>
	</div>
</div>