<div class="container"> 
    <form action="/movies" method="get">
    <h1>Cinema</h1>
    <h1>IronHack</h1>
    <a href="/movies"><button type="submit">Check the movies!</button></a>
    </form>
</div>