<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="display-4">{{title}}</h1>
            <a class="btn btn-default" href="/movies">Check the movies!</a>
        </div>
    </div>
</div>