{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div id="cine-background">
  <div class="container-flex">
    <h1>Cinema <br>
      Ironhack
    </h1>
    <a href="/movies">Movies</a>
  </div>
</div>