<div class="imagenFondo">
  <div class="container textHome"> Cinema </div>
  <div class="container textHome"> IronHack </div>
  <div class="container btnMovies">
    <a href="/movies">
      <button type="button" class="btn btn-ligth boton">Check the movies!</button>
    </a>
  </div>
</div>
