{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<section class="container">
    <h2>Cinema Ironhack</h2>
    {{!-- <input type="submit"> --}}
    <a href="/index/movies"> <button>Go to Movies</button></a>
</section>