{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="container container-background"> 
    <div class="search-container">
        <h2>Cinema <br> Ironhack</h2>
        <a href="/movies" class="btn btn-light">Check the movies!</a>
    </div>  
 </div> 