

<div class='welcome'>
    <div class = "text">
    <h1>Cinema <br>Ironhack</h1>
    <button class='button'><a href="/movies">See more</a></button>
    <button class='button'><a href="/users/signup">signup</a></button>
    <button class='button'><a href="/users/login">login</a></button>
    </div>
</div>

