<div class="cine">
    <h1>CINEMA IRONHACK</h1>
    <button class="home"><a href="/movies">Check the movies!</a></button>
</div>


 <style>
     body{
         background-image: url("http://conarte.org.mx/wp-content/uploads/2017/07/cine-club.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         color: white;
     }

    .cine{
        margin-left: 50%;
    }

 </style>
