<div class="wrapper">
<div class="home">
  <h1 class="text-white lead">Cinema</h1>
  <h1 class="text-white lead">Ironhack</h1>
</div>
<a class="btn btn-secondary check-movie" href="/movies">Check the movies!</a>
</div>