<div class="d-flex align-items-center justify-content-end background">
    <div class="title-index flex-column">
      <h1>Cinema <br>Ironhack</h1>
      <a href="/movies"><button class="btn-index">Check the movies</button></a>
    </div>
</div> 