
<!--<img src="images/cinema.jpg" alt="background">-->

    <div class="index">
        <div class="containerIndex">
    <h1>Cinema <br> Ironhack</h1>
    <a href="/movies" id="moviesbtn">Check the movies!</a>
        </div>
    </div>
