<h1 class="subtil">{{title}}</h1>
<p class="subtil">Welcome to {{title}}</p>

<main class="firstMain">
    <div class="mainSec">
        <h1 class="firstTitle">Cinema Ironhack</h1>
        <a href="/gallery/index" class="checkLink">Check the movies!</a>
    </div>
</main>