

<div class="inicio">
    <div class="inicioizq"></div>
    <div class="inicioder">

    <div class = "titulo"> IRONHACK CINEMA </div>
     <div class="botonini">
 <p ><a href ='/movies'>Check the Movies</a></p>
</div>
</div>
</div>