<div class="home-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6 mt-5">
        <h1>Cinema {{title}}</h1>
        <a type="button" class="btn btn-custom" href="/movies">Check the movies!</a>
      </div>
    </div>
  </div>
</div>