<div id="container">
  
  <div id="right-side-container">
    <h1 class="index">Cinema</h1>
    <h1 class="index">Ironhack</h1>
    <button><a href="/movies">Check the movies!</a></button>
  </div>
</div>
