<div id='index-container'>
    <div class='box'>
    </div>
    <div id='index-box' class='box'>
        <div id='title-box'>
            <h1 class='title'>Cinema</h1>
            <h1 class='title'>Ironhack</h1>
        </div>
        <div id='btn-box'>
            <a href='/login' id='btn-check-movies'>Login to check the movies!</a> {{!--Check the movies!--}}
            <p>Don't have an account? <a href='/signup'> Sign up</a></p>
        </div>
    </div>
</div>
