<div class="home-page">

  <div class="left-side"></div>
  <div class="content">
    <div class="title">Cinema Ironhack</div>
    <div class="btn-check"><a href="/movies">Check the movies!</a></div>
  </div>


</div>