<div class="container">
  <div class="index-info">
    <h1 class="cinema-ironhack">Cinema Ironhack</h1>
    <form action="/movies">
      <button type="submit">Check the movies!</button>
    </form>
  </div>
</div>
