<<div class="container">

  <img src="/images/cinema.jpg"  style="width:100%">
    <p class='cinema'>Cinema</p>
    <p class='cinema2'>IronHack</p>
    <form action="/movies">
      <input class='btn' type="submit" value="Check The Movies!" />
    </form>


</div>