
<div class="main">
  <div class="mainTitle">
    <h1 class='title'>Cinema Ironhack</h1>
   <div class="button"> 
     <a class="btn btn-primary" href="/movies" role="button">Check the Movies!</a>
    </div>   
  </div>
</div>