<div id="background" class="text-right cover-container ">
    <div>
<h1 class="text-white display-1 font-weight-bold" >Cinema <br> Ironhack</h1>
<a href="/movies"> <button class="btn btn-light rounded-pill" >Check the movies!</button> </a>
    </div>
</div>