<div class="container pt-5">
	<div class="h-100 d-flex justify-content-center align-items-center row">
		<div class="col-md-7">
		</div>
		<!--- CANT GET TO FLEX IT TO FLEXXXXX 🤯🤯🤯🤯🤯🤯🤯--->
		<div class="col-md-5 pt-5">
			<h1 class="text-white">{{title}}</h1>
			<p class="text-white"> {{description}}</p>
			<a href="/movies" class="btn btn-lg btn-primary p-2 m-4">Check the movies</a>
		</div>
	</div>
</div>