<div class="div-index">
  <div class="div-index-item">
    <div class="div-1">
      <h1 class="div-h1">Cinema Ironhack</>
       <button class="button-agora" type="button"><a href="/movies">Check the Movies!</a></button>
    </div>
  </div>
</div>