<div class="wrapper">

  <main class="pagina-principal">
    <div id="start-logo">
      <h1>Cinema
        <br>
        Ironhack
      </h1>
      <a href="/movies">
        <boton type="submit" class="boton">Check the Movies</boton>
      </a>
    </div>
  </main>

</div>