<div class="container-fluid">
  <div class="home_container">
    <div class="col-lg-offset-7">
      <h1 class="blaou">Cinema Ironhack</h1>
      <a class="btn blaou btn-light" href="/movies">Check the movies!</a>
    </div>
  </div>
</div>
