<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{title}}</h1>
            <p>Cinema Ironhack</p>
        </div>
        <div class="col">
            <a href="/movies">
                <button type="button" class="btn btn-link">Check the movies!</button>
            </a>
        </div>
    </div>
</div>