<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">




<div class="index-bg container">
  <div class="text column">
    <h1>Cinema Ironhack</h1>
    <a href="/movies" class='btn movie'>Check the movies</a>
  </div>
</div>