<div class="row indexbackground">
  <div class="container d-flex align-items-start align-content-center justify-content-end">
    <div class="row">
      <div class="title-text col-12 text-white">
        <p class="my-3">Cinema</p>
        <p class="my-3">Ironhack</p>
        <a class="btn btn-light rounded my-3" href="/movies" type="submit">Check the movies!</a>
      </div>
    </div>
  </div>
</div>

