<section class="uk-section main-sec ">
  <div class="uk-container uk-margin-top uk-flex uk-flex-center uk-flex-right uk-margin-xlarge-bright title-Container">
    <div class="uk-flex  uk-flex-column boton-inicio">
      <h1 class="uk-heading-primary uk-text-bold title">Cinema Ironhack</h1>
      <a id="boton" class="uk-button uk-button-default " href="/movies">Check the movies!</a>
    </div>
  </div>
</section>