{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<section id="body">
    <div id="left"></div>
    <div id="right">
        <div class="heading">

            <h1 class="h1">Cinema <br> Ironhack</h1>
            
        </div>
        
        <button><a class="a-btn" href="/movies">Check the movies!</a></button>
 
    </div>
</section>
