
<div class="index">
        <div class="index">
            <h1>Ironhack Cinema</h1>
            <img src="../public/images/cinema.jpg" alt="">
            <a href="/movies">Check Movies</a>
        </div>
</div>

