<div style="height: 100vw; padding: 50px; font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; background-image: url('../images/cinema.jpg'); background-size: cover; background-repeat: no-repeat;">
  <h1 class="index__h1">Cinema Ironhack</h1>
  <a class="btn btn-light btn-rounded index__a " href="/movies">Check de movies!</a>
</div>

