<div class="background-index">
  <div class="index-container">
    <h1>Cinema <br> Ironhack</h1>
    <button type="button" class="btn btn-light"><a href="/movies-page">Check the movies!</a></button>
  </div>
</div>