<div class="home-container">
  <h1 class="intro">
    Cinema <br />
    Ironhack
  </h1>
  <button class="home_button">
    <a class="moviesbutton" href="/movies">Check the Movies!</a>
  </button>
</div>