<div class="main">
    <div class="container">
        <h1>{{title}}</h1>
        <form action="/movies" method="get">
            <button type="submit">Check the Movies!</button>
        </form>
    </div>
</div>