<div class="container">
      <div class="homepage-text">
      <h1 id="homepage-text"><span>Cinema</span>
      <span>Ironhack</span></h1>
      <a href="./movies"><button>Check the movies!</button></a>
      </div>
  
</div>







