{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="container row">
<div class="col-8"></div>
<div class="col-4">   
<h1 class="text-white title">Cinema</h1> 
<h1 class="text-white title">Ironhack</h1>
<a  class="btn btn-light btn-lg btnCinema" href="/movies"><span class="text-info">Check the movies!</span></a>
</div> 

</div>



