<div class="index">
    <div class="container">
        <div class="row justify-content-end mt-50">

            <div class="col-lg-6">
                <h1>Cinema Ironhack</h1>
                <a class="btn btn-light" href="/movies">Check the movies!</a>
            </div>

        </div>
    </div>
</div>