<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/movies"></a><img
    src="https://image.shutterstock.com/image-photo/long-film-strip-blank-photo-260nw-1163250289.jpg" alt=""
    height="300">
<br>
<button onclick="location.href='/movies'" type="button">

    Check the Movies !
</button>
</form>