<html>
  <head></head>
  <body>
    <h1>{{title}}</h1>
    <p>Cinema Ironhack {{title}}</p>
    <form action="/movies" method="GET">
      <input type="movies" name="" id="">
      <button type="submit">Check the Movies!</button>
    </form>
  </body>
</html>