<div class='container-index'>

  <div class="container-title">
    <p class='title'>Cinema Ironhack</p>
    <a  role="button" class="btn btn-light btn-lg" href="/movies">Check the Movies!</a>
  </div>  
 
</div>