<div class="bigBox">
  <div class=" emptyBox">
  </div>
  <div class="fullBox">
    <p class="titleBox">{{title}}</p>
    <button class="buttonBox pure-button">
      <a href="/Movies">Check out the movies</a> </button>
  </div>
</div>