<div class="start-page">
    <div class="container">
        <h1 class="start-title">Cinema Ironhack</h1>

        <form action="/movies" method="get">
            <button class="check-movies">Check the movies!</button>
        </form>
    </div>
</div>