<body>
    <img id="image" src="./images/cinema.jpg" alt="cine">
</body>

    <h1>{{title}}</h1>
    <p>{{title}}</p>

<form action="/movies" method="GET">
  <input type="submit" value="Search">
</form>