<div class="homeImage">
    <div class="textContent">
        <h1 id="cinema">Cinema</h1>
        <h1 id="ironhack">Ironhack</h1>
        {{!-- <p>Welcome to {{title}}</p> --}}
        <a class="btnHome" href="/movies" target="_blank" rel="nofollow noopener">Check the movies ! </a>
    </div>
</div>