<div class="index-hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-h1">Cinema Ironhack</h1>
            <a class="btn btn-primary" role="button" href="/movies">Check the movies!</a>
        </div>
    </div>
</div>