<div id="image">
    <div id="box-title">
        <h1>{{title}}</h1>
        <form action="/movies">
            <button id="checkmovies">Check the movies</button>
        </form>
    </div>
</div>


