<div class="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col ">
                <h1>Cinema Ironhack</h1> <a href="/movies">Check the movies!</a>
            </div>
        </div>
    </div>
</div>
