{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div id="fullPage">
  <div id="titleAndButtonHolder">
    <h1 class="mainTitle">
      Cinema Ironhack
    </h1>

    <div id="buttonHolder">
        {{!-- Saw that the following is not the best way to do this, but didn't know how to do it --}}
        <a href="/movies" id='movieButton'>
        Check the movies!
        </a>

      {{!-- <a href="/auth"></a> --}}
    </div>
  </div>
</div>

