{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="home-page">
  <div class="home-content">
    <h1>Cinema<br>Ironhack</h1>
    <a href="/movies" class="btn btn-default btn-continue">Check the movies!</a>
  </div>
</div>