<div class="background-index container">
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
      <h1 class="h1-index">Cinema<br>Ironhack</h1>
      <button class="btn btn-light btn-lg"><a href="movies/">Check the movies!</a></button>
    </div>
  </div>
</div>