<body class="index-body">
    <div class="container">
        <div class="row" id="title-div">
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-4 justify-content-end" id="title-holder">
                <h1 id="title-text">Cinema Ironhack</h1>
                <a href="/movies" type="button" class="button">Check the movies!</button>
            </div>
        </div>
    </div>
</body>