<div class="wrap">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-6">
        <h1 class="index-title">Cinema Ironhack</h1>
        <a class="index-btn" href="/movies">Check the movies!</a>
      </div>
    </div>
  </div>
</div>