
<div class='container-index'>

  <div class="container-title">
    <p class='title'>Cinema Ironhack</p>
    
    <a href="/movies"><button class="button">Check the Movies!</button></a>
  </div>  
 
</div>


