<article class="background">
  <div class="container">
    <div class="title">
      <h1><%= title %></h1>
    </div>
    <div class="check-btn">
      <button class="btn">
        <p>
          <a href="/movies">Check the movie!</a>
        </p>
      </button>
    </div>
  </div>
</article>
