<div class="container-fluid bg-index">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 container-index">
      <h1>Cinema Ironhack</h1>
      <a href="movies" class="btn btn-primary">Check the movies!</a>

    </div>
  </div>
</div>