<header class="welcome container-fluid">
  <div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-5">
      <h1 class="text-light mt-5 display-1">
        Cinema Ironhack
      </h1>
      <a class="btn btn-light text-info rounded-pill px-5 py-3" href="/movies">Check the movies!</a>
    </div>
  </div>
</header>