<div class="wrapper">
  <div class="info">
    <h1>Cinema <br> Ironhack</h1>
    <a href="/movies">
      <button class="checkMovies-button" type="button" value="Check the movies!">Check the movies!</button>
    </a>
  </div>
</div>




