<section id="big-container">
  <div id="small-container">
    <div id="title">
      <h1>Cinema</h1>
      <h1>Ironhack</h1>
    </div>
    <button><a href="/movies">Check the movies !</a></button>
  </div>
</section>