<body class="home-body">
  <div class="d-flex align-items-end flex-column">
    <h1 class="display-1 index-titlle font-weight-bold">Cinema Ironhack</h1>
    <div>
      <a href="/movies" class="btn-movies">Check the movies!</a>
    </div>
  </div>
</body>


