<div class="index">
   <form action="/movies" method="GET">
    <div class="indexBox">
      <h1>Cinema Ironhack</h1>
      <button class="checkButton" type="submit" class="button">Check the movies</button>
    </div>
  </form>
 </div> 