<body id="body">
    
    <section class="section">

        {{!-- <h1>{{title}}</h1>
              <p>Welcome to {{title}}</p> --}}

        <div id="left"></div>

        <div id="right">
            <h1 id="h1-index">Cinema<br>Ironhack</h1>
            <a id="index-a" href="/movies">Check the movies!</a>

        </div>

    </section>

</body>
