{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="home-main-content">
  <div class="plain-content">

  </div>
  <div class="nav-content">
     <h1>Cinema Ironhack</h1>
     <div>
       <button type="link"><a href="/movieList">Check the movies!</a></button>
       <button type="link"><a href="/add">Add Movie!</a></button>
     </div>
  </div>
</div>