<div class="Homepage-Container" style="background-image:url('images/cinema.jpg');">
<title>Homepage</title>
<div class="textfield">
<h1>Cinema Ironhack</h1>
<a href="/movies">
    <button class="homeButton" type="submit">Check the movies!</button>
</a>
</div>
</div>