<header class="header">
  <div class="header-image flex" src="/images/cinema.jpg" alt="cinema">
    <h1>Ironhack Cinema</h1>
    <a href="/movies"><button>Check the movies!</button></a>
  </div>
  </div>
</header>