<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Cine de verano</title>
</head>
<body class="home-body">
  
<div>
  <h1>Cinema Ironhack</h1>
  <a class="button" href="/movies">Check the Movies!</a>
</div>

</body>
</html>
