<div class="card bg-dark text-white">
  <img src="/images/cinema.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title home">Cinema IronHack</h1>
    <div class="button">
        <a class="btn btn-primary btn-block" href="/movies" role="button"><strong>Check the movies!</strong></a>
    </div>
  </div>
</div>
