<div class="header-wrapper">
    <div class="text-wrapper">
        <h1>Cinema <br> Ironhack</h1>
        <div class="indexbutton">
            <a href="/movies">Check the movies</a>
        </div>
    </div>
</div>