

<body class="container-body">
    




<div class="container index">
    <form class="form" action="/movies" method="GET">
    <div class="form-row text-center pt-5">
        <div class="col-12">
            <h1 class="bodyT">{{title}}</h1>
            <p>Welcome to {{title}}</p>
            <label  class="text-center" for=""></label>
        </div>
        <div class="col-12">
            <button class="btn btn-danger" type="submit">View movies</button>
        </div>

    </div>
    </form>

</div>
</body>

