<div id='background_wrapper'>
  <div id="intro_content">
    <h1 id="intro_title">Cinema<br>Ironhack </h1>
    <form method="get" action="/movies" id="link_button">
      <button type="submit">check out the movies!</button>
    </form>
  </div>
</div>