<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="index-container">
  <div class="welcome-container">
    <h1><b><p>Cinema</p>
    <b>Ironhack</b></p></h1>
  </div>
    <button class="check-movies">
      <a href="/movies" style="none">Check the movies!</a>
    </button>

</div>


  {{!-- <form action="/movies" method="POST">
    <input type="submit" value="Check the movies!">
  </form> --}}