

<div action="/" method ="post">
<img id= "home-image">
{{!-- <img src="/starter_code/public/images/cinema.jpg" alt="background-image"> --}}
{{!-- <img src="{{movie.image}}" alt="movie image"> --}}
<h1>Cinema Ironhack</h1>
<button ><a href="/movies{{this.movies}}">Check the movies!</a></button>
</div>