<div>
<h1 class="main-title">Cinema Ironhack</h1>
<a href="http://localhost:3000/movies"><button class="mainbutton">Check Movies</button></a>
<img src="../images/cinema.jpg" alt="cinema" class="imgbk">

</div>