<div id="background-HP">
    <div class="title-container">
        <h1>{{title}}</h1>
    </div>
    <button class="button">
        <a href="/movies">
            {{button}}
        </a></button>
</div>