
<div class="contenedor">
<div class="container conta">
<div class="row">
    <div class="col">
    </div>
    <div class="col col-intro">
        <form action="/movies" method="GET">
        <p>IRONHACK CINEMA</p>
        <button class="btn-index" type="submit">Check the Movies</button>
        </form>
    </div>
</div>
</div>
</div>
