<main id="home-main">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <section>
          <h1>Cinema Ironhack</h1>
          <a href="/movies">Check the movies!</a>
        </section>
      </div>
    </div>
  </div>
</main>