<div class="container pt-5">
	<div class="row d-flex align-items-center" id="home-jumbotron">
		<div class="col-md-7 offset-md-5">
		</div>
		<!--- CANT DO IT USING ONLY BOOTSTRAP 🤯🤯🤯🤯🤯🤯🤯--->
		<div class="col-md-5 pt-5 mx-auto" id="">
			<h1 class="text-white">{{title}}</h1>
			<p class="text-white"> {{description}}</p>
			<a href="/movies" class="btn btn-lg btn-primary p-2 m-4">Check the movies</a>
		</div>
	</div>
</div>