<body class="img-home">
 <divc class="home">
  <div >
    <h1 class="text-home">Cinema<br> Ironhack</h1>
  </div>
  <div clas= "">
    <a class = "btn btn-primary" href="/movies">Check the movies!</a>
  </div>
  </div>
 </div>  
</body>