        <!-- Main navigation -->
        <header>
          <!--Navbar-->
          <!-- Full Page Intro -->
          <div class=" bg " style="">
            <!-- Mask & flexbox options-->
            <div class="">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row mt-5">
                  <!--Grid column-->
                  <div class="col-6"></div>
                  <div class="col-6 h-100 align-middle">
                    <h1 class="text-light font-weight-bold display-1 mt-5">Cinema<br>Ironhack </h1>
                    
                    <button class="btn btn-outline-primary rounded-pill waves-effect mt-5 bg-white p-3"><h3><a href="/movies" class="p-5">Check the movies!</a></h3></button>
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->
        </header>




