{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- const express = require('express');
const router = express.Router();

/* GET home page */
router.get('/', (req, res, next) => {
res.render('index');
});

module.exports = router; --}}

<div>
    {{!-- <img class="bg-image" src="../images/cinema.jpg" alt="Cinema"> --}}
    <div class="right">
        <h1>Cinema Ironhack</h1>

        <a href="/movies"><button id="button">Check the movies!</button></a>

    </div>

</div>