{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="home-page">
    <div class="ironhack-cinema">
        <h1>Cinema</h1>
        <h1>Ironhack</h1>
        <button><a href="/movies">Check the movies!</a></button>
    </div>
</div>
