
<div class="container-fluid">
  <div class="row home-back" >
    <div class="col-7"></div>
    <div class="col-5">
      <div class="bigletters">
        <h1 class="jumbo">Cinema</h1>
        <h1 class="jumbo">Ironhack</h1>
        <a class="btn buttonMovies" href="/movies">Check the movies!</a>
      </div>
    </div>
    </div>
  </div>
</div>
