{{!-- Iteration 2 | The Home Page
Home page. Create index.hbs create the following home page (an image of the pop-corn / Cinema Ironhack): --}}

<section id="index-header">
    <div id="index-container">
        <h1>Cinema<br/>
        Ironhack</h1>
        <a href="/movies"><button>Check the movies!</button></a>
    </div>
</section>

{{!-- 
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}