<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ironhack Cinema</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body class="index">

<div class="index-float-right">
<h1>Cinema Ironhack</h1>
<a href="/movies"><button>Check the movies!</button></a>
</div>

</body>
</html>
