
<section class="home-page">
    <div></div>
    <div>
        <h1>Cinema <br> Ironhack</h1>
        <a href="./movies">
            <button>
                <span>Check the Movies!</span>
        </button>
        </a>
    </div>
</section>