<div class="home-page">
  <h1 class= "page-title">{{title}}</h1>
  {{!-- <p>{{title}}</p> --}}
  <form action="/movies" class= "page">
  <button class="btn-home">Check the movies!</button>
  </form>
</div>
