<div class="title d-flex justify-content-end mr-5">
    <div class="d-flex flex-column m-5 p-5 titleText">
        <p>Cinema</p>
        <p>Ironhack</p>
        <a href="/movies" class="btn btn-secondary">Check the movies!</a>
    </div>
    
</div>