<div class="coverPage">
<div class="divCoverPage"> 
  <h1 class="titleCoverPage">Cinema</h1>
  <h1 class="titleCoverPage">Ironhack</h1>
<button type="submit" class="buttonCheckMovies"><a href="/movies" class="textButtonCheckMovies"> Check the movies!</a></button>
</div>
</div>
