<section class="landing-box-image">
  <div class="landing-box-content">
    <h1 class="landing-box-font font-weight-bold">Cinema</h1>
    <h1 class="landing-box-font font-weight-bold">IronHack</h1>
    <form class="landing-box-form" action="/movies" method="get">
    <button class="btn btn-lg btn-light rounded-pill shadow" type="submit">Check the movies!</button>
    </form>
  </div>
</section> 