<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cinema Ironhack</title>
  <link rel="stylesheet" href="./stylesheets/style.css" />
</head>
<body>
  <div class="cinemalandingpg">
    <div class="cinemacontent">
      <h1>Cinema Ironhack</h1>
      <a href="/movies">Check the movies!</a><br />
      <a href="/add-new-movie">Add a movie</a>
    </div>
  </div>
</body>
</html>