<h1>Hello! Welcome to our movie site.</h1>

<h2>If we catch you sneaking in food, we will throw you out.</h2>
<i>You know who you are >:(</i>

<br>
<a href = "/movies">Click here to check out the movies</a>