<div>
    <div class="back">
        <img class="back" src="/images/cinefondo1.jpg" alt="">
    </div>
    <div class="cinema">
        <p>Cinema Ironhack</p>
    </div>
    <a href="/movies" class="btn btn-light" role="button" id="checkMoviesBtn">Check the movies!</a>
</div>