<div id="home-image">
    <h1 id="cinema-title">Cinema Ironhack</h1>
    <div action="/" method ="post">
    

    <button id="chck-btn"><a href="/movies{{this.movies}}">Check the movies!</a></button>
    </div>

</div>



