<style>
    body {
        background: url('../images/cinema.jpg') no-repeat center center fixed;
        color: white;
        background-size: cover;
    }
    h1 {
        font-size: 60px
    }
    div {
        display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-end;

    }
</style>

<div>

<h1>CINEMA <br>IRONHACK</h1>

<a href="/movies"> <button type="button" class="btn btn-primary btn-lg"> Check the movies! </button> </a>

</div>

