<section id="index">
  <div class="heading">
    <h1> Cinema <br> Ironhack </h1>
</div>
  <div class="home-button">
  <button class="btn-index"><a href="/movies">Check the movies!</a></button>
  </div>
</section>