<div class="wrapper">
  <div class="container pt-4">
    <div class="row total-height align-items-center ">
      <div class="col">
      </div>
      <div class="col justify-content-end">
        <h2>Cinema Ironhack</h2>
        <button class="btn btn-light"><a href="/movies">Check the movies!</a> </button>
      </div>
    </div>
  </div>
</div>