
<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
-->
<div class="main">
    <img src="/images/cinema.jpg" class="back-pic">
    <h1 class="main-title">Cinema Ironhack</h1>
    <form action="/movies" method="GET">
        <button class="but-goto">Check the movies!</button>
    </form>
</div>