extends layout

block content
  section(class="main-sec")
    div(class="main-div")
      h1(class="title") Cinema Ironhack
      a(class="home-a-button", href="/movies")
        button(class="home-button") Check the Movies!