<div class="container-index">

  <form class="form-index" action="/movies" method="GET">
    <h1>Cinema</h1>
    <h1>Ironhack</h1>
    <button type="submit">Check the movies!</button>
  </form>
</div>