<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cinema Ironhack</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cinema Ironhack">
    
  <!--hoja de estilos-->
  <link rel="stylesheet" href="stylesheets/style.css">
    
  <!--Boostrap-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.css" integrity="sha256-Za8TaoAYg1BzmU9Re7Fiy6Hh3ac4jswPE1MKeTs95bw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" integrity="sha256-D9AvR0EzkNZoWZVSvI3ch+uf/Z5izrIpcbsykVphwPU=" crossorigin="anonymous" />

</head>
<body>
    <h1>Cinema Ironhack</h1>
    <a class="button" href="#">"Check the movies!"</a>
</body>
</html>