
<div class="cover-container text-right"id="main-container">
  <main  class="row justify-content-end" > 
      <div class="col-lg-4 col-md-10 col-sm-10 col-10 py-5 px-2 mx-0 my-5 text-left">
    <h1 class="text-white display-3 ">Cinema Ironhack</h1>
    <a href="/movies"> <button class="btn btn-light py-3 px-5 my-3 rounded-pill">Check the movies</button></a>
    </div>
  </main>
</div>