<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/movies"><img src="https://user-images.githubusercontent.com/23629340/36983687-49a3d64e-2093-11e8-8b86-b11813f0cdba.png" style="max-width: 100%; max-height: 100%; margin: auto;"></a>

<div>
    <p></p>
</div>