<section class="banner">
    <div class="seach-box">
        <div class="box">
            <h1>Mefit Cinema</h1>
            <a href="/movies" class="uk-button uk-button-default">Check the movies</a>
        </div>
    </div>
</section>