<div><img class="font"
        src="https://ideaexchange.org/sites/default/files/styles/original/public/iStock-506221782_0317_ADULT3dmovie.jpg?itok=9yDibAPT"
        alt="popcorn-image"></div>
<div id="interaction">
    <p>{{title}}</p>
    <a id="check-movies" href="/movies">Check the movies!</a>
</div>