{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="main-div">
  <div class="title-div">
    <h1 class='title'>Cinema Ironhack</h1>
   <div class="button-div"> <a class="btn btn-primary" href="/movies" role="button">Check the Movies!</a></div>
   
  </div>
  

</div>
