<div class="row" id="landing">
  <div class="col s12 m12">
    <div class="col s3 m3 offset-s6 offset-m6">
      <h1 class="white-text">{{title}}</h1>
    </div>
    <div class="col s2 m2 offset-s6 offset-m6">
      <br><br>
      <a href="/movies" class="waves-effect waves-light white grey-text btn-small right">Check the movies!</a>
    </div>
  </div>
</div>
