<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<main class="firstMain">
    <div class="mainText">
        <h1 class="firstTitle">Cinema Ironhack</h1>
        <a href="/movies" class="checkLink">Check the movies!</a>
    </div>
</main>