{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<div class="container">
    <h1 id="cinema">Cinema <br/>Ironhack</h1>
    <a id="btn" href="/movies"><b> Check the movies </b> </a>    
</div>


