<div class="container-fluid d-flex flex-column align-items-end pr-5 mr-5 main">
  <div class="row row-fp">
    <div class="col-12 my-auto mr-5 pr-5">
      <h1 class="text-white">Cinema<br />Ironhack</h1>
      <a href="/movies" class="btn bg-white btn-lg shadow mb-5">Check the movies!</a>
    </div>
  </div>
</div>