<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cinema Ironhack</title>
</head>

<body>
    <div id="block">
  </div>
  <div id="home">
    <h1>Cinema Ironhack</h1>
    <div><button id="check">Check the movies!</button></div>
  </div>

</body>

</html>