<div class="container">
    <div class="content">
        <h1 class="main_title">Cinema Ironhack</h1>
        <button class="start_btn"><a href="/movies">Check the movies!</a></button>
    </div>
</div>
