
    <div class="container-fluid align-items-center" style="background-image: url('/images/cinema.jpg'); width=100vw; height:100vh; background-size: cover">
        <div class="row justify-content-end">
            <div class="col-6 ">
                <h1 class="display-4 text-light font-weight-bold">{{title}}</h1>
                <a class="btn btn-light" href="/movies">Check the movies!</a>
            </div>
        </div>
    </div>
