<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="move-btn"><img class="cinema" src="/images/cinema.jpg" alt="cinema"><h1 class="title1">Cinema Ironhack</h1>
{{!-- <button class="btn">Check the movies!</button> --}}
<a class="btn" href="/Movies">Check the movies!</a>
</div>
