<main class="uk-section main-sect">
  <div class="uk-container uk-margin-top uk-flex uk-flex-column uk-margin-xlarge-right small-cont">
    <h1 class="uk-heading-primary uk-text-bold title">Cinema <br> Ironhack</h1>
    <a class="btn-circle" href="/movies">Check the movies!</a>
  </div>
</main>