<div class="home-container">
    <h1 id="home-title">{{title}}</h1>
    {{!-- <button id="enter-button">Check the movies!</button> --}}
    <a href="/movies" id="enter-button">Check the movies!</a>
</div>

{{!-- <p>Welcome to {{title}}</p> --}}