<div class="wrapper">

  <main class="page-main">
    <div id="start-logo">
      <h1>Cinema
        <br>
        Ironhack
      </h1>
      <a href="/movies">
        <button type="submit" class="button">Check the Movies</button>
      </a>
    </div>
  </main>

</div>