
<style>
    body{
        background-image: none;
    }
</style>

    <h2>Catálogo</h2>
    
<div>
  <div class="movie-display">
    <img src="{{peli.image}}">
    <h3>{{peli.title}}</h3>
  </div>
</div>
    