<h1 id="list-title">List of Movies</h1>
    <br>
<a id="add-movie" href="http://localhost:3000/add">Add a new movie!</a>

<div class="movie-container">
    {{#each movies}}
    <div class="movie">
        <img src="{{this.image}}" alt="">
        <p class="movie-title">{{this.title}}</p>
        <br>
        <div class="see-more"><a href="http://localhost:3000/movie?id={{this._id}}">see more</a></div>
    </div>
    {{/each}}
</div>



