<h1>Ironhack Cinema</h1>
<h5>Click on the movie to check all the showtimes!</h5>
<div class="container-fluid movies-content">
    <div class="row">
        {{#each movies}}
            {{>movieCard this}}
        {{/each}}
    </div>
</div>
