{{!-- <h1>Add a New Movie</h1>

<form action="/movies/create" method="POST">


<label>Name</label>
<input type="text" name="theCatsName">

<label>Color</label>
<input type="text" name="theCatsColor">

<label>Age</label>
<input type="text" name="theAge">

<button>Save </button>
</form> --}}

<h2>Ironhack Cinema</h2>
<h4>Click on the movie to check the showtimes!</h4>