<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3><strong>Ironhack Cinema</strong></h3>
            <h4>Click on the movie to check the showtimes!</h4>
            <p><a href="/">Go back</a></p>
        </div>
        {{#each movies}}
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
            <img class="mt-4" src="{{this.image}}" alt="">
            <p class="mt-2">{{this.title}}</p>
            <p><a href="/movies/{{this._id}}">See more</a></p>
        </div>
        {{/each}}
    </div>
</div>