<h1>Ironhack cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>
<div class="wrapper">
    <ul class="list" id="movies">
        {{#each movies}}
        <li class="movie title" >
            <img src="{{this.image}}" alt="movie">
            <p>{{this.title}}</p>
            <a href="/movies/{{this._id}}">See more</a>
        </li>
        {{/each}}
    </ul>
</div>