<div class="movies-wrapper">
  <h1>Ironhack Cinema</h1>
  <h2>Click on the movie to check the showtimes!</h2>
  <div class="movie-list">
    {{#each movies}}
      <div class="individual-movie">
        <img src="{{image}}">
        <h3>{{title}}</h3>
        <a href="/movie/{{_id}}">See more</a>
      </div>
    {{/each}}
  </div>
</div>