<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>
<div class="flex">
<div id="movies">
{{#each movies}}
<section id="@index">
  <img src="{{this.image}}" alt="image of {{this.title}}">
  <h4>{{this.title}}</h4>
  <a href="movies/{{this.id}}">See more</a>
</section>
{{/each}}
</div>
</div>