<section>
  <h2>Ironhack Cinema</h2> 
  <p>Click on the movie to check the showtimes!</p>
{{#each movies}}
  <div>
    <img src="{{image}}" alt="movie picture">
    {{title}}
    <a href="{{../host}}/movie/{{_id}}">See more</a>
  </div>
{{/each}}
</section>