<div id="landing-movies">
  <h2>Ironhack Cinema</h2>
  <p>Click on the movie to check the showtimes!</p>
</div>
<div id="all-movies">
  {{#each movies}}
  <div class="movie-poster">
    <img src="{{this.image}}" alt="">
    <h5>{{this.title}}</h5>
    <a href="/movie/{{this._id}}">See more</a>
  </div>
  {{/each}}
</div> 

<!-- In this view we use the movies object that was passed and iterate over it
via the #each functionality, like if it was an array.
Using hbs we pass the specific keys of the object to the view that we want
to render. -->