
<dir>
<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtime!</h3>


<ul>
    {{#each allmovies}}
    <li>
      {{image_url}}

        {{title}} 
    </li>
    {{/each}}
</ul>
</dir>

