<div class="movie-header">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
</div>
<div class="movie-list">
    {{#each movieList}}
    <div class="movie-poster">
        <img src="{{image}}" alt="movie-poster">
        <p>{{title}}</p>
        </a>
        <a href="/movies/{{_id}}">See More</a>
        {{/each}}
    </div>
</div>