<div id="cards-movie">

    <h1>Ironhack Cinema</h1>
    <h3>Click on the movie to check the showtimes!<h3>
 

 {{#each  pelicula}}
 <div class="peliculas">
    <img src="{{image}}" alt="image not found">
      <h3>{{title}}</h3>

    <button class="btn"><a href="/movie/{{_id}}">see more</a></button>
  
 </div>

    {{/each}} 
</div>


  


  
 