<h1>IRONHACK Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>
<ul>
    {{#each seeds }}
    <li class="item">
        <img src="{{this.image}}" alt="defaultimg">
        {{this.title}}
        <a href="/movies/{{this._id}}" title="listmovies"> See more </a>
    </li>
    {{/each}}
</ul>