
<div class="container movie-list">

<h1>IronHack Movies</h1>
<h2>Click on the movie to check showtimes!</h2>

<div class="row">

{{#each movies}}

{{> gridCard}}

{{/each}}

</div>

</div>




{{!-- <div class="col-md-3"> --}}
{{!--  --}}
  {{!-- <div class="movie-box"> --}}
  {{!-- <img src="{{image}}" alt="{{title}}"> --}}
  {{!-- <h3>{{title}}</h3> --}}
  {{!-- <p><a href="movie/{{_id}}">see more</a></p> --}}
{{!-- </div> --}}
{{!--  --}}
{{!-- </div> --}}