<div class="text">
<h1>Ironhack Cinema</h1>
</div>
<div class="container">
{{#each movies}}
<div class="eachMovie">
<img src="{{this.image}}" alt="image">
<h4>{{this.title}}</h4>
<a href="/movie/{{this.id}}">See More</a>
</div>
{{/each}}
</div>