<h1>Ironhack Cinema</h1>
<div class="wrapper">
{{#each listOfMovies}}
<div class="container">
<img src="{{this.image}}" alt="">
<p>{{this.title}} </p>
<a href="/movies/detail/{{_id}}">See more</a>
</div>
{{/each}}
</div>