<div class="movie-container">
  <div class="image&info">
    <img class="movie-img" src="<%= movies.image%>" alt="<%= movies.title%> image">
    <div class="info" >
    <h2 class="title"><%= movies.title%></h2>
    <h3 class="director"></h3> 
    </div>
  </div>
</div>
