<div class="movie-card">
  <div class="movies-info">
  <ul>
  {{#each movies}}
    <img src={{image}} width="200"/>
    {{title}}
    <button><a href="/movies/{{_id}}" style="none">See more</a></button>
    more?
  {{/each}}
</ul>
</div>
</div>