
  <div class="container d-flex align-items-center justify-content-end">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <span><h1 class="my-3">Ironhack Cinema </h1></span>
        <span><h3 class="my-3">Click on the move to check the showtimes</h3></span>
      </div>  
      <div class="row">
        {{#each movies}}
        <div class="mb-5 col-lg-4 d-flex flex-column align-items-center">
          <a href="/movies/{{this._id}}"><img class="mt-3" src="{{this.image}}" alt="Movie image"></a>
          <span class="mt-3">{{this.title}}</span>
          <a class="mt-3" href="/movies/{{this._id}}" type="submit">See more</a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
