<section class="movies-page">

    <h1>Elin Cinema</h1>
    <p>Click on the movie to the check the showtime !</p>

    <div id="wrapper-movies">
    {{#each dbRes}}
    <section id="movie-description">
        <img src="{{this.image}}" alt="">
        <p> {{this.title}} </p> 
        <a href="/movies/{{this._id}}">See more</a>
    </section>

    {{/each}}
    </div>

</section>



