<h1>Ironhack Cinema</h1>
<h3>Click on the movies to check the showtime!</h3>

{{#each movies}}
<img src="{{this.image}}" alt="image">
<p>{{this.title}}</p>
<a href="/movie/{{this._id}}">See more</a>
{{/each}} 


