<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>

<ul>
  {{#each movieArray}}
  <li>
    <img src="{{this.image}}" alt="{{this.title}}">
    <h4>{{this.title}}</h4>
    <a href="/movie/{{this._id}}">See more</a>
  </li>
  {{/each}}
</ul>