{{#each data}}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{image}}" class="card-img" alt="imagenUnica">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Stars</p>
            <ol>
            {{#each data.stars}}
                <li>121</li>
            {{/each}}
            </ol>
            <p class="card-text">{{description}}</p>
          </div>
        </div>
      </div>
    </div>
{{/each}}