<div class="center-container movies-title">
  <h2>All the movies on display</h2>
</div>

<div id="movies-container" class="center-container">

  {{#each movies}}
    <div class="movie-card">
      <img class="movie-img" src="{{this.image}}" alt="{{this.title}}">
      <span class="movie-title">{{this.title}}</span>
      <a href="/movie/{{this._id}}">See more</a>
    </div>
  {{/each}}

</div>
