<main class="container">
  <h1>Ironhack Cinema</h1>
  <p>Click on the movie to check the showtimes!</p>
  <div class="movies">
    {{#each movies as |movie|}}
      <div class="movie">
        <figure>
          <img src="{{movie.image}}" alt="{{movie.title}}">
          <figcaption>{{movie.title}}</figcaption>
        </figure>
        <p><a href="/movie/{{movie._id}}">See more...</a></p>
      </div>
    {{/each}}
  </div>
</main>

