<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Ironhack Cinema</h2>
                <h5>Click on a movie to see showtimes</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            {{#each movies}}
            <div class="col-md-3">
                <div class="card text-black bg-light mb-2 shadow-sm image">
                    {{#if image}}
                    <img src="{{image}}" alt="test">
                    {{else}}
                    <img src="/images/place.png" alt="image not found" class="select-poster">
                    {{/if}}
                    <h6>
                        {{this.title}}
                    </h6>
                    <div class="col-md-10 col-sm-10 text-center">
                        <a href="/movies/{{this._id}}" class="btn btn-sm btn-primary">See more</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

</html>