<div class="movies">
  {{#each moviesForHBS}} 
  <div class="movieBox">
    <a href="movie/{{id}}">
      <ul>
        <li><img src="{{image}}"/></li>
        <li>{{title}}</li>
      </ul>
    </a>
    </div>
  {{/each}}
</div>