<h1>Ironhack Cinema</h1>
<h4>Click on the movie to check the showtimes!</h4>

{{#each moviesForHBS}}
<ul>
<li>{{image.0.url}}</li>
<li>{{title}}</li>
<li><a href="/movies/{{id}}">See More</a></li>
</ul>
{{/each}}

