<h2>Ironhack Cinema</h2>
<p>Click on the movie to check the showtimes!</p>
<div id="movies-container">
  {{#each movies}}
  <div class="movies-cards">
    <img src="{{this.image}}" alt="">
    <h5>{{this.title}}</h5>
    <a href="/movie/{{this._id}}">See more</a>
  </div>
  {{/each}}
</div>