<div class="moviesContainer">
  <div class="row">
  {{#each movies}}
    <div class="card col-3">
      <img class="card-image-top" src="{{image}}" alt="">
      <div class="card-body">
        <h1 class="">{{title}}</h1>
        <h3 class="card-title">{{description}}</h3>Go
        <a  class="card-text" href="#" class="btn btn-primary">See Movie</a>
      </div>
    </div>
  {{/each}}
  </div>

</div>