<h1>MOVIES DETAILS!</h1>

<div>
  <p><a href='/movies'>Go back</a></p>

  <div>
    <img src="{{movie.image}}" alt="Movie img">
    <p>{{movie.title}}</p>
    <p>{{movie.description}}</p>
  </div>

</div>