<div class="background-img">
  <h1>Prime time</h1>
  <div id="movie-list">
    {{#each moviesView}}
    <div id="movie-box">
      <h2>{{title}}</h2>
      <img src="{{image}}" alt="movies-img">
      <a href="/detail/{{_id}}" class="info-button">More info</a>
    </div>
    {{/each}}
  </div>
</div>