<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>

<body>
    <div class="allmovies">

        {{#each movies}}
        <div class="moviescontainer">

            <img src="{{this.image}}">
            <p>{{this.title}}</p>
            <a href=/movies/{{this._id}}>see movie</a>
        </div>
        {{/each}}

    </div>
</body>

</html>