<div id='opening-container'>
    <div>
        <h1 id='opening-title'>Ironhack Cinema</h1>
        <h2 id='opening-text'>Click on the movie to check the showtimes!</h2>
        <a href='movies/create'>Create movie</a>
    </div>
    <div id='logout-box'>
        <h6>Hello {{user.username}}!</h6>
        <a href='/'>Logout</a>
    </div>
</div>
<div id='movies-container'>
    <div id='movies-box'>
        {{#each movies}}
            <div class='movie'>
                <img src="{{image}}" alt="">
                <h3>{{title}}</h1>
                <a href="movie/?id={{this.id}}">See more</a>
            </div>
        {{/each}}
    </div>
</div>