<section class="movies-l">

{{#each movies as | movie |}}
<div>
    <p>{{movie.title}}</p>
    <img src="{{movie.image}}" alt="movie image">
    <button><a href="{{movie.id}}">See more</a></button>
    </div>
{{/each}}

</section>

