<div class="movies-title">
  <h1>Ironhack Cinema</h1>
  <p>Click on the movies to check showtimes!</p>
</div>
<section class="movies-container">
    {{#each movies as |movie|}}
    <article class = 'movie-card'>
        <figure>
            <img src= {{movie.image}} alt={{movie.title}}/>
        </figure>
        <h2>{{movie.title}}</h2>
        <a href="/movie/{{movie._id}}">See more</a>
    </article>
    {{/each}}
</section>