


<div class="container">

<div class=" row ">
  {{#each movies}}
  <div class="movies">
    <img class="col-12"src="{{this.image}}">
    <div class="text-movie"> 
    <span class="row">{{this.title}}</span>
    <a class ="row"href="/movies/{{this._id}}">See more</a>
    </div>
  </div>
  {{/each}}
  
</div>

</div>
