<h2>Ironhack Cinema</h2>
<p><b>Click on the movie to check the showtimes!</b></p>

<div class="catalogue">
  <ul class="collection">
    {{#each movieArray}}
    <li class="items">
      <article>
        <div class="thumbnail">
          <img src="{{this.image}}" />
        </div>
        <div class="subtext">
          <h4>{{this.title}}</h4>
          <a href="/movies/{{this.id}}">See More</a>
        </div>
      </article>
    </li>
    {{/each}}
  </ul>
</div>