<div class="d-flex align-content-start flex-wrap results">
    {{#each movies}}
    <div class="cards card" style="width: 18rem;">
        <img class="card-img-top" src={{this.image}} alt="Card image cap">
        <div class="card-body">
            <h2 class="card-text">{{this.title}}</h2>
            <a href=/movies/{{this._id}}><button action="" method="GET" class="btn btn-danger" type="submit">See more...</button></a>
        </div>
    </div>
    {{/each}}
</div>