<div class="header">
    <h1>Ironhack Cinema</h1>
    <p>Click on the movies to check the showtimes</p>

</div>


<div class="movie-wrapper">
    {{#each allMovies}}
    <img src="{{this.image}}" alt="">
    <p>{{this.title}}</p>
    <a href="/movie/{{this.id}}">See more</a>
    {{/each}}
</div>