<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Movies</title>
</head>
<body>
<div class="container">
    <h1>Ironhack Cinema</h1>
    <h2>Click on the movie to check the sowtimes!</h2>

    <div class="row">

        {{#each movies}}  <!-- itero en el array beers -->
        {{>moviesInfo this}}  <!-- le indico el partial -->  
        {{/each}}
    </div>
</div>

</body>
</html>