<h1>Ironhack Cinema</h1>
<h5>Click on the movie to see the showtimes!</h5>

{{#each movies}}
<div>
  <p> <img src={{image}} alt="Picture of the movie cover"> </p>
  <p><strong>{{title}}</strong></p>
  <p><a href="/movies/{{_id}}">See more</a></p>
  {{/each}}
</div>