<div class="page">
 <h1 class="title">IronHack Cinema</h1>
 <p>Click on the movie to check the showtimes</p>
 <div class="movie-container">
 {{#each movies}}
   <div class="movie">
     <img src="{{this.image}}" alt="movie image">
     <div class="high-level-info">
       <p>{{this.title}}</p>
       <a class="movie-details-link" href="/movie/{{this.id}}">See more</a>
     </div>
   </div>
 {{/each}}
 </div>
</div>