<div id="imagenpeli"><img src="{{movie.image}}" alt="imagen"></div>
<div id="informacion">
  <h1>{{movie.title}}</h1>
<span>{{movie.director}}</span>
<p>{{movie.description}}</p>

<a href="/movies">Return</a>

</div>
