<h1>Ironhack Cinema</h1>
<p>Click on the image to check the showtimes</p>

{{#each movies}}
<div class="movie">
  <img src={{image}}>
  <p>{{title}}</p>
  <a href={{_id}}>See More</a>
</div>
{{/each}} 