<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
{{#each movieArr}}
<div>
  <img src="{{this.image}}" alt="">
  <h3>{{this.title}}</h3>
  <a href="/movie/{{this.id}}">See more</a>
</div>
{{/each}}