<section class="list">
    <h2>Ironhack Cinema</h2>
    <p>Click on a movie to check the showtimes !</p>

    {{#unless movies}}
    <p class="nothing">Sorry, nothing here yet...</p>
    {{/unless}}

    <div class="grid">
    {{#each movies}}
        <div>
            <img src="{{this.image}}" alt="{{this.title}}">
            <p>{{this.title}}</p>
            <a class="seemore" href="/movie/{{this._id}}">See more</a>
        </div>
    {{/each}}
    <div>
</section>