<section id="movies-list">
  
  <div class="movies-list-intro">

    <h2 class="intro-title">Ironhack Cinema</>

    <p class="intro-text">Click on the movie to check the showtimes</p>
  
  </div>

  <div class="movies-list-container">
    
    <% movies.forEach(movie => {%>
    <article class="movie-intro">
      <img src="<%= movie.image %>" alt="film poster">
      <h4 class="movie-title"><%= movie.title %></h4>
      <a class="see-more" href="/movies/<%= movie._id %>">See more</a>
    </article>
    <% }) %>
 
  </div>

</section>