<div class="align">
    <div class="card">
        {{#each movies}}
            <img src="{{image}}" alt="image">
            <div class="info">
                {{title}}
                <a href="/movie/{{id}}">See more</a>
            </div>
        {{/each}}
    </div>
</div>