<div class="padrelistadopelis">
    {{#each movies}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top " src={{this.image}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <a href="/movies/{{this._id}}"> <button>See more</button></a>
        </div>

    </div>
    {{/each}}
</div>