<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<ul>
  {{#each moviesFromDb}}
  <img src="{{image}}" alt="">
  <li>{{title}}</li>
  <a href="movie/{{_id}}">See more</a>
  {{/each}}
</ul>