<div class="titulo-h2">
  <p>
    <h2> Cinema <br />
      Ironhack</h2>
    Click on the movie to check the showtimes!
  </p>


  <div class="div-movies">
    {{#each data}}
    {{>moviePartial}}
    {{/each}}
  </div>
</div>