<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
<div class="show">
    <p>test</p>
{{#each movies}}
<div class="card">
    <img src={{this.image}}>
    <h3>{{this.title}}</h3>
</div>
<div>
    <a href="/movies/{{this._id}}"> See more</a>
</div>
{{/each}}

</div>