<div class="page">
    <h1 class="title">Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
    <hr>

    {{#unless movies}}
    <p>no movie yet sorry</p>
    {{/unless}}

    <ul class="list movies">
        {{#each movies}}
                <li class="movie">
            {{this.title}}
            <a class="link" href="/movies/{{this._id}}">... see more</a>
            <form action="/movies/{{this._id}}/delete" method="post" >
                <input class="btn" type="submit" value="delete">
            </form>
        </li>
        {{/each}}``
    </ul>
</div>