<div class="page">
    <h1 class="title">Ironhack Cinema</h1>
    <p>Click on the movie to check the showtimes!</p>
    <hr>

    {{#unless movies}}
    <p>no movie yet sorry</p>
    {{/unless}}

    <ul class="list movies">
        {{#each movies}}
    </ul>
</div>