<div class="movies-list">
    {{#each movies}}
    <div class="movie-box">
        <div class="movie-thumbnail">
            <img src={{this.image}} alt="">
        </div>
        <h3 class="title">{{this.title}}</h3>
        <a href="/movies/{{this._id}}">See more</a>
    </div>
    {{/each}}
</div>