
     <h1>This is the Movie Page</h1>

    {{#each movies}}

    lkjhgfdgyhuk

    <div class="movie-card">
        <img src="{{this.image}}">

        <h6>{{this.title}}</h6>

        <a href="/movies{{this._id}}">See Details</a>
    </div>

    {{/each}}