<h1 class="title">Movies</h1>
<div class = "container1">
  {{#each movie}}
  <div class = "container">
    <img src="{{this.image}}" alt="picture image">
    <h1>{{this.title}}</h1>
    <button><a href="/movies/{{this._id}}">View more...</a></button>
  </div>
  {{/each}}

<div>
























