<section id="movies-l">

{{#each movies as | movie |}}
<div>
    
    <img src="{{movie.image}}" alt="movie image">
    <p>{{movie.title}}</p>
    <br>
    <button id="see-more"><a href="/movies/{{movie._id}}">See more</a></button>
    </div>
{{/each}}

</section>
