<div>
    <h2>Ironhack Cinema</h2>
    <h3>Click on the movies to check the showtimes!</h3>
</div>
<div class="moviecontainer">
    {{#each allMovies}}
    <div>
        <img src="{{this.image}}" alt="">
        <h4>{{this.title}}</h4>
        <h5><a href="/movies/{{this._id}}">See more</a></h5>
    </div>
    {{/each}}
</div>