<h3>
  Ironhack Cinema
</h3>
<p class="movie-time">Click on the movie to check the showtimes!</p>
<div class="movies">
  {{#each movie}}
<div>
  <img src="{{this.image}}" alt="Movie Img" class="posters">
  <p class="title">{{this.title}}</p>
  <a href="/movie/{{this.id}}">See More</a>
</div>
{{/each}}
</div>