<h1>
    Ironhack Cinema
</h1>
<p>
    Click on the movie to check the showtimes!
</p>

<div class="movie-container">
    {{#each movies}}
    <div class="movie-bloc">
        <img src="{{this.image}}" alt="Image of the movie">
        <div class="movie-title">{{this.title}}</div>
        <a href="/movies/show/{{this._id}}">See more</a>
    </div>
    {{/each}}
</div>