<h1>Ironhack Cinema</h1>

<h2>Click on the movie to check the showtimes!</h2>


{{#each allTheMovies}}
<div class='movie-preview'>

  <img src="{{this.image}}" alt="">
    <h3>{{this.title}}</h3>
    <a href="/details/{{this.id}}">see more</a>


</div>
{{/each}}

