
 <div>
    
    {{#with movieInfo}} 

    <p>{{title}}</p>
    <p>{{director}}</p>
    <img src="{{image}}" >
    <p>{{showtimes}}</p>
    
    {{/with}}

    <button><a href="/movies">Go back</a></button>

  </div>