<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtime!</h2>
<div class="cards">
    {{#each movies}}
        <div class="card">
            <img src="{{this.image}}">
            <h3>{{this.title}}</h3>
            <a href="/movie/{{this._id}}">See more</a>
        </div>
    {{/each}}
</div>

