<h1>{{title}}</h1>
<h3>Click on the movie to check the showtimes!</h3>

<div class="movie-listing-container">

  {{#each theMovies}}
  <div class="movie-listing-ind">
    <img src="{{this.image}}" alt="">
    <h4>{{this.title}}</h4>
    <a href="/movie/{{this.id}}">See More</a>
  </div>
  {{/each}}
</div>