{{#with movies}}
<h1>Detalles de {{title}}</h1>
<h4>Director</h4>
<p>{{director}}</p>
<h4>Reparto</h4>
<p>{{stars}}</p>
<h4>Sinopsis</h4>
<p>{{description}}</p>
{{/with}}

<a href="/movies/list" class="btn btn-dark">Volver a la lista</a>