
<h2>IronHack Cinema</h2>
<p>Click on the movie to check the showtimes</p>

{{#each movies}}
<img src="{{image}}" alt="">
{{title}}
<button> <a href="/movies/{{id }}">Check the Movies!</a></button> 
{{/each}}

