<section class="movies">


  <h1>Ironhack Cinema</h1>
  <h2>Click on the movie to check the showtimes!</h2>


  <ul class="all-movies">
    {{#each moviesArray}}
    <li class="one-movie">
      <img src="{{this.image}}" alt="">
      <h3>{{this.title}}</h3>
      <a href="/movie/{{this._id}}">see movie details</a>
    </li>
    {{/each}}
  </ul>

</section>