<div class="title" >
  <div>
    <h2>Ironhack Cinema</h2>
    <p>Click on the movie to check the showtimes!</p>
  </div>
  <div class="cards-container">
  {{#each data }}
  <div class="card">
    <img src="{{this.image}}">
    <h6>{{this.title}} </h6>
    <a href="movies/{{this._id}}">See more</a>
  </div>
  {{/each}}
  </div>
</div> 
