<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes !</p>


{{#each movies}}
<img src="{{this.image}}" alt="image-movie">
<h4>{{this.title}}</h4>



{{/each}}<a href="/movie">See more</a>