<div class="page-container">

  <h2>Ironhack Cinema</h2>

  <h3>Click on the movie to check the showtimes</h3>

  <a href="/">Go back to Home</a>

  <div class="movie-list-container">

      {{#each movies}}
        {{>movie_tile}}
      {{/each}}

  </div>


</div>