<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>
{{#each movies}}
<div>
<img src="{{this.image}}" alt="">
<h1>{{this.title}}</h1>
<a href="/movies/{{id}}">See more</a>
</div>
{{/each}}