{{!-- list of all movies --}}

<div class="container_movies">
    <h1 class="content">Ironhack Cinema</h1>
    <p class="content">Click on the link to get more information about the movie.</p>
    
    {{#each movies}}
     <img src="{{ this.image }}" alt="img" id="img">
     <p class="content content-title">{{ this.title }} </p>
     
     <a href="/movies/{{this._id}}">See more</a>
    {{/each}}
</div>