<div class="wrapper">
  <h4>{{title}}</h4>
  <h5>Click on a movie to check the showtime!</h5>
  <div class="movies-container">
    {{#each movies as |movie|}}
    <div>
      <img src="{{this.image}}" alt="">
      <p>{{this.title}}</p>
      <a href="/movie-description/{{movie.id}}">see more</a>
    </div>
    {{/each}}
  </div>
</div>