<h1>MOVIES DETAILS!</h1>

<div class="container-details">
<p><a href='/movies'>Go back</a></p>

    <div class='movie-detail'>
        <img class="img-movie" src="{{movie.image}}" alt="Movie img">
        <p>{{movie.title}}</p>
        <p>{{movie.description}}</p>
    </div>


</div>