<h2>Ironhack Cinema</h2>
<p>Click on the movies to check the showtimes!</p>
<button><a href="/movies/create">Add a new movie!</a></button>

<ul class="movies">

{{#each movies}}
<div class="movie-first">

<img src="{{this.image}}">
<b>{{this.title}}</b>
<a href="movies/{{ this._id }}">See more</a>
</div>


{{/each}}

</ul>