<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>
<section class="movies-listed">
  {{#each moviesList}}
  <div class="single-movie">

    <img src={{this.image}} alt="Movie poster of {{this.title}}">
    <h4>{{this.title}}</h4>
    <a href="/movie/{{_id}}">See more</a>

  </div>
  {{/each}}
</section>