<div class="row">
    <div class="col-lg-8 d-flex mx-auto my-3 py-3 flex-column justify-content-center">
        <h1 class="font-weight-bold">Ironhack Cinema</h1>
        <h4 class="font-weight-bold">Click on the movie to check the showtime!</h4> 
    </div>
</div>
<div class="d-flex align-content-center flex-wrap ">
{{#each movie}}
<div class="card my-5 mx-5 text-center" style="width:250px">
  <img class="card-img-top" src={{image}} alt="Card image">
  <div class="card-body rounded">
    <h4 class="card-title" id="font-size">{{title}}</h4>
    <p class="card-text"></p>
    <a href="/movies/{{_id}}">See more</a>
  </div>
</div>
{{/each}}
</div>