<div class="container">
    <h2 class="font-weight-bold">Ironhack Cinema</h2>
    <p class="movies-p">Click on the movies to check the showtimes!</p>

<div class="container row movie-row"></div>
    {{#each movies}}
    <div class="container col-sm-4">
        <img src="{{this.image}}" alt="">
        <h4 class="font-weight-bold">
            {{this.title}}
        </h4>
        <a class="btn btn-link font-weight-bold" href="/movies/{{this._id}}">See more</a>
    </div>
    {{/each}}
</div>

</div>