<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
</head>
<body>
    <header>
    <div class="headerbox container">
    <div class="logo">
      <img src="../images/logo.png" alt="logo" />
    </div>
    <a href="/">Home</a>
    <a href="/movies">Movies</a>
    </div>
  </header>
    <div class="container">
  <h1>Ironhack Cinema</h1>
  <div class="movies-gallery">
  {{#each theMovies}}

<div class="moviesbox">
    <a href="/movies/{{this._id}}">
    <img src={{this.image}} alt="movie" />
        <h3>
            {{this.title}}
        </h3>
        <h4>See More</h4>
    </a>

</div>

{{/each}}
    </div>
    </div>
  
</body>
</html>