<div class="movie-details-container">
  <div class="card mb-3" style="max-width: 18rem;">
    <img src="{{movie.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">{{movie.description}}</p>
      <p class="card-text"><small class="text-muted">Director: {{movie.director}}</small></p>
    </div>
  </div>
</div>