<div class="movie-card-detail">
		<div class="color-overla">
			<div class="movie-content-detail" style="background-image: url('{{movie.image}}');">
				<div class="movie-header-detail">
					<h1 class="movie-title">{{movie.title}}</h1>
					<h4 class="movie-info">{{movie.director}}</h4>
				</div>
        <p class="movie-desc">{{movie.description}}</p>
        <a class="btn btn-outline" href="/movies">Go back</a>
			</div>
		</div>
	</div>
