<link rel="stylesheet" href="singleMovie.css">
<div class = 'parent'>
<h1>{{movie.title}}</h1>
<div class = 'container'>


<img src="{{movie.image}}" alt="">

<p>{{movie.description}}</p>

</div>

</div>