<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

{{#each movieList}}
<img src="{{image}}" alt="movie-poster">
<p>{{title}}</p>
<a href="/movie/{{_id}}">See more</a>
{{/each}}