<div class="page-content"></div>
  <h1>IronHack Cinema </h1>
  <h3>click on the movie to check the showtime !</h3>
  <div class="all-movies-container">
    {{#each movies}}
    <div class="each-movie">
      <img src={{this.image}} alt="movie image">
      <h5 class="center-txt">{{this.title}}</h5>
      <a class="link center-txt" href="/movies/{{this._id}}">see more</a>
    </div>
    {{/each}}

  </div>
</div>