<div class="heading">
    <h1>Ironhack Cinema</h1>
    <h3>Click on the movie to check the showtimes!<h3>
</div>
  <div class="home-button">
  <button class="btn"><a href="/movies">Check the movies!</a></button>
  </div>
