<h1>MOVIES!</h1>

<div class="container-movies">

  {{#each movies}}
    <div class='movie-card'>
        <img class="img-movie" src="{{this.image}}" alt="Movie img">
        <p>{{this.title}}</p>
        <p><a href='/moviesDetails/{{this._id}}'>see more</a></p>
    </div>
  {{/each}}

</div>