<div id="movieslist">

<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the show time!</h3>

<div class="movies-info">
{{#each movies as |movie|}}

<div class="minfo">
<img src= "{{movie.image}}" alt="{{sneaker.title}}">
<h3>{{movie.title}}</h3>
<br>
<a href="/movies/{{movie._id}}">See more</a>
</div>
{{/each}}

</div>
</div>