<div class="imageMovie">
  <img src="{{image}}" alt="singleMovieIMG">
</div>

<div class="singleInfo">
  <a href="/movies">Go back</a>
  <h1>{{title}}</h1>
  <h3>Director: {{director}}</h3>
  <h4>Stars</h4>
  {{!-- stars array --}}
  <p>{{description}}</p>
  {{!-- showTime array --}}
</div>

