<div class="container">
 <h1><b>Ironhack Cinema</b></h1>
 <h2>Click on the movie to check the showtimes!</h2>
<div class="row">
   {{#each movies}}
   <div class="col-sm-4 item">
    <img src="{{this.image}}" alt="Cinema Image" width="150px" height: "340px">
    <p class="p-tittle"><b>{{this.title}}</b></p>
    <p><a href="movies/{{this._id}}">See More</a></p>
   </div>
   {{/each}}  
</div>
</div>

