<div class="movies-page">
  <h2 class="title-grid">Ironhack Cinema</h2>
  <p class="subtitle-grid">Click on the movie to check the showtimes!</p>
  <div class="grid-movies">
    {{#each movies}}
      {{>moviesCard}}
    {{/each}}
  </div>
  <div class="create-movie">
  <a href="/create" class="button button-create">Create Movie</a>
  </div>
</div>
