<div class="movies">
  {{#each moviesForHBS}} 
  <div class="movieBox">
    <a href="movie/{{id}}">
        <img src="{{image}}"/>
        <div id="title">{{title}}</div>
    </a>
    </div>
  {{/each}}
</div>