<div class="max">
  <h1>CINEMA IRONHACK</h1>
  <button class="home btn btn-light"><a href="/movies">Check the movies!</a></button>
</div>


<style>
  body{
    background-image: url("http://conarte.org.mx/wp-content/uploads/2017/07/cine-club.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } 

  .max{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 100px;
  }

  .home{
    padding: 10px;
    margin-top: 50px;
    width: 200px;
    color:white;
    border-radius: 20px;
  }

  h1{
    font-size: 5em;
  }

</style>