<h1>Fill in the new movie data:</h1>
<form action = "/movies" method = "post">
  <label for = "title">Title</label>
  <input type = "text" name = "title">
  <label for = "director">Director</label>
  <input type = "text" name = "director">
  <label for = "image">Image URL</label>
  <input type = "text" name = "image">
  <label for = "description">Description</label>
  <input type = "text" name = "description">
  <input type="submit" value="Send">
</form>