<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

{{#each allmovies}}
  <img src="{{ image }}" alt="">
  <p>{{ title }}</p>
  <p><a href="/movie/{{_id}}">see More</a></p>
{{/each}}